@model CargarObligacionesOCreditosModel
@using static gc.infraestructura.Helpers.GridHelper
@{
	var lstCtaDir = Model.listaCtaDir;
}
<style>
	fieldset {
	margin: 8px;
	border: 1px solid silver;
	padding: 8px;
	border-radius: 4px;
	max-width: 100%;
	margin-top: 8px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	}

	legend {
	padding: 2px;
	margin-top: -22px;
	background: #f3f5f7 !important;
	width: 25%;
	text-align: center;
	font-size: small;
	}
</style>
<div class="row mt-2">
	<div class="col-md-5">
		<div class="input-group input-group-sm mt-1" id="divProveedorSeleccionado">
			<span class="input-group-text fixed-lbl-for-abm-70">Cuenta: </span>
			<input type="text" id="CtaID" class="form-control" style="max-width: 100px;text-align: right;" disabled />
			<input type="text" id="CtaDesc" class="form-control" disabled />
		</div>
	</div>
	<div class="col-md-7">
		<div class="input-group input-group-sm mt-1">
			<span class="input-group-text fixed-lbl-for-abm-100" title="Obligaciones a Cancelar">Obl. a Cancelar: </span>
			<input type="text" id="txtObligACancelar" class="form-control align-right" style="background-color: red; color: white;" value="0" disabled />
			<span class="input-group-text fixed-lbl-for-abm-150" title="Créditos y Valores Imputados">Cred. y Val. Imputados: </span>
			<input type="text" id="txtCredYValImputados" class="form-control align-right" style="background-color: dodgerblue; color: white;" value="0" disabled />
			<span class="input-group-text fixed-lbl-for-abm-100">Diferencia: </span>
			<input type="text" id="txtDiferencias" class="form-control align-right" style="background-color: forestgreen; color: white;" value="0" disabled />
		</div>
	</div>
</div>
<div class="row mt-2">
	<div class="col-6">
		<fieldset>
			<legend>Obligaciones</legend>
			<div class="row" id="divObligacionesParaAgregar">
				<div class="table-responsive table-wrapper-200-full-width" id="containerListaObligacionesParaAgregar">
					<table class="table table-bordered table-hover" id="tbListaObligacionesParaAgregar">
						<thead class="table-dark">
							<tr>
								<th style="width:40%;" class="col-header-small align-center tiny-row">Comprobante</th>
								<th style="width:15%;" class="col-header-small align-center tiny-row">Cuota</th>
								<th style="width:15%;" class="col-header-small align-center tiny-row">Vencimiento</th>
								<th style="width:15%;" class="col-header-small align-center tiny-row">Importe</th>
								<th style="width:15%;" class="col-header-small align-center tiny-row">Imputado</th>
								<th style="width:0%;display:none;" class="col-header-small align-center tiny-row">dia_movi</th>
								<th style="width:0%;display:none;" class="col-header-small align-center tiny-row">cm_compte</th>
								<th style="width:0%;display:none;" class="col-header-small align-center tiny-row">tco_id</th>
								<th style="width:0%;display:none;" class="col-header-small align-center tiny-row">cta_id</th>
							</tr>
						</thead>
						<tbody>
							@if (Model.GrillaObligacionesNuevas != null && Model.GrillaObligacionesNuevas.ListaDatos != null && Model.GrillaObligacionesNuevas.ListaDatos.Count > 0)
							{
								@foreach (var item in Model.GrillaObligacionesNuevas.ListaDatos)
								{
									<tr onclick="selectReg(this, 'tbListaObligacionesParaAgregar')" ondblclick="selectRegDbl(this, 'tbListaObligacionesParaAgregar')">
										<td class="@Model.GrillaObligacionesNuevas.ObtenerClase(item.tco_desc)">@Model.GrillaObligacionesNuevas.FormatearDato(item.tco_desc, FormatDato.Ninguno)</td>
										<td class="@Model.GrillaObligacionesNuevas.ObtenerClase(item.cm_compte_cuota)">@Model.GrillaObligacionesNuevas.FormatearDato(item.cm_compte_cuota, FormatDato.Ninguno)</td>
										<td class="@Model.GrillaObligacionesNuevas.ObtenerClase(item.cv_fecha_vto)">@Model.GrillaObligacionesNuevas.FormatearDato(item.cv_fecha_vto, FormatDato.Fecha)</td>
										<td class="@Model.GrillaObligacionesNuevas.ObtenerClase(item.cv_importe)">@Model.GrillaObligacionesNuevas.FormatearDato(item.cv_importe, FormatDato.Monto)</td>
										<td class="@Model.GrillaObligacionesNuevas.ObtenerClase(item.cv_imputado)">@Model.GrillaObligacionesNuevas.FormatearDato(item.cv_imputado, FormatDato.Monto)</td>
										<td style="display:none;">@item.dia_movi</td>
										<td style="display:none;">@item.cm_compte</td>
										<td style="display:none;">@item.tco_id</td>
										<td style="display:none;">@item.cta_id</td>
									</tr>
								}
							}
						</tbody>
					</table>
				</div>
			</div>
			<div class="row justify-content-sm-center mb-1">
				<div class="col-md-2">
					<div class="d-flex justify-content-sm-center">
						<button id="btnAnterior1" class="btn btn-success btn-sm mt-1 me-1" type="button" title="Anterior" disabled>
							<i class="bx bx-arrow-to-left-stroke bx-xs"></i>
						</button>
						<button id="btnSiguiente1" class="btn btn-danger btn-sm mt-1 me-1" type="button" title="Siguiente">
							<i class="bx bx-arrow-to-right-stroke bx-xs"></i>
						</button>
						<button id="btnAbmCancelar" class="btn btn-danger btn-sm mt-1 me-1" type="button" title="Cancelar" onclick="btnAbmCancelar_click();">
							<i class="bx bx-x-circle bx-xs"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="row" id="divObligaciones">
			</div>
		</fieldset>
	</div>
	<div class="col-6">
		<fieldset>
			<legend>Créditos y Valores</legend>
			<div class="row" id="divCreditosParaAgregar">
				<div class="table-responsive table-wrapper-200-full-width" id="containerListaCreditosParaAgregar">
					<table class="table table-bordered table-hover" id="tbListaCreditosParaAgregar">
						<thead class="table-dark">
							<tr>
								<th style="width:55%;" class="col-header-small align-center tiny-row">Comprobante</th>
								<th style="width:15%;" class="col-header-small align-center tiny-row">Cuota</th>
								<th style="width:15%;" class="col-header-small align-center tiny-row">Vencimiento</th>
								<th style="width:15%;" class="col-header-small align-center tiny-row">Importe</th>
								<th style="width:15%;" class="col-header-small align-center tiny-row">Imputado</th>
								<th style="width:0%;display:none;" class="col-header-small align-center tiny-row">dia_movi</th>
								<th style="width:0%;display:none;" class="col-header-small align-center tiny-row">cm_compte</th>
								<th style="width:0%;display:none;" class="col-header-small align-center tiny-row">tco_id</th>
								<th style="width:0%;display:none;" class="col-header-small align-center tiny-row">cta_id</th>
							</tr>
						</thead>
						<tbody>
							@if (Model.GrillaCreditosNueva != null && Model.GrillaCreditosNueva.ListaDatos != null && Model.GrillaCreditosNueva.ListaDatos.Count > 0)
							{
								@foreach (var item in Model.GrillaCreditosNueva.ListaDatos)
								{
									<tr onclick="selectReg(this, 'tbListaCreditosParaAgregar')" ondblclick="selectRegDbl(this, 'tbListaCreditosParaAgregar')">
										<td class="@Model.GrillaCreditosNueva.ObtenerClase(item.tco_desc)">@Model.GrillaCreditosNueva.FormatearDato(item.tco_desc, FormatDato.Ninguno)</td>
										<td class="@Model.GrillaCreditosNueva.ObtenerClase(item.cm_compte_cuota)">@Model.GrillaCreditosNueva.FormatearDato(item.cm_compte_cuota, FormatDato.Ninguno)</td>
										<td class="@Model.GrillaCreditosNueva.ObtenerClase(item.cv_fecha_vto)">@Model.GrillaCreditosNueva.FormatearDato(item.cv_fecha_vto, FormatDato.Fecha)</td>
										<td class="@Model.GrillaCreditosNueva.ObtenerClase(item.cv_importe)">@Model.GrillaCreditosNueva.FormatearDato(item.cv_importe, FormatDato.Monto)</td>
										<td class="@Model.GrillaCreditosNueva.ObtenerClase(item.cv_imputado)">@Model.GrillaCreditosNueva.FormatearDato(item.cv_imputado, FormatDato.Monto)</td>
										<td style="display:none;">@item.dia_movi</td>
										<td style="display:none;">@item.cm_compte</td>
										<td style="display:none;">@item.tco_id</td>
										<td style="display:none;">@item.cta_id</td>
									</tr>
								}
							}
						</tbody>
					</table>
				</div>
			</div>
			<div class="row col-md-6 mb-1">
				<div class="input-group input-group-sm">
					@Html.DropDownListFor(m => m.ctaDir, lstCtaDir, "Seleccionar...", new { @id = "listaCtaDir", disabled = "disabled", @class = "form-control activable" })
					<input type="text" id="txtValorCtaDirSeleccionada" class="form-control activable inputEditable" disabled/>
				</div>
			</div>
			<div class="row" id="divCreditos">
			</div>
		</fieldset>
	</div>
</div>