@using static gc.infraestructura.Constantes.Constantes
@model QueryFilters
@{
	Layout = "~/views/shared/_Layout.cshtml";
	var filtro = new QueryFilters()
			{
				Rel01 = new List<string>(),
				Modelo = ModeloFilter.ORDEN_DE_PAGO_A_PROVEEDORES,
			};
}
@section styles {
	<link rel="stylesheet" href="~/css/simplePagination.css" />
}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="d-flex justify-content-sm-around">
				<button id="btnFiltro" class="btn btn-primary btn-sm mt-1 me-1" type="button" data-bs-toggle="collapse" data-bs-target="#divFiltro" aria-expanded="true" aria-controls="divFiltro">
					<i class="bx bx-filter bx-xs"></i>
				</button>

				<button class="btn btn-primary btn-sm mt-1 me-1" type="button" id="btnDetalle" data-bs-toggle="collapse" data-bs-target="#divDetalle" aria-expanded="true" aria-controls="divDetalle">
					<i class="bx bx-arrow-to-bottom-stroke bx-xs"></i>
				</button>
			</div>
		</div>
		<div class="col-md-2">
			<div class="d-flex justify-content-sm-center">
				<button id="btnAbmAceptar" class="btn btn-success btn-sm mt-1 me-1" type="button" title="Aceptar" disabled>
					<i class="bx bx-check-circle bx-xs"></i>
				</button>
				<button id="btnAbmCancelar" class="btn btn-danger btn-sm mt-1 me-1" type="button" title="Cancelar" disabled>
					<i class="bx bx-x-circle bx-xs"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="collapse" id="divFiltro" style="">
		<partial name="_filtroBase" model="filtro" />
		@Html.Hidden("pagEstado", false);
	</div>
	<div class="collapse" id="divDetalle" style="">
	</div>
</div>

<div id="modalSeleccionValores"></div>

@section scripts {
	<script type="text/javascript">
		var ctaIdSelected = "";
		var autoComRel01Url = "@Url.Action("BuscarProvs", "ordendepagoaproveedor", new { area = "Compras" })";
		var validarProveedorURL = "@Url.Action("ValidarProveedor", "ordendepagoaproveedor", new { area = "Compras" })";
		var cancelarDesdeGrillaDeValidacionesPreviasURL = "@Url.Action("CancelarDesdeGrillaDeValidacionesPrevias", "ordendepagoaproveedor", new { area = "Compras" })";
		var cargarVistaObligacionesYCreditosURL = "@Url.Action("CargarVistaObligacionesYCreditos", "ordendepagoaproveedor", new { area = "Compras" })";
		var cargarObligacionesOCreditosURL = "@Url.Action("CargarObligacionesOCreditos", "ordendepagoaproveedor", new { area = "Compras" })";
		var cargarOSacarObligacionesOCreditosUrl = "@Url.Action("CargarOSacarObligacionesOCreditos", "ordendepagoaproveedor", new { area = "Compras" })";
		var actualizarGrillaObligacionesInferiorUrl = "@Url.Action("ActualizarGrillaObligacionesInferior", "ordendepagoaproveedor", new { area = "Compras" })";
		var actualizarGrillaCreditosInferiorUrl = "@Url.Action("ActualizarGrillaCreditosInferior", "ordendepagoaproveedor", new { area = "Compras" })";
		var actualizarTotalesSuperioresUrl = "@Url.Action("ActualizarTotalesSuperiores", "ordendepagoaproveedor", new { area = "Compras" })";
		var inicializarDatosEnSesionURL = "@Url.Action("InicializarDatosEnSesion", "ordendepagoaproveedor", new { area = "Compras" })";
		var cargarVistaObligacionesYCreditosPaso2Url = "@Url.Action("CargarVistaObligacionesYCreditosPaso2", "ordendepagoaproveedor", new { area = "Compras" })";
		var cargarVistaObligacionesYCreditosPaso1Url = "@Url.Action("CargarVistaObligacionesYCreditosPaso1", "ordendepagoaproveedor", new { area = "Compras" })";
		var cargarRetencionesDesdeObligYCredSeleccionadosUrl = "@Url.Action("CargarRetencionesDesdeObligYCredSeleccionados", "ordendepagoaproveedor", new { area = "Compras" })";
		var cargarValoresDesdeObligYCredSeleccionadosUrl = "@Url.Action("CargarValoresDesdeObligYCredSeleccionados", "ordendepagoaproveedor", new { area = "Compras" })";

		var abrirComponenteDeSeleccionDeValoresUrl = "@Url.Action("AbrirComponente", "selecciondevalores", new { area = "ControlComun" })";

	</script>
	<script src="~/js/app/controlcomun/selecciondevalores.js"></script>
	<script src="~/js/app/areas/ordendepagoaproveedor/odepaproveedor.js"></script>
}