@model GridCoreSmart<NotasACuenta>
@{
}
<div class="table-responsive text-nowrap table-wrapper-300-full-width">
	<table class="table table-sm mb-0 table-hover" id="tbGridNotasACuenta">
		<thead class="table-dark">
			<tr class="header">
				<th><input name="select_all" value="1" type="checkbox"></th>
				<th class="col-header-small align-center">N°</th>
				<th class="col-header-small align-left">Tipo Compte</th>
				<th class="col-header-small align-left">Importe</th>
			</tr>
		</thead>
		<tbody>
			@if (Model != null && Model.ListaDatos != null)
			{
				@foreach (var item in Model.ListaDatos)
				{
					var nombre = "chk" + item.cm_compte + item.tco_id;
					<tr onclick="selectListaRprAsociado(this)">
						<td><input type="checkbox" name=@nombre id="@nombre" /></td> @*00*@
						<td class="align-center">@item.cm_compte</td>
						<td class="align-left">@item.tco_desc_rp</td>
						<td class="align-right">@item.cm_total</td>
						<td style="display:none;">@item.tco_id</td>
						<td style="display:none;">@item.cm_compte_rp</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>
