@using static gc.infraestructura.Constantes.Constantes
@model QueryFilters
@{
	Layout = "~/views/shared/_Layout.cshtml";
	var filtro = new QueryFilters()
			{
				Rel01 = new List<string>(),
				Modelo = ModeloFilter.COMPROBANTE_DE_COMPRA,
			};
}
@section styles {
	<link rel="stylesheet" href="~/css/simplePagination.css" />
}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="d-flex justify-content-sm-around">
				<button id="btnFiltro" class="btn btn-primary btn-sm mt-1 me-1" type="button" data-bs-toggle="collapse" data-bs-target="#divFiltro" aria-expanded="true" aria-controls="divFiltro">
					<i class="bx bx-filter bx-xs"></i>
				</button>

				<button class="btn btn-primary btn-sm mt-1 me-1" type="button" id="btnDetalle" data-bs-toggle="collapse" data-bs-target="#divDetalle" aria-expanded="true" aria-controls="divDetalle">
					<i class="bx bx-arrow-to-bottom bx-xs"></i>
				</button>
			</div>
		</div>
		<div class="col-md-2">
			<div class="d-flex justify-content-sm-center">
				<button id="btnAbmAceptar" class="btn btn-success btn-sm mt-1 me-1" type="button" title="Aceptar" disabled>
					<i class="bx bx-check-circle bx-xs"></i>
				</button>

				<button id="btnAbmCancelar" class="btn btn-danger btn-sm mt-1 me-1" type="button" title="Cancelar" disabled>
					<i class="bx bx-x-circle bx-xs"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="collapse" id="divFiltro" style="">
		<partial name="_filtroBase" model="filtro" />
		@Html.Hidden("pagEstado", false);
	</div>
	<div class="collapse" id="divDetalle" style="">
		<div class="row">
			<div class="col-md-5">
				<div class="input-group input-group-sm mt-1" id="divProveedorSeleccionado">
					<span class="input-group-text fixed-lbl-for-abm-70">Cuenta: </span>
					<input type="text" id="CtaID" class="form-control" style="max-width: 100px;text-align: right;" disabled />
					<input type="text" id="CtaDesc" class="form-control" disabled />
				</div>
			</div>
		</div>
		<ul class="nav nav-tabs mt-2" role="tablist" id="tabsComprobanteDeCompra">
			<li class="nav-item" role="presentation" id="tabComprobante">
				<button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-home" aria-controls="navs-top-home" aria-selected="true" id="btnTabComprobante">
					Comprobante
				</button>
			</li>
			<li class="nav-item" role="presentation" id="tabRpr">
				<button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-profile" aria-controls="navs-top-profile" aria-selected="false" tabindex="-1" id="btnTabRpr">
					RPR
				</button>
			</li>
			<li class="nav-item" role="presentation" id="tabACuenta">
				<button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-resume" aria-controls="navs-top-resume" aria-selected="false" tabindex="-1" id="btnTabACuenta">
					A Cuenta
				</button>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane fade show active" id="navs-top-home" role="tabpanel">
				<div id="divComprobante">
				</div>
			</div>
			<div class="tab-pane fade" id="navs-top-profile" role="tabpanel">
				<div id="divRPR">
				</div>
			</div>
			<div class="tab-pane fade" id="navs-top-resume" role="tabpanel">
				<div id="divACuenta">
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script type="text/javascript">
		var ctaIdSelected = "";
		var ctaDescSelected = "";
		var cellValueTemp = "";
		var idOtroTributoSeleccionado = "";
		var autoComRel01Url = "@Url.Action("BuscarProvs", "comprobantedecompra", new { area = "Compras" })";
		var inicializarComprobanteUrl = "@Url.Action("InicializarComprobante", "comprobantedecompra", new { area = "Compras" })";
		var cargarCargarConceptosFacturadosUrl = "@Url.Action("CargarConceptosFacturados", "comprobantedecompra", new { area = "Compras" })";
		var cargarOtrosTributosUrl = "@Url.Action("CargarOtrosTributos", "comprobantedecompra", new { area = "Compras" })";
		var cargarGrillaTotalesUrl = "@Url.Action("CargarGrillaTotales", "comprobantedecompra", new { area = "Compras" })";
		var actualizarListaOpcionesUrl = "@Url.Action("ActualizarListaOpciones", "comprobantedecompra", new { area = "Compras" })";
		var obtenerGrillaDesdeOpcionSeleccionadaUrl = "@Url.Action("ObtenerGrillaDesdeOpcionSeleccionada", "comprobantedecompra", new { area = "Compras" })";
		var obtenerDatosModalConceptoFacturadoUrl = "@Url.Action("ObtenerDatosModalConceptoFacturado", "comprobantedecompra", new { area = "Compras" })";
		var agregarConceptoFacturadoUrl = "@Url.Action("AgregarConceptoFacturado", "comprobantedecompra", new { area = "Compras" })";
		var quitarItemEnConceptoFacturadoURL = "@Url.Action("QuitarProductoEnConceptoFacturado", "comprobantedecompra", new { area = "Compras" })";
		var editarItemEnOtrosConceptosUrl = "@Url.Action("EditarItemEnOtrosConceptos", "comprobantedecompra", new { area = "Compras" })";
		var obtenerDatosModalOtrosTributosUrl = "@Url.Action("ObtenerDatosModalOtrosTributos", "comprobantedecompra", new { area = "Compras" })";
		var agregarOtroTributoUrl = "@Url.Action("AgregarOtroTributo", "comprobantedecompra", new { area = "Compras" })";
		var quitarItemEnOtrosTributosUrl = "@Url.Action("QuitarItemEnOtrosTributos", "comprobantedecompra", new { area = "Compras" })";
	</script>
	<script src="~/js/app/areas/comprobantedecompra/comprobantedecompra.js"></script>
}