@model GridCoreSmart<ProductoNCPIDto>
@{
}
<style>
	thead th {
		position: sticky;
		top: 0px;
	}
</style>
<div class="table-responsive table-wrapper-full-width" id="containerListaProducto">
	<table class="table table-bordered table-hover" id="tbListaProducto">
		<thead class="table-dark">
			<tr>
				<th style="width:5%;" class="col-header-x-small align-center tiny-row">Código</th>
				<th style="width:20%;" class="col-header-x-small align-center tiny-row">Descripción</th>
				<th style="width:5%;" class="col-header-x-small align-center tiny-row">Cod. Prov</th>
				<th style="width:5%;" class="col-header-x-small align-center tiny-row">PI Pend</th>
				<th style="width:5%;" class="col-header-x-small align-center tiny-row">OC Pend</th>
				<th style="width:5%;" class="col-header-x-small align-center tiny-row">Stock Suc</th>
				<th style="width:5%;" class="col-header-x-small align-center tiny-row">Stock Tot</th>
				<th style="width:0%; display:none;" class="col-header-x-small align-center tiny-row">Stock a Facturar</th>
				<th style="width:5%;" class="col-header-x-small align-center tiny-row">Unidad Pres.</th>
				<th style="width:5%;" class="col-header-x-small align-center tiny-row">Unidad Pallet</th>
				<th style="width:5%;" class="col-header-x-small align-center tiny-row">Pedido Bultos</th>
				<th style="width:5%;" class="col-header-x-small align-center tiny-row">Pedido Cantidad</th>
				<th style="width:5%;" class="col-header-x-small align-center tiny-row">Precio Costo</th>
				<th style="width:5%;" class="col-header-x-small align-center tiny-row">Total Costo</th>
				<th style="width:5%;" class="col-header-x-small align-center tiny-row">Total Pallet</th>
				<th style="width:0%; display:none;">pg_id</th>
				<th style="width:0%; display:none;">rub_id</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.ListaDatos)
			{
				<tr onclick="selectListaProductoRow(this)">
					<td class="align-center tiny-row">@item.p_id</td>
					@if (item.p_activo == "D")
					{
						<td class="align-left tiny-row">@item.p_desc<span style="float:right;" title="Producto discontínuo"><i class="bx bx-dislike"></i></span></td>
					}
					else
					{
						<td class="align-left tiny-row">@item.p_desc</td>
					}
					<td class="align-center tiny-row">@item.p_id_prov</td>
					@if (item.pi_pendiente == 0)
					{
						<td class="align-right tiny-row"></td>
					}
					else
					{
						<td class="align-right tiny-row" style="font-weight:bold;">@item.pi_pendiente</td>
					}
					@if (item.oc_pendiente == 0)
					{
						<td class="align-right tiny-row"></td>
					}
					else
					{
						<td class="align-right tiny-row" style="font-weight:bold;" >@item.oc_pendiente</td>
					}
					<td class="align-right tiny-row">@item.stk_suc</td>
					<td class="align-right tiny-row">@item.stk</td>
					<td style="display:none;">@item.stk_suc_comprometido</td>
					<td class="align-right tiny-row">@item.p_unidad_pres</td>
					<td class="align-right tiny-row">@item.p_unidad_palet</td>
					@if (item.pedido == 0)
					{
						<td id="tdPedido" contenteditable='true' style="text-align: right;padding: 0.325rem 0.30rem;border-style: inset;border-width: medium;" onfocusin="focusOnTdPedido(this);">@item.pedido</td>
						<td class="align-right tiny-row">@item.cantidad</td>
						<td class="align-right tiny-row">@item.costo</td>
						<td class="align-right tiny-row">@item.costo_total</td>
					}
					else
					{
						<td id="tdPedido" contenteditable='true' style="text-align: right;padding: 0.325rem 0.30rem;border-style: inset;border-width: medium;background-color: lightgreen;" onfocusin="focusOnTdPedido(this);">@item.pedido</td>
						<td class="align-right tiny-row" style="background-color: lightgreen;">@item.cantidad</td>
						<td class="align-right tiny-row" style="background-color: lightgreen;">@item.costo</td>
						<td class="align-right tiny-row" style="background-color: lightgreen;">@item.costo_total</td>
					}
					<td class="align-right tiny-row">@item.paletizado</td>
					<td style="display:none;">@item.pg_id</td>
					<td style="display:none;">@item.rub_id</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@section scripts {
	<script type="text/javascript">
		var pedido = "";
		var pIdEditado = "";
		var rowIndex = 0;
	</script>
}