@model GridCore<gc.infraestructura.Dtos.Productos.InfoProdStkA>
@{
}
<div class="table-responsive text-nowrap table-wrapper-200-full">
	<table class="table table-bordered table-hover" id="tbInfoProdStkA">
		<thead class="table-dark">
			<tr>
				<th style="width:40%;" class="col-header-small align-left">Sucursal</th>
				<th style="width:20%;" class="col-header-small align-center">Stk</th>
				<th style="width:20%;" class="col-header-small align-center">Bulto</th>
				<th style="width:20%;" class="col-header-small align-center">UM</th>
				<th style="width:1%;display:none;" class="col-header-small align-center">adm_id</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.ListaDatos)
			{
				<tr onclick="selectListaInfoProdStkD(this)">
					<td class="align-center">@item.Adm_nombre</td>
					<td class="align-center">@item.Ps_stk</td>
					<td class="align-center">@item.Ps_bulto</td>
					<td class="align-center">@item.Up_desc</td>
					<td style="display:none;">@item.Adm_id</td>
				</tr>
			}
		</tbody>
	</table>
</div>