@model NecesidadesDeCompraDto
@{
	Layout = "~/views/shared/_Layout.cshtml";
	var proveedores = Model.ComboProveedores;
	var familiaProveedores = Model.ComboProveedoresFamilia;
	var rubros = Model.ComboRubros;
	var sucursales = Model.ComboSucursales;
	BusquedaProducto busquedaProducto = new();
}
<div class="card">
	<div class="container">
		<div class="row">
			<div class="col-5">
				@* Combos *@
				<div class="col-sm" style="padding-top: 4px;" id="divComboProveedores">
					<div class="input-group fixed-padding-top">
						<span class="input-group-text fixed-width">Proveedor: </span>
						@Html.DropDownList("id", proveedores, "Seleccionar...", new { @id = "listaProveedor", @class = "form-control" })
					</div>
				</div>
				<div id="divComboProveedoresFamilia">
					<div class="col-sm" id="divComboProveedoresFamilia" aria-disabled="true">
						<div class="input-group fixed-padding-top">
							<span class="input-group-text fixed-width">Familia: </span>
							@Html.DropDownList("id", familiaProveedores, "Seleccionar...", new { @id = "listaFamiliaProveedor", @class = "form-control" })
						</div>
					</div>
				</div>
				<div class="col-sm" id="divComboRubros" aria-disabled="true">
					<div class="input-group fixed-padding-top">
						<span class="input-group-text fixed-width">Rubro: </span>
						@Html.DropDownList("id", rubros, "Seleccionar...", new { @id = "listaRubro", @class = "form-control" })
					</div>
				</div>
			</div>
			<div class="col-5" style="padding-top: 8px;">
				<div class="row">
					@* OptionButtons y Buscador de Productos *@
					<fieldset style="margin: 2px;padding: 2px;">
						<legend>
							@* empty title *@
							<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
								<row style="margin-left:4px;">
									<input type="radio" class="btn-check" name="btnradio" id="btnradioPorProveedor" checked="">
									<label class="btn btn-sm btn-outline-primary fixed-font-size-xmall" for="btnradioPorProveedor">Por Proveedor</label>
									<input type="radio" class="btn-check" name="btnradio" id="btnradioSinStk">
									<label class="btn btn-sm btn-outline-primary fixed-font-size-xmall" for="btnradioSinStk">Sin Stk</label>
									<input type="radio" class="btn-check" name="btnradio" id="btnradioConPI">
									<label class="btn btn-sm btn-outline-primary fixed-font-size-xmall" for="btnradioConPI">Con PI</label>
								</row>
								<row>
									<input type="radio" class="btn-check" name="btnradio" id="btnradioPorProveedorFamilia">
									<label class="btn btn-sm btn-outline-primary fixed-font-size-xmall" for="btnradioPorProveedorFamilia">Por Proveedor y Familia</label>
									<input type="radio" class="btn-check" name="btnradio" id="btnradioConStkAVencer">
									<label class="btn btn-sm btn-outline-primary fixed-font-size-xmall" for="btnradioConStkAVencer">Con Stk a Vencer</label>
									<input type="radio" class="btn-check" name="btnradio" id="btnradioConOC">
									<label class="btn btn-sm btn-outline-primary fixed-font-size-xmall" for="btnradioConOC">Con OC</label>
								</row>
								<row>
									<input type="radio" class="btn-check" name="btnradio" id="btnradioPorRubro">
									<label class="btn btn-sm btn-outline-primary fixed-font-size-xmall" for="btnradioPorRubro">Por Rubros</label>
									<input type="radio" class="btn-check" name="btnradio" id="btnradioAltaRotacion">
									<label class="btn btn-sm btn-outline-primary fixed-font-size-xmall" for="btnradioAltaRotacion">Alta Rotación</label>
								</row>
							</div>
						</legend>
					</fieldset>
				</div>
				@* <div class="row">
				<div class="col-8">
				<partial name="~/areas/ControlComun/views/producto/_ctrBuscarProducto.cshtml" model="@busquedaProducto" />
				</div>
				<div class="col-4">
				<input class="form-check-input" type="checkbox" id="chkProductosSimilares" asp-for="@Model.ProductosSimilares">
				<label class="form-check-label" for="chkProductosSimilares"> Productos Similares</label>
				</div>
				</div> *@
			</div>
			<div class="col-2">
				@* Botones *@
				<fieldset style="padding-top: 6px;">
					<legend>
						<a href="#" id="btnOCAuto" class="btn btn-sm btn-primary fixed-font-size"><span>OC Auto</span></a>
						<a href="#" id="btnPasarAOC" class="btn btn-sm btn-primary fixed-font-size"><span>Pasar a OC</span></a>
						<a href="#" id="btnImprimirCtlStk" class="btn btn-sm btn-primary fixed-font-size"><span>Imprimir Ctl Stk</span></a>
					</legend>
				</fieldset>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div id="divListaProducto">
					<div class="table-responsive table-wrapper-full-width" id="containerListaProducto">
						<table class="table table-bordered table-hover" id="tbListaProducto">
							<thead class="table-dark">
								<tr>
									<th style="width:5%;" class="col-header-small align-center">Código</th>
									<th style="width:20%;" class="col-header-small align-center">Descripción</th>
									<th style="width:5%;" class="col-header-small align-center">Cod. Prov</th>
									<th style="width:5%;" class="col-header-small align-center">PI Pend</th>
									<th style="width:5%;" class="col-header-small align-center">OC Pend</th>
									<th style="width:5%;" class="col-header-small align-center">Stock</th>
									<th style="width:5%;" class="col-header-small align-center">Stock en Tránsito</th>
									<th style="width:5%;" class="col-header-small align-center">Stock a Facturar</th>
									<th style="width:5%;" class="col-header-small align-center">Unidad Pres.</th>
									<th style="width:5%;" class="col-header-small align-center">UM</th>
									<th style="width:5%;" class="col-header-small align-center">Pedido Bultos</th>
									<th style="width:5%;" class="col-header-small align-center">Cantidad</th>
									<th style="width:5%;" class="col-header-small align-center">Costo</th>
									<th style="width:5%;" class="col-header-small align-center">Costo Total</th>
									<th style="width:5%;" class="col-header-small align-center">Pallet</th>
									<th style="width:0%; display:none;">pg_id</th>
									<th style="width:0%; display:none;">rub_id</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model.Productos.ListaDatos)
								{
									<tr onclick="selectListaProductoRow(this)">
										<td class="align-center">@item.p_id</td>
										<td class="align-left">@item.p_desc</td>
										<td class="align-center">@item.p_id_prov</td>
										<td class="align-right">@item.pi_pendiente</td>
										<td class="align-right">@item.oc_pendiente</td>
										<td class="align-right">@item.stk</td>
										<td class="align-right">@item.stk_suc_transito</td>
										<td class="align-right">@item.stk_suc_comprometido</td>
										<td class="align-right">@item.p_unidad_pres</td>
										<td class="align-left">@item.up_desc</td>
										<td class="align-right">@item.pedido</td>
										<td class="align-right">@item.cantidad</td>
										<td class="align-right">@item.costo</td>
										<td class="align-right">@item.costo_total</td>
										<td class="align-right">@item.paletizado</td>
										<td style="display:none;">@item.pg_id</td>
										<td style="display:none;">@item.rub_id</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
				<div>
				</div>
			</div>
			@* <div class="col-2">
			<div class="row">
			<div id="divDatosDeStock">
			</div>
			</div>
			<div class="row">
			<div class="input-group">
			<span class="input-group-text">Datos EI/Mes</span>
			<span class="input-group-text fixed-width">Suc: </span>
			@Html.DropDownList("id", sucursales, "Seleccionar...", new { @id = "listaSucursales", @class = "form-control" })
			<span class="input-group-text fixed-width">Meses: </span>
			<input type="number" id="txtMeses" />
			</div>
			<div id="divInfoProdIExMeses">

			</div>
			</div>
			<div class="row">
			<div id="divInfoProdIExSemanas">

			</div>
			</div>
			</div> *@
		</div>
		<div class="row" style="padding-top:10px;">
			@* <div class="nav-align-top mb-4">
			<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item" role="presentation">
			<button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-home" aria-controls="navs-top-home" aria-selected="true">
			<span id="tabOne" class="custom-lbl">Info. Producto</span>
			</button>
			</li>
			<li class="nav-item" role="presentation">
			<button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-profile" aria-controls="navs-top-profile" aria-selected="false" tabindex="-1">
			<span id="tabTwo" class="custom-lbl">Datos de Entrada/Salida</span>
			</button>
			</li>
			<li role="presentation" style="margin-left: 500px;">
			<div class="row">
			<div class="col-7">
			<partial name="~/areas/ControlComun/views/producto/_ctrBuscarProducto.cshtml" model="@busquedaProducto" />
			</div>
			<div class="col-5" style="padding-top:5px;">
			<input class="form-check-input" type="checkbox" id="chkProductosSimilares" asp-for="@Model.ProductosSimilares">
			<label class="form-check-label" for="chkProductosSimilares"> Productos Similares</label>
			</div>
			</div>
			</li>
			</ul>
			<div class="tab-content">
			<div class="tab-pane fade active show" id="navs-top-home" role="tabpanel">
			<div id="divInfoProducto">
			</div>
			</div>
			<div class="tab-pane fade" id="navs-top-profile" role="tabpanel">
			<div id="divInfoES" class="row">
			<div class="col-6">
			<div class="row">
			<div class="input-group">
			<span class="input-group-text custom-lbl">Datos Entradas y Salidas del Mes</span>
			<span class="input-group-text fixed-width">Sucursal: </span>
			@Html.DropDownList("id", sucursales, "Seleccionar...", new { @id = "listaSucursales", @class = "form-control fixed-width" })
			<span class="input-group-text fixed-width-75">Meses: </span>
			<input type="number" id="txtMeses" class="fixed-width-50 align-right" value="1" />
			</div>
			</div>
			<div class="row">
			<div id="divInfoProdIExMeses"></div>
			</div>
			</div>
			<div class="col-6">
			<div class="row">
			<div class="input-group">
			<span class="input-group-text custom-lbl">Datos de Entrada y Salidas últimas semanas</span>
			<span class="input-group-text fixed-width-75">Semanas: </span>
			<input type="number" id="txtSemanas" class="fixed-width-50 align-right" value="1" />
			</div>
			</div>
			<div class="row">
			<div id="divInfoProdIExSemanas"></div>
			</div>
			</div>
			</div>
			</div>
			</div>
			</div> *@
			<div>
				<a class="btn btn-sm btn-primary me-1 collapsed" id="btnCollapseSection" data-bs-toggle="collapse" href="#collapseSection" role="button" aria-expanded="false" aria-controls="collapseSection">
					Info. Adicional
				</a>
			</div>
			<div class="collapse" id="collapseSection" style="">
				<div class="d-grid d-sm-flex p-3 border">
					<div class="row" style="padding-top:10px;">
						<div class="nav-align-top mb-4">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item" role="presentation">
									<button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-home" aria-controls="navs-top-home" aria-selected="true">
										<span id="tabOne" class="custom-lbl">Info. Producto</span>
									</button>
								</li>
								<li class="nav-item" role="presentation">
									<button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-profile" aria-controls="navs-top-profile" aria-selected="false" tabindex="-1">
										<span id="tabTwo" class="custom-lbl">Datos de Entrada/Salida</span>
									</button>
								</li>
								<li class="nav-item" role="presentation">
									<button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-panda" aria-controls="navs-top-profile" aria-selected="false" tabindex="-1">
										<span id="tabThree" class="custom-lbl">Datos de Stock</span>
									</button>
								</li>
								<li role="presentation" style="margin-left: 300px;">
									<div class="row">
										<div class="col-7">
											<partial name="~/areas/ControlComun/views/producto/_ctrBuscarProducto.cshtml" model="@busquedaProducto" />
										</div>
										<div class="col-5" style="padding-top:5px;">
											<input class="form-check-input" type="checkbox" id="chkProductosSimilares" asp-for="@Model.ProductosSimilares">
											<label class="form-check-label" for="chkProductosSimilares"> Productos Similares</label>
										</div>
									</div>
								</li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane fade active show" id="navs-top-home" role="tabpanel">
									<div id="divInfoProducto">
									</div>
								</div>
								<div class="tab-pane fade" id="navs-top-profile" role="tabpanel">
									<div id="divInfoES" class="row">
										<div class="col-6">
											<div class="row">
												<div class="input-group">
													<span class="input-group-text custom-lbl">Datos Entradas y Salidas del Mes</span>
													<span class="input-group-text fixed-width">Sucursal: </span>
													@Html.DropDownList("id", sucursales, "Seleccionar...", new { @id = "listaSucursales", @class = "form-control fixed-width" })
													<span class="input-group-text fixed-width-75">Meses: </span>
													<input type="number" id="txtMeses" class="fixed-width-50 align-right" value="1" />
												</div>
											</div>
											<div class="row">
												<div id="divInfoProdIExMeses"></div>
											</div>
										</div>
										<div class="col-6">
											<div class="row">
												<div class="input-group">
													<span class="input-group-text custom-lbl">Datos de Entrada y Salidas últimas semanas</span>
													<span class="input-group-text fixed-width-75">Semanas: </span>
													<input type="number" id="txtSemanas" class="fixed-width-50 align-right" value="1" />
												</div>
											</div>
											<div class="row">
												<div id="divInfoProdIExSemanas"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="navs-top-panda" role="tabpanel">
									@* <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
										<input type="radio" class="btn-check" name="btnradio" id="btnradioPorSucursal" checked="">
										<label class="btn btn-sm btn-outline-primary fixed-font-size-xmall" for="btnradioPorSucursal">Por Sucursal</label>
										<input type="radio" class="btn-check" name="btnradio" id="btnradioPorDeposito" checked="">
										<label class="btn btn-sm btn-outline-primary fixed-font-size-xmall" for="btnradioPorDeposito">Por Depósito</label>
									</div> *@
									<div id="divInfoStk" class="row">
										<div class="col-6">
											<div class="row">
												<div id="divInfoProductoStkD">
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="row">
												<div id="divInfoProductoStkA">
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			@* <div class="col-10">
			<div id="divInfoProducto">
			</div>
			</div> *@
		</div>
	</div>
</div>

@section scripts {
	<script type="text/javascript">
		var pedido = "";
		var pIdSeleccionado = "";
		var idProvSeleccionado = "";
		var idFamiliaProvSeleccionado = "";
		var idRubroSeleccionado = "";
		var BuscarProductosOCPIURL = "@Url.Action("BuscarProductosOCPI", "ndecypi", new { area = "Compras" })";
		var CargaPedidoOCPIURL = "@Url.Action("CargaPedidoOCPI", "ndecypi", new { area = "Compras" })";
		var busquedaProdBaseUrl = "@Url.Action("BusquedaBase", "producto", new { area = "ControlComun" })";
		var BuscarProveedoresFamiliaURL = "@Url.Action("ObtenerProveedoresFamilia", "ndecypi", new { area = "Compras" })";
		var BuscarInfoProdIExMesesURL = "@Url.Action("BuscarInfoProdIExMeses", "ndecypi", new { area = "Compras" })";
		var BuscarInfoProdIExSemanasURL = "@Url.Action("BuscarInfoProdIExSemanas", "ndecypi", new { area = "Compras" })";
		var BuscarInfoProdStkDepositoURL = "@Url.Action("BuscarInfoProdStkDeposito", "ndecypi", new { area = "Compras" })";
		var BuscarInfoProdStkSucursalURL = "@Url.Action("BuscarInfoProdStkSucursal", "ndecypi", new { area = "Compras" })";
	</script>
	<script src="~/js/app/areas/ndecypi/comun.js"></script>
	<script src="~/js/app/areas/ndecypi/nc.js"></script>
	<script src="~/js/app/busquedas.js" type="text/javascript"></script>
	<script src="~/js/app/controlcomun/rpr.js" type="text/javascript"></script>
	<script src="~/js/app/controlcomun/infoRpr.js" type="text/javascript"></script>
}