@model GridCoreSmart<OPDirectaObligacionesDto>
@using static gc.infraestructura.Helpers.GridHelper
@{
}
<div class="table-responsive table-wrapper-400" id="containerListaObligaciones_Paso1">
	<table class="table table-bordered table-hover" id="tbListaObligaciones_Paso1">
		<thead style="background: darkred;">
			<tr>
				<th style="width:25%;" class="col-header-small align-center tiny-row">Comprobante</th>
				<th style="width:10%;" class="col-header-small align-center tiny-row">Vencimiento</th>
				<th style="width:25%;" class="col-header-small align-center tiny-row">Gasto</th>
				<th style="width:30%;" class="col-header-small align-center tiny-row">Motivo</th>
				<th style="width:10%;" class="col-header-small align-center tiny-row">Imputado</th>
				<th style="width:0%;display:none;" class="col-header-small align-center tiny-row">afip_id</th>
				<th style="width:0%;display:none;" class="col-header-small align-center tiny-row">cm_compte</th>
				<th style="width:0%;display:none;" class="col-header-small align-center tiny-row">tco_id</th>
				<th style="width:0%;display:none;" class="col-header-small align-center tiny-row">cm_cuit</th>
			</tr>
		</thead>
		<tbody>
			@if (Model != null && Model.ListaDatos != null && Model.ListaDatos.Count > 0)
			{
				@foreach (var item in Model.ListaDatos)
				{
					<tr onclick="selectReg(this, 'tbListaObligaciones_Paso1')">
						<td class="@Model.ObtenerClase(item.concepto) cell-fit-content">@Model.FormatearDato(item.concepto, FormatDato.Ninguno)</td>
						<td class="@Model.ObtenerClase(item.fecha_vencimiento) cell-fit-content">@Model.FormatearDato(item.fecha_vencimiento, FormatDato.Fecha)</td>
						<td class="@Model.ObtenerClase(item.gasto) cell-fit-content">@Model.FormatearDato(item.gasto, FormatDato.Ninguno)</td>
						<td class="@Model.ObtenerClase(item.motivo) cell-fit-content">@Model.FormatearDato(item.motivo, FormatDato.Ninguno)</td>
						<td class="@Model.ObtenerClase(item.imputado) cell-fit-content">@Model.FormatearDato(item.imputado, FormatDato.Monto)</td>
						<td style="display:none;">@item.afip_id</td>
						<td style="display:none;">@item.cm_compte</td>
						<td style="display:none;">@item.tco_id</td>
						<td style="display:none;">@item.cm_cuit</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>