@model GridCoreSmart<ConceptoFacturadoDto>
@using static gc.infraestructura.Helpers.GridHelper
@{
	var alt = true;
	string clase = string.Empty;
}
<div class="row">
	<div class="col-md-6" style="display: flex; align-items: center; text-align: justify; margin-top: 5px; margin-bottom: -15px;">
		<h6>Conceptos Facturados</h6>
	</div>
	<div class="col-md-6">
		<button id="btnAgregarConceptoFacturado" class="btn btn-success btn-sm mt-1 me-1" type="button" title="Agregar Concepto Facturado">
			<i class="bx bx-plus bx-xs"></i>
		</button>
	</div>
</div>
<div class="table-responsive text-nowrap table-wrapper-200">
	<table class="table table-sm mb-0 table-hover table-wrapper-fixed-head" id="tbGridConceptoFacturado" style="height: 120px;">
		<thead class="table-dark">
			<tr class="header">
				<th style="width:0%;display:none;" class="col-header-small align-center tiny-row">Id</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Concepto</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Tipo IVA</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Ali IVA</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Subtotal</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">IVA</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Subtotal+IVA</th>
				<th style="width:0.1%;" class="col-header-small align-center tiny-row">Carro</th>
			</tr>
		</thead>
		<tbody>
			@if (Model != null && Model.ListaDatos != null)
			{
				@foreach (var item in Model.ListaDatos)
				{
					if (alt) { clase = "alt"; alt = false; } else { clase = string.Empty; alt = true; }
					
					<tr class="@clase" onclick="selectReg(this, 'tbGridConceptoFacturado')">
						<td style="display:none;">@item.id</td>
						<td class="text-sm-left">@item.concepto.ToUpper()</td>
						<td class="text-sm-center">@item.iva_situacion</td>
						<td class="text-sm-end">@item.iva_alicuota.ToString().Replace('.',',')</td>
						<td class="text-sm-end">@item.getStringFormat(item.subtotal)</td>
						<td class="text-sm-end">@item.iva.ToString("0.00")</td>
						<td class="text-sm-end">@item.total.ToString("0.00")</td>
						<td><a class="btn btn-xs btn-outline-dark" data-interaction="@item.id" onclick="quitarConceptoFacturado(this);"> <i class="bx bxs-trash"></i></a></td> @*20*@
					</tr>
				}
			}
		</tbody>
	</table>
</div>
