@using static gc.infraestructura.Constantes.Constantes
@model QueryFilters
@{
	Layout = "~/views/shared/_Layout.cshtml";
	var filtro = new QueryFilters()
	{
		Rel01 = new List<string>(),
		Modelo = ModeloFilter.ORDEN_DE_PAGO_DIRECTA,
	};
}

<div class="container">
	<div class="row mb-2">
		<div class="col-md-6">
			<div class="d-flex justify-content-sm-around">
				<button id="btnFiltro" class="btn btn-primary btn-sm mt-1 me-1" type="button" data-bs-toggle="collapse" data-bs-target="#divFiltro" aria-expanded="true" aria-controls="divFiltro">
					<i class="bx bx-filter bx-xs"></i>
				</button>

				<button class="btn btn-primary btn-sm mt-1 me-1" type="button" id="btnDetalle" data-bs-toggle="collapse" data-bs-target="#divDetalle" aria-expanded="true" aria-controls="divDetalle" hidden>
					<i class="bx bxs-arrow-to-bottom-stroke"></i>
				</button>
			</div>
		</div>
		<div class="col-md-2">
			<div class="d-flex justify-content-sm-center">
				<button id="btnAbmAceptar" class="btn btn-success btn-sm mt-1 me-1" type="button" title="Aceptar" disabled hidden>
					<i class="bx bx-file-plus"></i>
				</button>
				<button id="btnAbmCancelar" class="btn btn-danger btn-sm mt-1 me-1" type="button" title="Cancelar" disabled hidden>
					<i class="bx bx-x-circle bx-xs"></i>
				</button>
			</div>
		</div>
		<div class="collapse col-md-2">
			<div class="d-flex justify-content-sm-end">
				<!-- Botón Imprimir -->
				<button type="button" class="btn btn-golden btn-sm mt-1 me-1 btnImprimir" title="Imprimir">
					<i class="bx bx-printer"></i>
				</button>
				<button type="button" class="btn btn-golden btn-sm mt-1 me-1 btnImprimir" id="btnImprimirTemp" title="Imprimir Temporal">
					<i class="bx bx-printer"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="collapse" id="divFiltro" style="">
		<partial name="_filtroBase" model="filtro" />
		@Html.Hidden("pagEstado", false);
	</div>
	<div class="collapse" id="divDetalle" style="">
	</div>
</div>

@section scripts {
	<script type="text/javascript">
		var tipoOPSelected = "";
		var autoComRel03Url = "@Url.Action("BuscarMotivos", "ordendepagodirecta", new { area = "Compras" })";
		var buscarTiposDeOrdenDePagoUrl = "@Url.Action("BuscarTiposDeOrdenDePago", "ordendepagodirecta", new { area = "Compras" })";
		var aceptarDesdeSeleccionarTipoDeOPUrl = "@Url.Action("AceptarDesdeSeleccionarTipoDeOP", "ordendepagodirecta", new { area = "Compras" })";
		var buscarTiposComptesUrl = "@Url.Action("BuscarTiposComptes", "ordendepagodirecta", new { area = "Compras" })";
		var obtenerDatosModalConceptoFacturadoUrl = "@Url.Action("ObtenerDatosModalConceptoFacturado", "ordendepagodirecta", new { area = "Compras" })";
		var agregarConceptoFacturadoUrl = "@Url.Action("AgregarConceptoFacturado", "ordendepagodirecta", new { area = "Compras" })";
		var cargarCargarConceptosFacturadosUrl = "@Url.Action("CargarConceptosFacturados", "ordendepagodirecta", new { area = "Compras" })";
		var cargarGrillaTotalesUrl = "@Url.Action("CargarGrillaTotales", "ordendepagodirecta", new { area = "Compras" })";
		var obtenerDatosModalOtrosTributosUrl = "@Url.Action("ObtenerDatosModalOtrosTributos", "ordendepagodirecta", new { area = "Compras" })";
		var quitarItemEnConceptoFacturadoURL = "@Url.Action("QuitarItemEnConceptoFacturado", "ordendepagodirecta", new { area = "Compras" })";
		var quitarItemEnOtrosTributosUrl = "@Url.Action("QuitarItemEnOtrosTributos", "ordendepagodirecta", new { area = "Compras" })";
		var agregarOtroTributoUrl = "@Url.Action("AgregarOtroTributo", "ordendepagodirecta", new { area = "Compras" })";
		var cargarOtrosTributosUrl = "@Url.Action("CargarOtrosTributos", "ordendepagodirecta", new { area = "Compras" })";
		var editarItemEnOtrosConceptosUrl = "@Url.Action("EditarItemEnOtrosConceptos", "ordendepagodirecta", new { area = "Compras" })";
		var agregarItemEnOpdPaso1Url = "@Url.Action("AgregarItemEnOpdPaso1", "ordendepagodirecta", new { area = "Compras" })";
		var limpiarVariablesDeSesionUrl = "@Url.Action("LimpiarVariablesDeSesion", "ordendepagodirecta", new { area = "Compras" })";
		var cargarGrillaObligacionesUrl = "@Url.Action("CargarGrillaObligaciones", "ordendepagodirecta", new { area = "Compras" })";
		var actualizarTotalesSuperioresUrl = "@Url.Action("ActualizarTotalesSuperiores", "ordendepagodirecta", new { area = "Compras" })";
		var cargarDatosDeComprobanteSeleccionadoUrl = "@Url.Action("CargarDatosDeComprobanteSeleccionado", "ordendepagodirecta", new { area = "Compras" })";
		var cargarOtrosTributosDesdeSeleccionUrl = "@Url.Action("CargarOtrosTributosDesdeSeleccion", "ordendepagodirecta", new { area = "Compras" })";
		var cargarConceptosFacturadosDesdeSeleccionUrl = "@Url.Action("CargarConceptosFacturadosDesdeSeleccion", "ordendepagodirecta", new { area = "Compras" })";
		var cargarGrillaTotalesDesdeSeleccionUrl = "@Url.Action("CargarGrillaTotalesDesdeSeleccion", "ordendepagodirecta", new { area = "Compras" })";
	</script>

	<script src="~/js/app/areas/comun/comun.js"></script>
	<script src="~/js/app/areas/ordendepagodirecta/odepagodirecta.js"></script>
}