@model CuentaAbmModel
@{
	var aux = new CuentaAbmModel();
	aux = Model;
	var afip = Model.ComboAfip;
	var nj = Model.ComboNatJud;
	var tipoDoc = Model.ComboTipoDoc;
	var ib = Model.ComboIngBruto;
	var provi = Model.ComboProvincia;
	var depto = Model.ComboDepartamento;
	var tipoCueBco = Model.ComboTipoCuentaBco;
}
<div class="container">
	<div class="row">
		<div class="col-4">
			<div class="input-group input-group-sm">
				<span class="input-group-text">ID</span>
				<input type="text" asp-for="Cliente.Cta_Id" class="form-control" readonly />
				<input type="checkbox" asp-for="Cliente.Cta_Activa" class="form-check-input" value="" id="chkCtaActiva">
				<label class="form-check-label" for="chkCtaActiva"> ACTIVO</label>
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-text">Deno</span>
				<input type="text" asp-for="Cliente.Cta_Denominacion" class="form-control" readonly />
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-text">AFIP: </span>
				@Html.DropDownListFor(m => m.Cliente.Afip_Id, afip, "Seleccionar...", new { @id = "listaAfip", @class = "form-control" })
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-text">NJ: </span>
				@Html.DropDownListFor(m => m.Cliente.Nj_Id, nj, "Seleccionar...", new { @id = "listaNJ", @class = "form-control" })
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-text">Doc.Tipo.: </span>
				@Html.DropDownListFor(m => m.Cliente.Tdoc_Id, tipoDoc, "Seleccionar...", new { @id = "listaTipoDoc", @class = "form-control" })
				<span class="input-group-text">N°: </span>
				<input type="text" asp-for="Cliente.Cta_Documento" class="form-control" readonly />
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-text">IB: </span>
				@Html.DropDownListFor(m => m.Cliente.Ib_Id, ib, "Seleccionar...", new { @id = "listaIB", @class = "form-control" })
				<span class="input-group-text">N°: </span>
				<input type="text" asp-for="Cliente.Cta_Ib_Nro" class="form-control" readonly />
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-text">Prov: </span>
				@Html.DropDownListFor(m => m.Cliente.Prov_Id, provi, "Seleccionar...", new { @id = "listaProvi", @class = "form-control" })
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-text">Dpto: </span>
				@Html.DropDownListFor(m => m.Cliente.Dep_Id, depto, "Seleccionar...", new { @id = "listaDepto", @class = "form-control" })
				<span class="input-group-text">CP: </span>
				<input type="text" asp-for="Cliente.Cta_Cpostal" class="form-control" readonly />
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-text">Domi</span>
				<input type="text" asp-for="Cliente.Cta_Domicilio" class="form-control" readonly />
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-text">TE</span>
				<input type="text" asp-for="Cliente.Cta_Te" class="form-control" readonly />
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-text">Celu</span>
				<input type="text" asp-for="Cliente.Cta_Celu" class="form-control" readonly />
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-text">Email</span>
				<input type="text" asp-for="Cliente.Cta_Email" class="form-control" readonly />
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-text">WWW</span>
				<input type="text" asp-for="Cliente.Cta_Www" class="form-control" readonly />
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-text">Cta: </span>
				@Html.DropDownListFor(m => m.Cliente.Tcb_Id, tipoCueBco, "Seleccionar...", new { @id = "listaTipoCueBco", @class = "form-control" })
				<span class="input-group-text">N°: </span>
				<input type="text" asp-for="Cliente.Cta_Bco_Cuenta_Nro" class="form-control" readonly />
			</div>
			<div class="input-group input-group-sm">
				<span class="input-group-text">CBU</span>
				<input type="text" asp-for="Cliente.Cta_Bco_Cuenta_Cbu" class="form-control" readonly />
			</div>
		</div>
		<div class="col-4">
		</div>
		<div class="col-4">
		</div>
	</div>
</div>