@model CuentaABMNotaModel
@{
}
<div class="row">
	<div class="col-md-8">
		<div class="row">
			<div class="card">
				<div class="card-body mt-1">
					<div class="table-responsive text-nowrap table-wrapper-200-full">
						<table class="table table-sm mb-0 table-hover" id="tbClienteNotas">
							<thead class="table-dark">
								<tr class="header">
									<th class="col-header-small align-center">Nota</th>
									<th class="col-header-small align-center">Usuario</th>
									<th class="col-header-small align-center">Fecha</th>
									<th style="width:0%; display:none;">usu_id</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model.CuentaNotas.ListaDatos)
								{
									<tr onclick="selectRegCli(this, 'tbClienteNotas')" ondblclick="selectRegDbl(this, 'tbClienteNotas')">
										<td class="align-left">@item.nota</td>
										<td class="align-left">@item.usu_apellidoynombre</td>
										<td class="align-left">@item.fecha.ToString("dd/MM/yyyy")</td>
										<td style="display:none;">@item.usu_id</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div id="divDatosDeNotaSelected">
			<div class="row" style="padding-top: 10px;">
				@Html.HiddenFor(x => x.Nota.usu_id)
				<div class="row mt-1">
					<div class="input-group input-group-sm">
						<span class="input-group-text fixed-lbl-for-abm-70">Usuario: </span>
						<input type="text" asp-for="Nota.usu_apellidoynombre" class="form-control activable" />
					</div>
				</div>
				<div class="row mt-1">
					<div class="input-group input-group-sm">
						<span class="input-group-text fixed-lbl-for-abm-70">Nota: </span>
						<input type="text" asp-for="Nota.nota" class="form-control activable" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

