@model CuentaAbmFPModel
@{
	var tipoCueBco = Model.ComboTipoCuentaBco;
	var fp = Model.ComboFormasDePago;
}
<div class="row">
	<div class="col-md-6">
		<div class="row mt-1">
			<div class="card">
				<div class="card-body mt-1">
					<div class="table-responsive text-nowrap table-wrapper-200-full">
						<table class="table table-sm mb-0 table-hover" id="tbClienteFormaPagoEnTab">
							<thead class="table-dark">
								<tr class="header">
									<th class="col-header-small align-center">Forma de Pago</th>
									<th class="col-header-small align-center">Plazo</th>
									<th style="width:0%; display:none;">fp_id</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model.CuentaFormasDePago.ListaDatos)
								{
									<tr onclick="selectRegCli(this, 'tbClienteFormaPagoEnTab')" ondblclick="selectRegDbl(this, 'tbClienteFormaPagoEnTab')">
										<td class="align-left">@item.fp_desc</td>
										<td class="align-center">@item.fp_dias</td>
										<td style="display:none;">@item.fp_id</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div id="divDatosDeFPSelected">
			<div class="row" style="padding-top: 10px;">
				@Html.HiddenFor(x => x.FormaDePago.Fp_Id)
				<div class="row mt-1">
					<div class="input-group input-group-sm">
						<span class="input-group-text fixed-lbl-for-abm-70">FP: </span>
						@Html.DropDownListFor(m => Model.FormaDePago.Fp_Id, fp, "Seleccionar...", new { @id = "listaFP", @class = "form-control activable" })
						<span class="input-group-text fixed-lbl-for-abm-70">Plazo: </span>
						<input type="number" asp-for="FormaDePago.Fp_Dias" class="form-control activable" />
					</div>
				</div>
				<div class="row mt-1">
					<div class="input-group input-group-sm">
						<span class="input-group-text fixed-lbl-for-abm-70">Obs: </span>
						<input type="text" asp-for="FormaDePago.Cta_Obs" class="form-control activable" />
					</div>
				</div>
				<div class="row mt-1">
					<div class="input-group input-group-sm">
						<span class="input-group-text fixed-lbl-for-abm-70">Cta: </span>
						@Html.DropDownListFor(m => Model.FormaDePago.Tcb_Id, tipoCueBco, "Seleccionar...", new { @id = "listaTipoCueBco", @class = "form-control activable" })
						<span class="input-group-text fixed-lbl-for-abm-70">N°: </span>
						<input type="text" asp-for="FormaDePago.Cta_Bco_Cuenta_Nro" class="form-control activable" />
					</div>
				</div>
				<div class="row mt-1">
					<div class="input-group input-group-sm">
						<span class="input-group-text fixed-lbl-for-abm-70">CBU: </span>
						<input type="text" asp-for="FormaDePago.Cta_Bco_Cuenta_Cbu" class="form-control activable" />
					</div>
				</div>
				<div class="row mt-1">
					<div class="input-group input-group-sm">
						<span class="input-group-text fixed-lbl-for-abm-70">Valores a: </span>
						<input type="text" asp-for="FormaDePago.Cta_Valores_A_Nombre" class="form-control activable" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>