@model CuentaABMObservacionesModel
@{
	var cmb = Model.ComboTipoObs;
}
<div class="row">
	<div class="col-md-8">
		<div class="row">
			<div class="card">
				<div class="card-body mt-1">
					<div class="table-responsive text-nowrap table-wrapper-200-full">
						<table class="table table-sm mb-0 table-hover" id="tbClienteObservaciones">
							<thead class="table-dark">
								<tr class="header">
									<th class="col-header-small align-center">Observacion</th>
									<th class="col-header-small align-center">Tipo</th>
									<th style="width:0%; display:none;">to_id</th>
								</tr>
							</thead>
							<tbody>
								@if (Model != null && Model.CuentaObservaciones != null && Model.CuentaObservaciones.ListaDatos != null)
								{
									@foreach (var item in Model.CuentaObservaciones.ListaDatos)
									{
										<tr onclick="selectRegCli(this, 'tbClienteObservaciones')" ondblclick="selectRegDbl(this, 'tbClienteObservaciones')">
											<td class="align-left">@item.cta_obs</td>
											<td class="align-left">@item.to_desc</td>
											<td style="display:none;">@item.to_id</td>
										</tr>
									}
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div id="divDatosDeObsSelected">
			<div class="row" style="padding-top: 10px;">
				@Html.HiddenFor(x => x.Observacion.To_Id)
				<div class="row mt-1">
					<div class="input-group input-group-sm">
						<span class="input-group-text fixed-lbl-for-abm-70">Tipo: </span>
						@Html.DropDownListFor(m => Model.Observacion.To_Id, cmb, "Seleccionar...", new { @id = "listaTipoObs", @class = "form-control activable" })
					</div>
				</div>
				<div class="row mt-1">
					<div class="input-group input-group-sm">
						<span class="input-group-text fixed-lbl-for-abm-70">Observación: </span>
						<input type="text" asp-for="Observacion.Cta_Obs" class="form-control activable" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
