@model DatosModalCargaPreviaDto
@{
	var depositos = Model.ComboDepositos;
	var boxes = Model.ComboBoxes;
}

<div class="modal-header">
	<h5 class="modal-title" id="modalCenterTitle"></h5>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
	<fieldset>
		<legend>
			<h5 id="leyendaNuevoProducto">Productos de Depósito/Box</h5>
		</legend>
		<div class="col-sm" id="divDepositosEnCargaPrevia">
			<div class="input-group fixed-padding-top">
				<span class="input-group-text fixed-width">Depósito: </span>
				@Html.DropDownList("id", depositos, "Seleccionar...", new { @id = "listaDepositoEnCargaPrevia", @class = "form-control" })
			</div>
		</div>
		<div id="divComboBoxesEnCargaPrevia">
			<div class="col-sm" id="divComboBoxEnCargaPrevia" aria-disabled="true">
				<div class="input-group fixed-padding-top">
					<span class="input-group-text fixed-width">Box: </span>
					@Html.DropDownList("id", boxes, "Seleccionar...", new { @id = "listaBoxEnCargaPrevia", @class = "form-control" })
				</div>
			</div>
		</div>
		<div id="divListaProductosParaAgregar" style="padding-top:5px;">
			<div class="table-responsive table-wrapper-full-width">
				<table class="table table-bordered table-hover" id="tbListaProductosParaAgregar">
					<thead class="table-dark">
						<tr>
							<th style="width:1%;"><input name="select_all" value="1" type="checkbox"></th>
							<th style="width:5%;" class="col-header-small align-center">ID</th>
							<th style="width:20%;" class="col-header-small align-center">Descripción</th>
							<th style="width:5%;" class="col-header-small align-center">ID Prov.</th>
							<th style="width:5%;" class="col-header-small align-center">Ajuste</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.ListaProductos.ListaDatos)
						{
							var nombre = "chk" + item.p_id;
							<tr onclick="selectListaProductoRow(this)">
								<td><input type="checkbox" name=@nombre /></td>
								<td class="align-center">@item.p_id</td>
								<td class="align-left">@item.p_desc</td>
								<td class="align-center">@item.p_id_prov</td>
								<td class="align-right">@item.cantidad</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</fieldset>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
		Cerrar
	</button>
	<button type="button" class="btn btn-primary" onclick="seleccionarProductosDesdeCargaPrevia();">Seleccionar</button>
</div>