@model GridCoreSmart<CompteValorizaListaDto>
@using static gc.infraestructura.Helpers.GridHelper
@{
}

<div class="table-responsive table-wrapper-400-full-width" id="containerListaValorizacion">
	<table class="table table-bordered table-hover" id="tbListaValorizacion">
		<thead class="table-dark">
			<tr>
				<th style="width:20%;" class="col-header-small align-center tiny-row">Comprobante</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">No Gravado</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Exento</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Gravado</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">IVA</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">II</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Percep.</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Otros NG</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Total</th>
				<th style="width:0%;display:none;" class="col-header-small align-center tiny-row">resultado</th>
				<th style="width:0%;display:none;" class="col-header-small align-center tiny-row">resultado_msj</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.ListaDatos)
			{
				var nombre = "chk" + item.cm_compte;
				<tr onclick="selectListaValorizacion(this)">
					<td class="@Model.ObtenerClase(item.cm_compte_obs)">@Model.FormatearDato(item.cm_compte_obs, FormatDato.Ninguno)</td>
					<td class="@Model.ObtenerClase(item.cm_no_gravado)">@Model.FormatearDato(item.cm_no_gravado, FormatDato.Monto)</td>
					<td class="@Model.ObtenerClase(item.cm_exento)">@Model.FormatearDato(item.cm_exento, FormatDato.Monto)</td>
					<td class="@Model.ObtenerClase(item.cm_gravado)">@Model.FormatearDato(item.cm_gravado, FormatDato.Monto)</td>
					<td class="@Model.ObtenerClase(item.cm_iva)">@Model.FormatearDato(item.cm_iva, FormatDato.Monto)</td>
					<td class="@Model.ObtenerClase(item.cm_ii)">@Model.FormatearDato(item.cm_ii, FormatDato.Monto)</td>
					<td class="@Model.ObtenerClase(item.cm_percepciones)">@Model.FormatearDato(item.cm_percepciones, FormatDato.Monto)</td>
					<td class="@Model.ObtenerClase(item.cm_otro_ng)">@Model.FormatearDato(item.cm_otro_ng, FormatDato.Monto)</td>
					<td class="@Model.ObtenerClase(item.cm_total)">@Model.FormatearDato(item.cm_total, FormatDato.Monto)</td>
					<td style="display:none;">@item.resultado</td>
					<td style="display:none;">@item.resultado_msj</td>
				</tr>
			}
		</tbody>
	</table>
</div>