@model GridCoreSmart<CompteValorizaDtosListaDto>
@using static gc.infraestructura.Helpers.GridHelper
@{
}

<div class="table-responsive table-wrapper-400-full-width" id="containerListaDescFinanc">
	<table class="table table-bordered table-hover" id="tbListaDescFinanc">
		<thead class="table-dark">
			<tr>
				<th style="width:15%;" class="col-header-small align-center tiny-row">Neto Fijo</th>
				<th style="width:15%;" class="col-header-small align-center tiny-row">Dto/Tot</th>
				<th style="width:25%;" class="col-header-small align-center tiny-row">Concepto</th>
				<th style="width:15%;" class="col-header-small align-center tiny-row">Dto %</th>
				<th style="width:15%;" class="col-header-small align-center tiny-row">Neto</th>
				<th style="width:15%;" class="col-header-small align-center tiny-row"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.ListaDatos)
			{
				var nombre1 = "chkNetoFijo" + item.cm_compte;
				var nombre2 = "chkDtoTot" + item.cm_compte;
				<tr onclick="selectListaDescFinanc(this)">
					<td class="@Model.ObtenerClase(item.dto_fijo_bool)"><input type="checkbox" name=@nombre1 id="@nombre1" /></td> @*00*@
					<td class="@Model.ObtenerClase(item.dto_sobre_total_bool)"><input type="checkbox" name=@nombre2 id="@nombre2" /></td> @*00*@
					<td class="@Model.ObtenerClase(item.dtoc_desc)">@Model.FormatearDato(item.dtoc_desc, FormatDato.Ninguno)</td>
					<td class="@Model.ObtenerClase(item.dto)">@Model.FormatearDato(item.dto, FormatDato.Monto)</td>
					<td class="@Model.ObtenerClase(item.dto_importe)">@Model.FormatearDato(item.dto_importe, FormatDato.Monto)</td>
					<td><a class="btn btn-xs btn-outline-dark" data-interaction="@item.cm_compte" onclick="quitarDescFinanc(this);"> <i class="bx bxs-trash"></i></a></td> @*20*@
				</tr>
			}
		</tbody>
	</table>
</div>
