@model GridCoreSmart<CompteValorizaDtosListaDto>
@using static gc.infraestructura.Helpers.GridHelper
@{
}

<div class="table-responsive table-wrapper-400-full-width" id="containerListaDescFinanc">
	<table class="drageable-table table table-bordered table-hover" id="tbListaDescFinanc">
		<thead class="table-dark">
			<tr>
				<th style="width:0%;display:none;" class="col-header-small align-center tiny-row">Item</th>
				<th style="width:15%;" class="col-header-small align-center tiny-row">Neto Fijo</th>
				<th style="width:15%;" class="col-header-small align-center tiny-row">Dto/Tot</th>
				<th style="width:25%;" class="col-header-small align-center tiny-row">Concepto</th>
				<th style="width:15%;" class="col-header-small align-center tiny-row">Dto %</th>
				<th style="width:15%;" class="col-header-small align-center tiny-row">Neto</th>
				<th style="width:15%;" class="col-header-small align-center tiny-row"></th>
				<th style="width:0%;display:none;" class="col-header-small align-center tiny-row">cm_compte</th>
				<th style="width:0%;display:none;" class="col-header-small align-center tiny-row">dia_movi</th>
				<th style="width:0%;display:none;" class="col-header-small align-center tiny-row">tco_id</th>
				<th style="width:0%;display:none;" class="col-header-small align-center tiny-row">dtoc_id</th>
				<th style="width:0%;display:none;" class="col-header-small align-center tiny-row">dto_obs</th>
			</tr>
		</thead>
		<tbody>
			@if (Model != null && Model.ListaDatos != null)
			{
				@foreach (var item in Model.ListaDatos)
				{
					var nombre1 = "chkNetoFijo" + item.cm_compte;
					var nombre2 = "chkDtoTot" + item.cm_compte;
					<tr onclick="selectListaDescFinanc(this)" class="sortme">
						<td style="display:none;">@item.item</td>
						@if (item.dto_fijo_bool)
						{
							<td class="@Model.ObtenerClase(item.dto_fijo_bool)"><input type="checkbox" class="chkNetoFijo" name=@nombre1 id="@nombre1" checked disabled /></td>
						}
						else
						{
							<td class="@Model.ObtenerClase(item.dto_fijo_bool)"><input type="checkbox" class="chkNetoFijo" name=@nombre1 id="@nombre1" disabled /></td>
						}
						@if (item.dto_sobre_total_bool)
						{
							<td class="@Model.ObtenerClase(item.dto_sobre_total_bool)"><input type="checkbox" class="chkDtoTot" name=@nombre2 id="@nombre2" checked disabled /></td>
						}
						else
						{
							<td class="@Model.ObtenerClase(item.dto_sobre_total_bool)"><input type="checkbox" class="chkDtoTot" name=@nombre2 id="@nombre2" disabled /></td>
						}
						<td class="@Model.ObtenerClase(item.dtoc_desc)">@Model.FormatearDato(item.dtoc_desc, FormatDato.Ninguno)</td>
						<td class="@Model.ObtenerClase(item.dto)">@Model.FormatearDato(item.dto, FormatDato.Monto)</td>
						<td class="@Model.ObtenerClase(item.dto_importe)">@Model.FormatearDato(item.dto_importe, FormatDato.Monto)</td>
						<td><a class="btn btn-xs btn-outline-dark" data-interaction="@item.item" onclick="quitarDescFinanc(this);"> <i class="bx bxs-trash"></i></a></td> @*20*@
						<td style="display:none;">@item.cm_compte</td>
						<td style="display:none;">@item.dia_movi</td>
						<td style="display:none;">@item.tco_id</td>
						<td style="display:none;">@item.dtoc_id</td>
						<td style="display:none;">@item.dto_obs</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>
