@model TabDetalleRprModel
@using static gc.infraestructura.Helpers.GridHelper
@{
}
<style>
	thead th {
	position: sticky;
	top: 0px;
	}
</style>
<div class="row" style="padding-top: 10px;">
	<div id="divListaDetalleRpr">
		<div class="table-responsive table-wrapper-400-full-width" id="containerListaDetalleRpr">
			<table class="table table-bordered table-hover" id="tbListaDetalleRpr">
				<thead class="table-dark">
					<tr>
						<th colspan="2" class="col-header-x-small align-center"></th>
						<th colspan="9" class="col-header-x-small align-center">Precio OC y Cantidad RP</th>
						<th colspan="9" class="col-header-x-small align-center">Factura</th>
						<th colspan="2" class="col-header-x-small align-center">Valorización</th>
					</tr>
					<tr>
						<th style="width:2%;" class="col-header-small align-center tiny-row">ID</th>
						<th style="width:25%;" class="col-header-small align-center tiny-row">Descripcion</th>
						<th style="width:5%;" class="col-header-small align-center tiny-row">P. Lista</th>@*Precio OC y Cantidad RP*@
						<th style="width:5%;" class="col-header-small align-center tiny-row">D1</th>
						<th style="width:5%;" class="col-header-small align-center tiny-row">D2</th>
						<th style="width:5%;" class="col-header-small align-center tiny-row">D3</th>
						<th style="width:5%;" class="col-header-small align-center tiny-row">D4</th>
						<th style="width:5%;" class="col-header-small align-center tiny-row">Dpa</th>
						<th style="width:5%;" class="col-header-small align-center tiny-row">Boni.</th>
						<th style="width:5%;" class="col-header-small align-center tiny-row">Costo</th>
						<th style="width:5%;" class="col-header-small align-center tiny-row">Recibido</th>
						<th style="width:5%;" class="col-header-small align-center tiny-row">P. Lista</th>@*Factura*@
						<th style="width:5%;" class="col-header-small align-center tiny-row">D1</th>
						<th style="width:5%;" class="col-header-small align-center tiny-row">D2</th>
						<th style="width:5%;" class="col-header-small align-center tiny-row">D3</th>
						<th style="width:5%;" class="col-header-small align-center tiny-row">D4</th>
						<th style="width:5%;" class="col-header-small align-center tiny-row">Dpa</th>
						<th style="width:5%;" class="col-header-small align-center tiny-row">Boni.</th>
						<th style="width:5%;" class="col-header-small align-center tiny-row">Costo</th>
						<th style="width:5%;" class="col-header-small align-center tiny-row">Cant. Fact.</th>
						<th style="width:2%;" class="col-header-small align-center tiny-row">DC</th>@*Factura*@
						<th style="width:2%;" class="col-header-small align-center tiny-row">DP</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.GrillaDetalleRpr.ListaDatos)
					{
						var nombre = item.p_id + "_";
						var nombre_ocd_plista = nombre + "ocd_plista";
						var nombre_ocd_dto1 = nombre + "ocd_dto1";
						var nombre_ocd_dto2 = nombre + "ocd_dto2";
						var nombre_ocd_dto3 = nombre + "ocd_dto3";
						var nombre_ocd_dto4 = nombre + "ocd_dto4";
						var nombre_ocd_dto_pa = nombre + "ocd_dto_pa";
						var nombre_ocd_boni = nombre + "ocd_boni";
						var nombre_rpd_plista = nombre + "rpd_plista";
						var nombre_rpd_dto1 = nombre + "rpd_dto1";
						var nombre_rpd_dto2 = nombre + "rpd_dto2";
						var nombre_rpd_dto3 = nombre + "rpd_dto3";
						var nombre_rpd_dto4 = nombre + "rpd_dto4";
						var nombre_rpd_dto_pa = nombre + "rpd_dto_pa";
						var nombre_rpd_boni = nombre + "rpd_boni";
						var nombre_rpd_cantidad_compte = nombre + "rpd_cantidad_compte";
						<tr onclick="selectListaDetalleRpr(this)" title="oc_compte: @item.oc_compte // rp_compte: @item.rp_compte">
						@*0*@ <td class="@Model.GrillaDetalleRpr.ObtenerClase(item.p_id)">@Model.GrillaDetalleRpr.FormatearDato(item.p_id, FormatDato.Ninguno)</td>
						@*1*@ <td class="@Model.GrillaDetalleRpr.ObtenerClase(item.p_desc)">@Model.GrillaDetalleRpr.FormatearDato(item.p_desc, FormatDato.Ninguno)</td>
						@*2*@ <td class="@Model.GrillaDetalleRpr.ObtenerClase(item.ocd_plista) content-editable-td inputEditable" contenteditable='true' onfocusin="focusOnTd(this);" onkeyup="keyUpFromEditableCell(this);" id="@nombre_ocd_plista">@item.ocd_plista.ToString().Replace('.',',')</td>
						@*3*@ <td class="@Model.GrillaDetalleRpr.ObtenerClase(item.ocd_dto1) content-editable-td inputEditable" contenteditable='true' onfocusin="focusOnTd(this);" onkeyup="keyUpFromEditableCell(this);" id="@nombre_ocd_dto1">@item.ocd_dto1.ToString().Replace('.', ',')</td>
						@*4*@ <td class="@Model.GrillaDetalleRpr.ObtenerClase(item.ocd_dto2) content-editable-td inputEditable" contenteditable='true' onfocusin="focusOnTd(this);" onkeyup="keyUpFromEditableCell(this);" id="@nombre_ocd_dto2">@item.ocd_dto2.ToString().Replace('.', ',')</td>
						@*5*@ <td class="@Model.GrillaDetalleRpr.ObtenerClase(item.ocd_dto3) content-editable-td inputEditable" contenteditable='true' onfocusin="focusOnTd(this);" onkeyup="keyUpFromEditableCell(this);" id="@nombre_ocd_dto3">@item.ocd_dto3.ToString().Replace('.', ',')</td>
						@*6*@ <td class="@Model.GrillaDetalleRpr.ObtenerClase(item.ocd_dto4) content-editable-td inputEditable" contenteditable='true' onfocusin="focusOnTd(this);" onkeyup="keyUpFromEditableCell(this);" id="@nombre_ocd_dto4">@item.ocd_dto4.ToString().Replace('.', ',')</td>
						@*7*@ <td class="@Model.GrillaDetalleRpr.ObtenerClase(item.ocd_dto_pa) content-editable-td inputEditable" contenteditable='true' onfocusin="focusOnTd(this);" onkeyup="keyUpFromEditableCell(this);" id="@nombre_ocd_dto_pa">@item.ocd_dto_pa.ToString().Replace('.', ',')</td>
						@*8*@ <td class="@Model.GrillaDetalleRpr.ObtenerClase(item.ocd_boni) content-editable-td inputEditable" contenteditable='true' onfocusin="focusOnTd(this);" onkeyup="keyUpFromEditableCell(this);" id="@nombre_ocd_boni">@Model.GrillaDetalleRpr.FormatearDato(item.ocd_boni, FormatDato.Monto)</td>
						@*9*@ <td class="@Model.GrillaDetalleRpr.ObtenerClase(item.ocd_pcosto)">@Model.GrillaDetalleRpr.FormatearDato(item.ocd_pcosto, FormatDato.Monto)</td>
						@*10*@<td class="@Model.GrillaDetalleRpr.ObtenerClase(item.rpd_cantidad)">@Model.GrillaDetalleRpr.FormatearDato(item.rpd_cantidad, FormatDato.Monto)</td>
						@*11*@<td class="@Model.GrillaDetalleRpr.ObtenerClase(item.rpd_plista) content-editable-td inputEditable" contenteditable='true' onfocusin="focusOnTd(this);" onkeyup="keyUpFromEditableCell(this);" id="@nombre_rpd_plista">@item.rpd_plista.ToString().Replace('.', ',')</td>
						@*12*@<td class="@Model.GrillaDetalleRpr.ObtenerClase(item.rpd_dto1) content-editable-td inputEditable" contenteditable='true' onfocusin="focusOnTd(this);" onkeyup="keyUpFromEditableCell(this);" id="@nombre_rpd_dto1">@item.rpd_dto1.ToString().Replace('.', ',')</td>
						@*13*@<td class="@Model.GrillaDetalleRpr.ObtenerClase(item.rpd_dto2) content-editable-td inputEditable" contenteditable='true' onfocusin="focusOnTd(this);" onkeyup="keyUpFromEditableCell(this);" id="@nombre_rpd_dto2">@item.rpd_dto2.ToString().Replace('.', ',')</td>
						@*14*@<td class="@Model.GrillaDetalleRpr.ObtenerClase(item.rpd_dto3) content-editable-td inputEditable" contenteditable='true' onfocusin="focusOnTd(this);" onkeyup="keyUpFromEditableCell(this);" id="@nombre_rpd_dto3">@item.rpd_dto3.ToString().Replace('.', ',')</td>
						@*15*@<td class="@Model.GrillaDetalleRpr.ObtenerClase(item.rpd_dto4) content-editable-td inputEditable" contenteditable='true' onfocusin="focusOnTd(this);" onkeyup="keyUpFromEditableCell(this);" id="@nombre_rpd_dto4">@item.rpd_dto4.ToString().Replace('.', ',')</td>
						@*16*@<td class="@Model.GrillaDetalleRpr.ObtenerClase(item.rpd_dto_pa) content-editable-td inputEditable" contenteditable='true' onfocusin="focusOnTd(this);" onkeyup="keyUpFromEditableCell(this);" id="@nombre_rpd_dto_pa">@item.rpd_dto_pa.ToString().Replace('.', ',')</td>
						@*17*@<td class="@Model.GrillaDetalleRpr.ObtenerClase(item.rpd_boni) content-editable-td inputEditable" contenteditable='true' onfocusin="focusOnTd(this);" onkeyup="keyUpFromEditableCell(this);" id="@nombre_rpd_boni">@Model.GrillaDetalleRpr.FormatearDato(item.rpd_boni, FormatDato.Monto)</td>
						@*18*@<td class="@Model.GrillaDetalleRpr.ObtenerClase(item.rpd_pcosto)">@Model.GrillaDetalleRpr.FormatearDato(item.rpd_pcosto, FormatDato.Monto)</td>
						@*19*@<td class="@Model.GrillaDetalleRpr.ObtenerClase(item.rpd_cantidad_compte) content-editable-td inputEditable" contenteditable='true' onfocusin="focusOnTd(this);" onkeyup="keyUpFromEditableCell(this);" id="@nombre_rpd_cantidad_compte">@item.rpd_cantidad_compte.ToString().Replace('.', ',')</td>
						@*20*@<td class="@Model.GrillaDetalleRpr.ObtenerClase(item.p_id)"></td>
						@*21*@<td class="@Model.GrillaDetalleRpr.ObtenerClase(item.p_id)"></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
