@using System.Text
@using static gc.infraestructura.Helpers.GridHelper
@using static gc.infraestructura.Constantes.Constantes
@model GridCoreSmart<UserDto>

@{
    var dataMod = new UserDto();
    var alt = true;
    string clase = string.Empty;
    string color = string.Empty;
    string sortDirInv = Model.SortDir.Equals("ASC") ? "DESC" : "ASC";
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive text-nowrap  table-wrapper">
            <table class="table table-sm mb-0 table-hover table-wrapper-fixed-head" id="tbGridUsers">
                <thead class="table-dark">
                    <tr class="header">

                        <th class="text-sm-center" scope="col">Logon</th>
                        <th class="text-sm-center" scope="col">Apellido y Nombre</th>
                        <th class="text-sm-center" scope="col">Bloqueado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaDatos)
                    {
                        string block;
                        if (alt) { clase = "alt"; alt = false; } else { clase = ""; alt = true; }
                        if (item.usu_bloqueado)
                        {
                            block = "SI";
                            color = EstadoColor.NoActivo;
                        }
                        else
                        {
                            block = "NO";
                            color = EstadoColor.Activo;
                        }
                        <tr class="@clase" onclick="selectRegUser(this,'tbGridUsers')">
                            <!--ondblclick="selectAbmRegDbl(this,'tbGridProd')"-->
                            <td class="@Model.ObtenerClase(item.usu_id)" style="border-left: 5px solid @color;text-align: left;">@Model.FormatearDato(item.usu_id, FormatDato.Ninguno)</td>
                            <td class="@Model.ObtenerClase(item.usu_apellidoynombre)">@Model.FormatearDato(item.usu_apellidoynombre,FormatDato.Ninguno)</td>
                            <td class="@Model.ObtenerClase(item.usu_bloqueado)">@Model.FormatearDato(block, FormatDato.BandSN)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row m-3">
            <table style="width:300px;text-align:center">
                <tr><td colspan="3" class="text-md-center"><strong>ESTADOS</strong></td></tr>
                <tr>
                    <td style="background-color: @EstadoColor.Activo;color:#FFFFFF;font-weight:600;">NO BLOQUEADO</td>
                    <td style="background-color: @EstadoColor.NoActivo;color:#FFFFFF;font-weight:600;">BLOQUEADO</td>
                </tr>
            </table>
        </div>
    </div>
</div>