@model GridCore<ABMProductoSearchDto>

@{
    var dataMod = new ABMProductoSearchDto();
    var alt = true;
    string clase = string.Empty;
    string sortDirInv = Model.SortDir.Equals("ASC") ? "DESC" : "ASC";
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive text-nowrap  table-wrapper">
            <table class="table table-sm mb-0 table-hover" id="tbGridProd">
                <thead class="table-dark">
                    <tr class="header">
                        <th scope="col">@nameof(dataMod.P_id)</th>
                        <th scope="col">@nameof(dataMod.P_desc)</th>
@*                         <th scope="col">@nameof(dataMod.cta_id)</th>
                        <th scope="col">@nameof(dataMod.Cta_denominacion)</th> *@
                        <th scope="col">@nameof(dataMod.Cta_lista)</th>
@*                         <th scope="col">@nameof(dataMod.rub_id)</th>
                        <th scope="col">@nameof(dataMod.rub_desc)</th> *@
                        <th scope="col">@nameof(dataMod.rub_lista)</th>
@*                         <th scope="col">@nameof(dataMod.p_activo)</th> *@
                        <th scope="col">@nameof(dataMod.p_activo_des)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaDatos)
                    {
                        if (alt) { clase = "alt"; alt = false; } else { clase = string.Empty; alt = true; }

                        <tr class="@clase">
                            <td class="text-sm-center">@item.P_id</td>
                            <td class="text-sm-start">@item.P_desc</td>
@*                             <td class="text-sm-end">@item.cta_id</td>
                            <td class="text-sm-start">@item.Cta_denominacion</td> *@
                            <td class="text-sm-start">@item.Cta_lista</td>
@*                             <td class="text-sm-end">@item.rub_id</td>
                            <td class="text-sm-start">@item.rub_desc</td> *@
                            <td class="text-sm-start">@item.rub_lista</td>
@*                             <td class="text-sm-center">@item.p_activo</td> *@
                            <td class="text-sm-start">@item.p_activo_des</td>
                        </tr>
                    }
                    
                </tbody>
               @*  <tfoot>
                    <tr>
                        <td colspan="10">
                            
                           @*  @Html.PagedListPager(
                                     (IPagedList)Model.ListaDatos,
                                     page => Url.Action("Index", "abmproducto", new { page = page, area = "abms", sort = Model.Sort, sortdir = sortDirInv }), new PagedListRenderOptions
                            {
                                LiElementClasses = new string[] { "page-item" },
                                PageClasses = new string[] { "page-link" },
                                Display = PagedListDisplayMode.IfNeeded
                            }) * @
                        </td>
                    </tr>
                </tfoot> *@
            </table>           
        </div>
    </div>
</div>