@model GridCore<TRAutSucursalesDto>

<div class="table-responsive text-nowrap table-wrapper">
	<table class="table table-bordered table-hover" id="tbListaSucursales">
		<thead class="table-dark">
			<tr>
				<th style="width:80%;">Sucursal Destino</th>
				<th style="width:20%;">PS</th>
				<th style="width:20%;">PI</th>
				<th style="width:0%; display:none;">adm_id</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.ListaDatos)
			{
				<tr onclick="selectTRSucursalesRow(this)">
					<td>@item.adm_nombre</td>
					@if (item.tiene_ordenes)
					{
						<td><input type="checkbox" name="tieneOrdenes" value="@item.tiene_ordenes" checked disabled="disabled" /></td>
					}
					else
					{
						<td><input type="checkbox" name="tieneOrdenes" value="@item.tiene_ordenes" disabled="disabled" /></td>
					}
					@if (item.tiene_pi)
					{
						<td><input type="checkbox" name="tienePI" value="@item.tiene_pi" checked disabled="disabled" /></td>
					}
					else
					{
						<td><input type="checkbox" name="tienePI" value="@item.tiene_pi" disabled="disabled" /></td>
					}
					<td style="display:none;">@item.adm_id</td>
				</tr>
			}
		</tbody>
	</table>
</div>