@model GridCore<TRNuevaAutDetalleDto>

<div class="table-responsive text-nowrap table-wrapper">
	<table class="table table-bordered table-hover" id="tbNuevaAutListaProductos">
		<thead class="table-dark">
			<tr>
				<th style="width:5%;" class="align-center">ID</th>
				<th style="width:25%;" class="align-center">Descripción</th>
				<th style="width:8%;" class="align-center">Id Prov</th>
				<th style="width:8%;" class="align-center">PI</th>
				<th style="width:8%;" class="align-center">Stk Suc</th>
				<th style="width:8%;" class="align-center">Pedido</th>
				<th style="width:8%;" class="align-center">A transf.</th>
				<th style="width:10%;" class="align-center">Dif</th>
				<th style="width:10%;" class="align-center">Box</th>
				<th style="width:10%;" class="align-center">A transf. Box</th>
				<th style="width:5%;" class="align-center">Nota</th>
				<th style="width:0%; display:none;">sustituto</th>
				<th style="width:0%; display:none;">adm_id</th>
				<th style="width:0%; display:none;">depo_id</th>
				<th style="width:0%; display:none;">depo_nombre</th>
				<th style="width:0%; display:none;">rub_id</th>
				<th style="width:0%; display:none;">rub_nombre</th>
				<th style="width:0%; display:none;">box_id</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.ListaDatos)
			{
				<tr onclick="selectNuevaAutListaProductosRow(this)">
					<td class="align-center">@item.p_id</td>
					<td class="align-left">@item.p_desc</td>
					<td class="align-center">@item.p_id_prov</td>
					<td class="align-center">@item.pi_compte</td>
					<td class="align-right">@item.stk</td>
					<td class="align-right">@item.stk_adm</td>
					<td class="align-right">@item.a_transferir</td>
					<td class="align-right">@item.a_transferir</td>
					<td class="align-center">@item.box_id</td>
					<td class="align-right">@item.a_transferir_box</td>
					<td>
						@if (item.nota != "")
						{
							<a class="btn btn-xs btn-outline-success" data-interaction="@item.p_id" onclick="verNotaEnProducto(this);"> <i class="bx bx-detail"></i></a>
						}
					</td>
					@if (item.p_sustituto)
					{
						<td style="display:none;"><input type="checkbox" name="p_sustituto" value="@item.p_sustituto" checked disabled="disabled" /></td>
					}
					else
					{
						<td style="display:none;"><input type="checkbox" name="p_sustituto" value="@item.p_sustituto" disabled="disabled" /></td>
					}
					<td style="display:none;">@item.adm_id</td>
					<td style="display:none;">@item.depo_id</td>
					<td style="display:none;">@item.depo_nombre</td>
				</tr>
			}
		</tbody>
	</table>
</div>