@model GridCore<TRAutPIDto>

<div class="table-responsive text-nowrap table-wrapper-xs">
	<table class="table table-bordered table-hover" id="tbListaPedidosSucursal">
		<thead class="table-dark">
			<tr>
				<th style="width:15%;">N° PI</th>
				<th style="width:10%;">Fecha</th>
				<th style="width:10%;">Estado</th>
				<th style="width:30%;">Nota</th>
				<th style="width:15%;">Tipo</th>
				<th style="width:10%;">Det</th>
				<th style="width:10%;">Carga</th>
				<th style="width:0%; display:none;">adm_id</th>
				<th style="width:0%; display:none;">adm_desc</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.ListaDatos)
			{
				<tr onclick="selectTRPedidoSucursalRow(this)">
					<td>@item.pi_compte</td>
					<td>@item.pi_fecha.ToString("dd-MM-yyyy")</td>
					<td>@item.pie_desc</td>
					<td>@item.pi_nota</td>
					<td>@item.pit_desc</td>
					<td><a asp-action="VerDetallePedidoDeSucursal" asp-controller="Transferencia" asp-area="Compras" class="btn btn-xs btn-outline-success" asp-route-picompte="@item.pi_compte"> <i class="bx bx-detail"></i></a></td>
					<td><a class="btn btn-xs btn-outline-primary" data-interaction="@item.pi_compte" onclick="selectPI(this);"> <i class="bx bx-plus-circle"></i></a></td>
					@* <td><input type="button" class="btn btn-xs btn-outline-primary" data-interaction="@item.pi_compte" onclick="selectPI(this);" /><i class="bx bx-plus-circle"></i></td> *@
					<td style="display:none;">@item.adm_id</td>
					<td style="display:none;">@item.adm_desc</td>
				</tr>
			}
		</tbody>
	</table>
</div>
