@model GridCore<TRPendienteDto>
@{
	Layout = "~/views/shared/_Layout.cshtml";
}
<div class="card">
	<row>
		<input type="text" id="rp_id" style="visibility:hidden" />
		<div style="float:left">
			<div class="card-header">
				<h5>Autorizaciones TR</h5>
				<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
					<input type="radio" class="btn-check" name="btnradio" id="btnradioSucursales" checked="">
					<label class="btn btn-outline-primary" for="btnradioSucursales">TR Sucursales</label>
					<input type="radio" class="btn-check" name="btnradio" id="btnradioDepositos">
					<label class="btn btn-outline-primary" for="btnradioDepositos">TR Depósitos</label>
				</div>
			</div>
		</div>
		<div class="demo-inline-spacing" style="float:right;margin-top: 60px;margin-right: 55px;">
			<a asp-action="NuevaTR" asp-controller="Transferencia" asp-area="Compras" class="btn btn-primary fixed-width-130" id="btnNuevaAut" title="Agregar Autorización de Transferencia">
				<span class="tf-icons bx bx-plus-circle me-1"></span>Nueva
			</a>
			<a href="#" id="btnModificarAut" class="btn btn-secondary fixed-width-130" title="Modificar Autorización de Transferencia"><span class="tf-icons bx bx-edit me-1">Modificar</span></a>
			<a href="#" id="btnVer" class="btn btn-success fixed-width-130" title="Visualizar datos de Autorización" onclick="verTransferencia();return false;"><span class="tf-icons bx bxs-binoculars me-1">Ver</span></a>
		</div>
	</row>
	<div class="card-body">
		<div id="divListaAutorizaciones">
			<div class="table-responsive text-nowrap table-wrapper">
				<table class="table table-bordered table-hover" id="tbListaAutorizaciones">
					<thead class="table-dark">
						<tr>
							<th style="width:10%;" class="align-center">N° Auto</th>
							<th style="width:10%;" class="align-center">Sucursal</th>
							<th style="width:10%;" class="align-center">Fecha</th>
							<th style="width:50%;" class="align-center">Nota</th>
							<th style="width:10%;" class="align-center">PI</th>
							<th style="width:10%;" class="align-center">Estado</th>
							<th style="width:0%; display:none;">adm_id_des</th>
							<th style="width:0%; display:none;">usu_id</th>
							<th style="width:0%; display:none;">tie_id</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.ListaDatos)
						{
							<tr onclick="selectTRRow(this)">
								<td class="align-center">@item.ti</td>
								<td>@item.adm_nombre</td>
								<td class="align-center">@item.fecha.ToString("dd/MM/yyyy")</td>
								<td>@item.nota</td>
								<td class="align-center">@item.pi_compte</td>
								<td class="align-center">@item.tie_desc</td>
								<td style="display:none;">@item.adm_id_des</td>
								<td style="display:none;">@item.usu_id</td>
								<td style="display:none;">@item.tie_id</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script type="text/javascript">
		var admSeleccionado = "";
		var trSeleccionada = "";
		var sucSeleccionada = "";
		var titId = "";
		var TRAutorizacionesListaPorSucursalUrl = "@Url.Action("TRAutorizacionesListaPorSucursal", "transferencia", new { area = "Compras" })";
		var TRVerTransferenciaUrl = "@Url.Action("TRVerTransferencia", "transferencia", new { area = "Compras" })";
	</script>
	<script src="~/js/app/areas/transferencias/trAutorizacionesLista.js"></script>
}