@model TRCRUDDto
@{
	Layout = "~/views/shared/_Layout.cshtml";
}
<div class="card">
	<div class="container">
		<div class="row">
			<div class="col-4">
				<fieldset>
					<legend>
						<h5>Sucursales</h5>
					</legend>
					<div id="divListaSucursales">
						<div class="table-responsive text-nowrap table-wrapper">
							<table class="table table-bordered table-hover" id="tbListaSucursales">
								<thead class="table-dark">
									<tr>
										<th style="width:80%;">Sucursal Destino</th>
										<th style="width:20%;">PS</th>
										<th style="width:20%;">PI</th>
										<th style="width:0%; display:none;">adm_id</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model.ListaAutSucursales.ListaDatos)
									{
										<tr onclick="selectTRSucursalesRow(this)">
											<td>@item.adm_nombre</td>
											@if (item.tiene_ordenes)
											{
												<td><input type="checkbox" name="tieneOrdenes" value="@item.tiene_ordenes" checked disabled="disabled" /></td>
											}
											else
											{
												<td><input type="checkbox" name="tieneOrdenes" value="@item.tiene_ordenes" disabled="disabled" /></td>
											}
											@if (item.tiene_pi) //TODO: continuar con la funcionalidad de doble columna en lista de sucursales
											{
												<td><input type="checkbox" name="tienePI" value="@item.tiene_pi" checked disabled="disabled" /></td>
											}
											else
											{
												<td><input type="checkbox" name="tienePI" value="@item.tiene_pi" disabled="disabled" /></td>
											}
											<td style="display:none;">@item.adm_id</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="col-8">
				<fieldset>
					<legend>
						<h5>Pedido de Sucursal</h5>
					</legend>
					<div id="divListaPedidosSucursal">
						<div class="table-responsive text-nowrap table-wrapper-xs">
							<table class="table table-bordered table-hover" id="tbListaPedidosSucursal">
								<thead class="table-dark">
									<tr>
										<th style="width:15%;">N° PI</th>
										<th style="width:10%;">Fecha</th>
										<th style="width:10%;">Estado</th>
										<th style="width:30%;">Nota</th>
										<th style="width:15%;">Tipo</th>
										<th style="width:10%;">Det</th>
										<th style="width:10%;">Carga</th>
										<th style="width:0%; display:none;">adm_id</th>
										<th style="width:0%; display:none;">adm_desc</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model.ListaPedidosSucursal.ListaDatos)
									{
										<tr onclick="selectTRPedidoSucursalRow(this)">
											<td>@item.pi_compte</td>
											<td>@item.pi_fecha.ToString("dd-MM-yyyy")</td>
											<td>@item.pie_desc</td>
											<td>@item.pi_nota</td>
											<td>@item.pit_desc</td>
											@* <td><a asp-action="VerDetallePedidoDeSucursal" asp-controller="Transferencia" asp-area="Compras" class="btn btn-xs btn-outline-success" asp-route-picompte="@item.pi_compte"> <i class="bx bx-detail"></i></a></td> *@
											<td><a class="btn btn-xs btn-outline-success" data-interaction="@item.pi_compte" onclick="verDetalleDePedido(this);"> <i class="bx bx-detail"></i></a></td>
											<td><a class="btn btn-xs btn-outline-primary" data-interaction="@item.pi_compte" onclick="agregarAPedidosIncl(this);"> <i class="bx bx-plus-circle"></i></a></td>
											<td style="display:none;">@item.adm_id</td>
											<td style="display:none;">@item.adm_desc</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<legend>
						<h5>Pedidos Incluidos para Autorizar TR</h5>
					</legend>
					<div id="divListaPedidosIncluidos">
						<div class="table-responsive text-nowrap table-wrapper-xs">
							<table class="table table-bordered table-hover" id="tbListaPedidosIncluidos">
								<thead class="table-dark">
									<tr>
										<th style="width:15%;">Sucursal</th>
										<th style="width:10%;">N° PI</th>
										<th style="width:10%;">Fecha</th>
										<th style="width:10%;">Estado</th>
										<th style="width:20%;">Nota</th>
										<th style="width:15%;">Tipo</th>
										<th style="width:10%;">Det</th>
										<th style="width:10%;">Carga</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model.ListaPedidosIncluidos.ListaDatos)
									{
										<tr onclick="selectTRPedidoIncluidoRow(this)">
											<td>@item.adm_desc</td>
											<td>@item.pi_compte</td>
											<td>@item.pi_fecha.ToString("dd-MM-yyyy")</td>
											<td>@item.pie_desc</td>
											<td>@item.pi_nota</td>
											<td>@item.pit_desc</td>
											@* <td><a asp-action="VerDetallePedidoDeSucursal" asp-controller="Transferencia" asp-area="Compras" class="btn btn-xs btn-outline-success" asp-route-picompte="@item.pi_compte"> <i class="bx bx-detail"></i></a></td> *@
											<td><a class="btn btn-xs btn-outline-success" data-interaction="@item.pi_compte" onclick="verDetalleDePedido(this);"> <i class="bx bx-detail"></i></a></td>
											<td><a class="btn btn-xs btn-outline-danger" data-interaction="@item.pi_compte" onclick="quitarDePedidosIncl(this);"> <i class="bx bx-minus-circle"></i></a></td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</fieldset>
				<div>
					<div class="row">
						<div class="col-4">
							<fieldset>
								<legend>
									<h5>Depósitos de Envío</h5>
								</legend>
								<div id="divDepositosDeEnvio">
									<div class="table-responsive text-nowrap table-wrapper">
										<table class="table table-bordered table-hover" id="tbDepositosDeEnvio">
											<thead class="table-dark">
												<tr>
													<th style="width:80%;">Depósito</th>
													<th style="width:20%;">Sele</th>
													<th style="width:0%; display:none;">depo_id</th>
												</tr>
											</thead>
											<tbody>
												@foreach (var item in Model.ListaDepositosDeEnvio.ListaDatos)
												{
													<tr onclick="selectTRDepositosDeEnvioRow(this)">
														<td>@item.depo_nombre</td>
														<td><input type="checkbox" name="tienePI" id="chkTienePI" value="@item.seleccionado" @((item.seleccionado == false ? "" : "checked")) /></td>
														@* <td>@item.seleccionado</td> *@
														<td style="width:0%; display:none;">@item.depo_id</td>
													</tr>
												}
											</tbody>
										</table>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="col-8">
							<fieldset>
								<legend>
									<h5>Opciones</h5>
								</legend>
								<div id="divOpciones">
									<div class="row">
										<div>
											<div class="col-sm">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" id="chkConsiderarStock" @((Model.ConsiderarStockExistente == false ? "" : "checked")) asp-for="@Model.ConsiderarStockExistente">
													<label class="form-check-label" for="chkConsiderarStock"> Considerar STK Existente de Sucursales</label>
												</div>
											</div>
											<div class="col-sm">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" id="chkModificarYSustituto" @((Model.ModificarYSustituto == false ? "" : "checked")) asp-for="@Model.ModificarYSustituto">
													<label class="form-check-label" for="chkModificarYSustituto"> Modificar y Sustituto</label>
												</div>
											</div>
											<div class="col-sm">
												<div>
													<div class="row">
														<div class="form-check col-7" style="padding-left: 6.8%;">
															<input class="form-check-input" type="checkbox" id="chkMaxPallet" @((Model.MaximoPalletXAuto == false ? "" : "checked")) asp-for="@Model.MaximoPalletXAuto">
															<label class="form-check-label" for="chkMaxPallet"> Máximo Pallet x Autorización de TR</label>
														</div>
														<div class="col-5">
															<input type="number" id="txtMaxPallet" class="form-control" min="1" max="80" style="width: 45%;" value="@Model.MaximoPalletXAutoValor">
														</div>
													</div>
												</div>
											</div>
											<div class="col-sm">
												<a asp-action="TRAutorizacionesLista" asp-controller="Transferencia" asp-area="Compras" class="btn btn-primary" id="btnNuevaAut">
													<span class="tf-icons bx bx-left-arrow-circle"></span>Regresar
												</a>
												<a href="#" id="btnAnalizar" class="btn btn-success"><span class="tf-icons bx bx-check-circle me-1">Analizar</span></a>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalCenter" tabindex="-1" style="display: none;" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div id="divDetalleDePedido">
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script type="text/javascript">
		var TRCargarPedidosPorSucursalUrl = "@Url.Action("CargarPedidosPorSucursal", "transferencia", new { area = "Compras" })";
		var TRCargarDepositosInclPorSucursalUrl = "@Url.Action("CargarDepositosInclPorSucursal", "transferencia", new { area = "Compras" })";
		var TRAgregarAPedidosIncluidosParaAutUrl = "@Url.Action("AgregarAPedidosIncluidosParaAutTR", "transferencia", new { area = "Compras" })";
		var TRQuitarDePedidosIncluidosParaAutUrl = "@Url.Action("QuitarDePedidosIncluidosParaAutTR", "transferencia", new { area = "Compras" })";
		var TRActualizarInfoEnListaDeSucursalesUrl = "@Url.Action("ActualizarInfoEnListaDeSucursalesTR", "transferencia", new { area = "Compras" })";
		var TRAnalizarParametrosUrl = "@Url.Action("AnalizarParametros", "transferencia", new { area = "Compras" })";
		var TRAbrirVistaAutorizacionesUrl = "@Url.Action("AbrirVistaEdicionNuevasAutYDetalleTR", "transferencia", new { area = "Compras" })";
		var TRVerDetallePedidoDeSucursalUrl = "@Url.Action("VerDetallePedidoDeSucursal", "transferencia", new { area = "Compras" })";
	</script>
	<script src="~/js/app/areas/transferencias/trCrudAutorizacion.js"></script>
}