@model TRCRUDDto
@{
	Layout = "~/views/shared/_Layout.cshtml";
}
<div class="card">
	<div class="container">
		<div class="row">
			<div class="col-4">
				<fieldset>
					<legend>
						<h5>Sucursales</h5>
					</legend>
					<div class="table-responsive text-nowrap table-wrapper">
						<table class="table table-bordered table-hover" id="tbListaSucursales">
							<thead class="table-dark">
								<tr>
									<th style="width:80%;">Sucursal Destino</th>
									<th style="width:20%;">PI</th>
									<th style="width:0%; display:none;">adm_id</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model.ListaAutSucursales.ListaDatos)
								{
									<tr onclick="selectTRSucursalesRow(this)">
										<td>@item.adm_nombre</td>
										<td><input type="checkbox" name="tieneOrdenes" value="@item.tiene_ordenes" /></td>
										<td style="display:none;">@item.adm_id</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</fieldset>
			</div>
			<div class="col-8">
				<fieldset>
					<legend>
						<h5>Pedido de Sucursal</h5>
					</legend>
					<div id="divListaPedidosSucursal">
						<div class="table-responsive text-nowrap table-wrapper">
							<table class="table table-bordered table-hover" id="tbListaPedidosSucursal">
								<thead class="table-dark">
									<tr>
										<th style="width:15%;">N° PI</th>
										<th style="width:10%;">Fecha</th>
										<th style="width:10%;">Estado</th>
										<th style="width:30%;">Nota</th>
										<th style="width:15%;">Tipo</th>
										<th style="width:10%;">Det</th>
										<th style="width:10%;">Carga</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model.ListaAutPI.ListaDatos)
									{
										<tr onclick="selectTRPedidoSucursalRow(this)">
											<td>@item.pi_compte</td>
											<td>@item.pi_fecha.ToString("dd-MM-yyyy")</td>
											<td>@item.pie_desc</td>
											<td>@item.pi_nota</td>
											<td>@item.pit_desc</td>
											<td>@item.pit_desc</td> @* //TODO: Reemplazar por botones *@
											<td>@item.pit_desc</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<legend>
						<h5>Pedidos Incluidos para Autorizar TR</h5>
					</legend>
					<div id="divListaPedidosIncluidos">
						<div class="table-responsive text-nowrap table-wrapper">
							<table class="table table-bordered table-hover" id="tbListaPedidosIncluidos">
								<thead class="table-dark">
									<tr>
										<th style="width:15%;">Sucursal</th>
										<th style="width:10%;">N° PI</th>
										<th style="width:10%;">Fecha</th>
										<th style="width:10%;">Estado</th>
										<th style="width:20%;">Nota</th>
										<th style="width:15%;">Tipo</th>
										<th style="width:10%;">Det</th>
										<th style="width:10%;">Carga</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model.ListaPedidosIncluidos.ListaDatos)
									{
										<tr onclick="selectTRPedidoIncluidoRow(this)">
											<td></td>
											<td>@item.pi_compte</td>
											<td>@item.pi_fecha.ToString("dd-MM-yyyy")</td>
											<td>@item.pie_desc</td>
											<td>@item.pi_nota</td>
											<td>@item.pit_desc</td>
											<td>@item.pit_desc</td> @* //TODO: Reemplazar por botones *@
											<td>@item.pit_desc</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</fieldset>
				<div>
					<div class="row">
						<div class="col-4">
							<fieldset>
								<legend>
									<h5>Depósitos de Envío</h5>
								</legend>
								<div id="divDepositosDeEnvio">
									<div class="table-responsive text-nowrap table-wrapper">
										<table class="table table-bordered table-hover" id="tbDepositosDeEnvio">
											<thead class="table-dark">
												<tr>
													<th style="width:80%;">Depósito</th>
													<th style="width:20%;">Sele</th>
													<th style="width:0%; display:none;">depo_id</th>
												</tr>
											</thead>
											<tbody>
												@foreach (var item in Model.ListaDepositosDeEnvio.ListaDatos)
												{
													<tr onclick="selectTRDepositosDeEnvioRow(this)">
														<td>@item.depo_nombre</td>
														<td>@item.seleccionado</td>
														<td style="width:0%; display:none;">@item.depo_id</td>
													</tr>
												}
											</tbody>
										</table>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="col-8">
							<fieldset>
								<legend>
									<h5>Opciones</h5>
								</legend>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script type="text/javascript">
		var TRCargarPedidosPorSucursalUrl = "@Url.Action("CargarPedidosPorSucursal", "transferencia", new { area = "Compras" })";
		var TRCargarDepositosInclPorSucursalUrl = "@Url.Action("CargarDepositosInclPorSucursal", "transferencia", new { area = "Compras" })";
	</script>
	<script src="~/js/app/areas/transferencias/trCrudAutorizacion.js"></script>
}