@model TRNuevaAutDto
@{
	Layout = "~/views/shared/_Layout.cshtml";
}

<div class="card">
	<div class="container">
		<div class="row">
			<div class="col-4">
				<fieldset>
					<legend>
						<h5>Nuevas Aut. TR</h5>
					</legend>
					<div id="divNuevaAutListaSucursales">
						<div class="table-responsive text-nowrap table-wrapper">
							<table class="table table-bordered table-hover" id="tbNuevaAutListaSucursales">
								<thead class="table-dark">
									<tr>
										<th style="width:20%;">Aut. a Gen.</th>
										<th style="width:45%;">Sucursal</th>
										<th style="width:20%;">Pal. Aprox</th>
										<th style="width:15%;">Nota</th>
										<th style="width:0%; display:none;">adm_id</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model.Sucursales.ListaDatos)
									{
										<tr onclick="selectNuevaAutListaSucursalesRow(this)">
											<td>@item.orden</td>
											<td>@item.adm_nombre</td>
											<td>@item.pallet_aprox</td>
											<td><a asp-action="AgregarNotaASucursalNuevaAutTR" asp-controller="Transferencia" asp-area="Compras" class="btn btn-xs btn-outline-success" asp-route-nota="@item.nota"> <i class="bx bx-detail"></i></a></td>
											<td style="display:none;">@item.adm_id</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
					<div class="container col-sm" style="padding-top: 15px;">
						<a asp-action="NuevaTR" asp-controller="Transferencia" asp-area="Compras" class="btn btn-primary" id="btnRegrsarANuevaAut">
							<span class="tf-icons bx bx-left-arrow-circle"></span>Regresar
						</a>
						<a href="#" id="btnConfirmarAuto" class="btn btn-success"><span class="tf-icons bx bx-check-circle me-1">Confirmar Auto.</span></a>
					</div>
				</fieldset>
			</div>
			<div class="col-8">
				<fieldset>
					<legend>
						<h5>Detalle de Productos de TR</h5>
					</legend>
					<div id="divNuevaAutListaProductos">
						<div class="table-responsive text-nowrap table-wrapper">
							<table class="table table-bordered table-hover" id="tbNuevaAutListaProductos">
								<thead class="table-dark">
									<tr>
										<th style="width:5%;">ID</th>
										<th style="width:25%;">Descripción</th>
										<th style="width:8%;">Id Prov</th>
										<th style="width:8%;">PI</th>
										<th style="width:8%;">Stk Suc</th>
										<th style="width:8%;">Pedido</th>
										<th style="width:8%;">A transf.</th>
										<th style="width:10%;">Dif</th>
										<th style="width:10%;">Box</th>
										<th style="width:10%;">A transf. Box</th>
										<th style="width:5%;">Nota</th>
										<th style="width:0%; display:none;">adm_id</th>
										<th style="width:0%; display:none;">depo_id</th>
										<th style="width:0%; display:none;">depo_nombre</th>
										<th style="width:0%; display:none;">rub_id</th>
										<th style="width:0%; display:none;">rub_nombre</th>
										<th style="width:0%; display:none;">box_id</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model.Detalle.ListaDatos)
									{
										<tr onclick="selectNuevaAutListaProductosRow(this)">
											<td>@item.p_id</td>
											<td>@item.p_desc</td>
											<td>@item.pi_compte</td> @*TODO: Deberia ir ID Prov, consultar con Carlos*@
											<td>@item.pi_compte</td>
											<td>@item.stk</td>
											<td>@item.stk_adm</td>
											<td>@item.a_transferir</td>
											<td>@item.a_transferir</td> @*TODO: Deberia ir Dif, consultar con Carlos*@
											<td>@item.box_id</td>
											<td>@item.a_transferir_box</td>
											<td><a asp-action="AgregarNotaASucursalNuevaAutTR" asp-controller="Transferencia" asp-area="Compras" class="btn btn-xs btn-outline-success" asp-route-nota="@item.nota"> <i class="bx bx-detail"></i></a></td>
											<td style="display:none;">@item.adm_id</td>
											<td style="display:none;">@item.depo_id</td>
											<td style="display:none;">@item.depo_nombre</td>
											@* <td style="display:none;">@item.rub_id</td> TODO: Estos dos campos no vienen con el SP
											<td style="display:none;">@item.rub_nombre</td> *@

										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script type="text/javascript">
	</script>
	<script src="~/js/app/areas/transferencias/trVistaNuevaAutYDetalleDeProductos.js"></script>
}