@using System.Text
@using gc.infraestructura.Dtos.Users
@model RespuestaGenerica<MenuPpalDto>

@{
    async Task RenderMenuItems(IEnumerable<MenuPpalDto> items, string parentId = "00")
    {
        var subItems = items.Where(x => x.mnu_item_padre == parentId).OrderBy(x => x.mnu_item).ToList();
        if (subItems.Any())
        {
            <ul class="dropdown-menu">
                @foreach (var item in subItems)
                {
                    var hasChildren = items.Any(x => x.mnu_item_padre == item.mnu_item);
                    if (hasChildren)
                    {
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="javascript:void(0)">
                                <span>@item.mnu_item_name</span>
                            </a>
                            @{await RenderMenuItems(items, item.mnu_item);}
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-action="@item.mnu_app_action" asp-controller="@item.mnu_app_controller" asp-area="@item.mnu_app_area" class="dropdown-item">
                                @item.mnu_item_name
                            </a>
                        </li>
                    }
                }
            </ul>
        }
    }
}

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    @if (!Model.Ok)
    {
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="javascript:void(0)">@Model.Mensaje</a>
        </li>
    }
    else
    {
        var lista = Model.ListaEntidad;
        var listaOrd = Model.ListaEntidad.OrderBy(X => X.mnu_item).ToList();
        foreach (var mn in listaOrd.Where(x => x.mnu_item_padre.Equals("00")))
        {
            var hasChildren = lista.Any(x => x.mnu_item_padre == mn.mnu_item);
            if (hasChildren)
            {
                <li class="nav-item dropdown">
                    @* Generar ID único para el botón *@
                    @{
                        string id = $"btn{mn.mnu_item_id}";
                    }
                    <a id="@id" class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span>@mn.mnu_item_name</span>
                    </a>
                    @{
                        await RenderMenuItems(lista, mn.mnu_item);
                    }
                </li>
            }
            else
            {
                <li class="nav-item">
                    @* Generar ID único para el botón *@
                    @{
                        string id = $"btn{mn.mnu_item_id}";
                    }
                    <a asp-action="@mn.mnu_app_action" asp-controller="@mn.mnu_app_controller" asp-area="@mn.mnu_app_area" id="@id" class="nav-link">
                        <span>@mn.mnu_item_name</span>
                    </a>
                </li>
            }
        }
    }
</ul>
