@using System.Text
@using gc.infraestructura.Dtos.Users
@model RespuestaGenerica<MenuPpalDto>

@{
    var lista = Model.ListaEntidad;
    var listaOrd = Model.ListaEntidad.OrderBy(X => X.mnu_item).ToList();
}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    @if (!Model.Ok)
    {
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="javascript:void(0)">@Model.Mensaje</a>
        </li>
    }
    else
    {
        foreach (var mn in listaOrd.Where(x => x.mnu_item_padre.Equals("00")))
        {
            //verifico que si no esta asignado el root pero tiene hijos que si estan asignados. Debo genarar la cabecera del menu y sus hijos debajo.
            if (!mn.asignado && lista.Any(x => x.mnu_item_padre.Equals(mn.mnu_item) && x.asignado))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbar@mn.mnu_item_id" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        @mn.mnu_item_name
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbar@mn.mnu_item_id">
                        @foreach (var item in lista.Where(x=>x.mnu_item_padre.Equals(mn.mnu_item) && x.asignado).OrderBy(o=>o.mnu_item))
                        {
                            <li><a asp-action="@item.mnu_app_action" asp-controller="@item.mnu_app_controller" asp-area="@item.mnu_app_area" id="btn@item.mnu_item_id" class="dropdown-item">
                                    <span>@item.mnu_item_name</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }else if(mn.asignado){
                //esta asignado y tiene hijos asignados
                if (lista.Any(x => x.mnu_item_padre.Equals(mn.mnu_item) && x.asignado)){
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbar@mn.mnu_item_id" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @mn.mnu_item_name
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbar@mn.mnu_item_id">
                            @foreach (var item in lista.Where(x => x.mnu_item_padre.Equals(mn.mnu_item) && x.asignado).OrderBy(o => o.mnu_item))
                            {
                                <li>
                                    <a asp-action="@item.mnu_app_action" asp-controller="@item.mnu_app_controller" asp-area="@item.mnu_app_area" id="btn@item.mnu_item_id" class="dropdown-item">
                                        <span>@item.mnu_item_name</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                else{
                    <li class="nav-item">
                        <a asp-action="@mn.mnu_app_action" asp-controller="@mn.mnu_app_controller" asp-area="@mn.mnu_app_area" id="btn@item.mnu_item_id" class="dropdown-item">
                            <span>@mn.mnu_item_name</span>
                        </a>
                    </li>
                }
            }

           
        }
    }
</ul>
