@model EdicionTipoValoresDeTercerosEnCarteraModel
@using static gc.infraestructura.Helpers.GridHelper
@{
}
<div class="col-md-12">
	@Html.HiddenFor(x => x.ctaf_id)
	@Html.HiddenFor(x => x.ctaf_denominacion)
	@Html.HiddenFor(x => x.ban_razon_social)
	<div class="table-responsive table-wrapper-200-full" id="containerValoresEnCartera" style="padding-right: 0px;">
		<table class="table table-bordered table-hover" id="tbValoresEnCartera" disabled>
			<thead class="table-dark">
				<tr>
					<th style="width:20%;" class="col-header-small align-center tiny-row">Fecha Valor</th>
					<th style="width:40%;" class="col-header-small align-center tiny-row">Banco Carga</th>
					<th style="width:20%;" class="col-header-small align-center tiny-row">Banco</th>
					<th style="width:20%;" class="col-header-small align-center tiny-row">Nro. Cheque</th>
					<th style="width:20%;" class="col-header-small align-center tiny-row">Importe</th>
					<th style="width:1%;"><input name="select_all" value="1" type="checkbox"></th>
					<th style="width:0%; display:none;">ins_dato1_desc</th>
					<th style="width:0%; display:none;">ins_dato2_desc</th>
					<th style="width:0%; display:none;">fc_dato3_valor</th>
					<th style="width:0%; display:none;">ins_dato3_desc</th>
					<th style="width:0%; display:none;">fc_compte</th>
					<th style="width:0%; display:none;">fc_item</th>
					<th style="width:0%; display:none;">dia_movi</th>
					<th style="width:0%; display:none;">fc_fecha_valor</th>
				</tr>
			</thead>
			<tbody>
				@if (Model != null && Model != null && Model.GrillaValoresEnCartera.ListaDatos != null && Model.GrillaValoresEnCartera.ListaDatos.Count > 0)
				{
					@foreach (var item in Model.GrillaValoresEnCartera.ListaDatos)
					{
						var nombre = "chk" + item.fc_dato2_valor;
						<tr onclick="seleccionarValoresEnCartera(this)" title="@item.concepto_valor">
							<td class="@Model.GrillaValoresEnCartera.ObtenerClase(item.fc_fecha_valor) tiny-row">@Model.GrillaValoresEnCartera.FormatearDato(item.fc_fecha_valor, FormatDato.Fecha)</td>
							<td class="@Model.GrillaValoresEnCartera.ObtenerClase(item.fc_fecha) tiny-row">@Model.GrillaValoresEnCartera.FormatearDato(item.fc_fecha, FormatDato.Fecha)</td>
							<td class="@Model.GrillaValoresEnCartera.ObtenerClase(item.fc_dato1_valor) tiny-row">@Model.GrillaValoresEnCartera.FormatearDato(item.fc_dato1_valor, FormatDato.Ninguno)</td>
							<td class="@Model.GrillaValoresEnCartera.ObtenerClase(item.fc_dato2_valor) tiny-row">@Model.GrillaValoresEnCartera.FormatearDato(item.fc_dato2_valor, FormatDato.Ninguno)</td>
							<td class="@Model.GrillaValoresEnCartera.ObtenerClase(item.fc_importe) tiny-row">@Model.GrillaValoresEnCartera.FormatearDato(item.fc_importe, FormatDato.Monto)</td>
							<td><input type="checkbox" name=@nombre /></td>
							<td style="display:none;">@item.ins_dato1_desc</td>
							<td style="display:none;">@item.ins_dato2_desc</td>
							<td style="display:none;">@item.fc_dato3_valor</td>
							<td style="display:none;">@item.ins_dato3_desc</td>
							<td style="display:none;">@item.fc_compte</td>
							<td style="display:none;">@item.fc_item</td>
							<td style="display:none;">@item.dia_movi</td>
							<td style="display:none;">@item.fc_fecha_valor.Value.ToString("yyyy-MM-dd")</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>