@model GridCoreSmart<RTRxULDto>

@{
    var dataMod = new RTRxULDto();
    var alt = true;
    string clase = string.Empty;
    string sortDirInv = Model.SortDir.Equals("ASC") ? "DESC" : "ASC";
    int cont = 0;
}
<div class="table-responsive table-wrapper  table-wrapper">
    <table class="table table-sm mb-0 table-hover table-wrapper-fixed-head" id="tbRTRxUL">
        <thead class=" table-dark">
            <tr class="header">
                <th scope="col" style="width:1%"></th>
                <th scope="col">UL</th>
                <th scope="col">Usuario</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaDatos)
            {
                cont++;
                if (alt) { clase = "alt"; alt = false; } else { clase = string.Empty; alt = true; }

                <tr class="@clase" onclick="seleccionaRegistroUL(this)">
                    <td>@cont </td>
                    <td style="min-width:200px;">@item.ul_id</td>
                    <td class="corta-linea">@item.usu_apellidoynombre
                        @Html.Hidden("ul" + @cont, item.ul_id)
                    </td>
                    <td>@item.ule_desc</td>
                </tr>
            }
        </tbody>
    </table>
</div>