@model GridCore<DepositoInfoStkDto>

@{
    var dataMod = new DepositoInfoStkDto();
    var alt = true;
    string clase = string.Empty;
    string sortDirInv = Model.SortDir.Equals("ASC") ? "DESC" : "ASC";
}
<div class="table-responsive table-wrapper text-nowrap">
    <table class="table table-sm mb-0 table-hover table-wrapper-fixed-head">
        <thead class="table-dark">
            <tr class="header">
                <th class="text-sm-center" scope="col">Id</th>
                <th class="text-sm-center" scope="col">Desc</th>
                <th class="text-sm-center" scope="col">stk</th>
                <th class="text-sm-center" scope="col">FV</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaDatos)
            {
                if (alt) { clase = "alt"; alt = false; } else { clase = string.Empty; alt = true; }

                <tr class="@clase">
                    <td class="text-sm-start corta-linea">@item.P_id</td>
                    <td class="text-sm-start">@item.P_desc.Trim()</td>
                    <td class="text-sm-end">@item.Ps_stk</td>
                    <td class="text-sm-center">
                        @if (!item.Vto.HasValue)
                        {
                            <span>- - -</span>
                        }
                        else
                        {
                            <span>@item.Vto.Value.ToShortDateString()</span>
                        }
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>
