@model GridCore<InfoProdStkD>

@using X.PagedList.Web.Common
@using gc.infraestructura.Dtos.Productos

@{
    var dataMod = new InfoProdStkD();
    var alt = true;
    string clase = string.Empty;
    string sortDirInv = Model.SortDir.Equals("ASC") ? "DESC" : "ASC";
}
<div class="table-responsive table-wrapper text-nowrap">
    <table class="table mb-0 table-bordered  table-hover">
        <thead class="table-dark">
            <tr class="header">
                <th scope="col">Depósito</th>
                <th class="text-sm-center" scope="col">Stk</th>
                <th class="text-sm-center" scope="col">FV</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaDatos)
            {
                if (alt) { clase = "alt"; alt = false; } else { clase = string.Empty; alt = true; }

                <tr class="@clase">
                    <td class="text-sm-start">@item.Depo_nombre</td>
                    <td class="text-sm-end">
                        @if (item.Up_id == 7)
                        {
                            var spl = item.Ps_stk.ToString().Split('.');
                            <span>@spl[0]</span>
                        }
                        else
                        {
                            <span>@item.Ps_stk</span>
                        }
                    </td>
                    <td class="text-sm-center">
                        @if (!item.Vto.HasValue)
                        {
                            <span>- - -</span>
                        }
                        else
                        {
                            <span>@item.Vto</span>
                        }
                    </td>
                </tr>
            }          
        </tbody>
    </table>
</div>
