@model GridCoreSmart<InfoProdStkA>

@using X.PagedList.Web.Common
@using gc.infraestructura.Dtos.Productos

@{
    var dataMod = new InfoProdStkA();
    var alt = true;
    string clase = string.Empty;
    string sortDirInv = Model.SortDir.Equals("ASC") ? "DESC" : "ASC";
}
<div class="table-responsive table-wrapper text-nowrap">
    <table class="table table-sm mb-0 table-hover table-wrapper-fixed-head">
        <thead class="table-dark">            
            <tr class="header">
                <th scope="col">Sucursal</th>
                <th class="text-sm-center" scope="col">Stk</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaDatos)
            {
                if (alt) { clase = "alt"; alt = false; } else { clase = string.Empty; alt = true; }

                <tr class="@clase">
                    <td>@item.Adm_nombre</td>
                    <td class="text-sm-end">
                        @if (item.Up_id == 7)
                        {
                            var spl = item.Ps_stk.ToString().Split('.');
                            <span>@spl[0]</span>
                        }
                        else
                        {
                            <span>@item.Ps_stk</span>
                        }
                     </td>
                </tr>
            }
            @* <tr>
            <td colspan="9">
            @Html.PagedListPager(
            (IPagedList)Model.ListaDatos,
            page => Url.Action("Index", "producto", new { page = page, area = "Personas", sort = Model.Sort, sortdir = sortDirInv }), new PagedListRenderOptions
            {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" },
            Display = PagedListDisplayMode.IfNeeded
            })
            </td>
            </tr> *@
        </tbody>
    </table>
</div>