@model GridCore<InfoProdMovStk>

@using X.PagedList.Web.Common
@using gc.infraestructura.Dtos.Productos

@{
    var dataMod = new InfoProdMovStk();
    var alt = true;
    string clase = string.Empty;
    string sortDirInv = Model.SortDir.Equals("ASC") ? "DESC" : "ASC";
}
<div class="table-responsive table-wrapper text-nowrap">
    <table class="table table-sm mb-0 table-hover table-wrapper-fixed-head">
        <thead class="table-dark">
            <tr class="header">
                <th class="text-sm-center" scope="col">BOX</th>
                <th class="text-sm-center" scope="col">Fecha</th>
                <th class="text-sm-start" scope="col">Mov</th>
                <th class="text-sm-center" scope="col">E/S</th>
                <th class="text-sm-center" scope="col">STK</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaDatos)
            {
                if (alt) { clase = "alt"; alt = false; } else { clase = string.Empty; alt = true; }

                <tr class="@clase">
                    <td class="text-sm-center">@item.Box_id</td>
                    <td class="text-sm-center">@item.Sm_fecha.ToShortDateString()</td>
                    <td class="text-sm-start corta-linea">@item.Sm_concepto</td>
                    <td class="text-sm-end">@item.Sm_es</td>
                    <td class="text-sm-end">
                        @if (item.Up_id == 7)
                        {
                            var spl = item.Sm_stk.ToString().Split('.');
                            <span>@spl[0]</span>
                        }
                        else
                        {
                            <span>@item.Sm_stk</span>
                        }
                </tr>
            }         
        </tbody>
    </table>
</div>