@using gc.infraestructura.Dtos.Productos
@model InfoProductoDto
@{
    Layout = "~/areas/gestion/views/shared/_LayoutGestion.cshtml";
}

<div class="container">

    <partial name="~/areas/gestion/views/producto/_ctrBuscarProducto.cshtml" />

    <div class="row">
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-text">ID</span>
                <input type="text" asp-for="Id" class="form-control" readonly />
            </div>
            <div class="input-group">
                <span class="input-group-text">Marca</span>
                <input type="text" asp-for="Marca" class="form-control" readonly />
            </div>
            <div class="input-group">
                <span class="input-group-text">Descripcion</span>
                <input type="text" asp-for="Descipcion" class="form-control" readonly />
            </div>
            <div class="input-group">
                <span class="input-group-text">Cap.</span>
                <input type="text" asp-for="Capacidad" class="form-control" readonly />
                <span for="ProveedorId" class="input-group-text">Id Prov.</span>
                <input type="text" asp-for="ProveedorId" class="form-control" readonly />
            </div>
            <div class="input-group">
                <span class="input-group-text">Familia</span>
                <input type="text" asp-for="Familia" class="form-control" readonly />
            </div>
            <div class="input-group">
                <span class="input-group-text">Rubro</span>
                <input type="text" asp-for="Rubro" class="form-control" readonly />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="nav-align-top mb-4">
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button type="button" id="btnStkD" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#stkd" aria-controls="stkd" aria-selected="true">
                            <i class="tf-icon bx bx-store-alt me-1"></i><span class="d-none d-sm-block">STK D</span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button type="button" id="btnStkBox" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#stkbox" aria-controls="stkbox" aria-selected="false" tabindex="-1">
                            <i class="tf-icon bx bx-box me-1"></i><span class="d-none d-sm-block">STK BOX</span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button type="button" id="btnStkA" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#stka" aria-controls="stka" aria-selected="false" tabindex="-1">
                            <i class="tf-icon bx bx-store me-1"></i><span class="d-none d-sm-block">STK A</span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button type="button" id="btnMov" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#mov" aria-controls="mov" aria-selected="false" tabindex="-1">
                            <i class="tf-icon bx bx-package me-1"></i><span class="d-none d-sm-block">MOV</span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button type="button" id="btnPr" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#pr" aria-controls="pr" aria-selected="false" tabindex="-1">
                            <i class="tf-icon bx bx-purchase-tag me-1"></i><span class="d-none d-sm-block">PR</span>
                        </button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="stkd" role="tabpanel">
                        <div id="gridInfoProdStkD"></div>
                    </div>
                    <div class="tab-pane fade" id="stkbox" role="tabpanel">
                        <div id="gridInfoProdStkBox"></div>
                    </div>
                    <div class="tab-pane fade" id="stka" role="tabpanel">
                        <div id="gridInfoProdStkA"></div>
                    </div>
                    <div class="tab-pane fade" id="mov" role="tabpanel">
                        <div class="d-flex justify-content-sm-start align-items-center">
                            @Html.DropDownList("TmId", null, "Sel.", new { @class = "form-control" })
                            <span>Desde:</span>
                            <input type="date" class="form-control" name="fdesde" id="fdesde" />
                            <span>Hasta:</span>
                            <input type="date" class="form-control" name="fhasta" id="fhasta" />
                            <button type="button" class="btn btn-sm btn-success" id="btnBuscarMov"><i class="bx bx-search-alt bx-sm"></i></button>
                        </div>
                        <div id="gridInfoProdMov">
                            <span class="text-muted">Realice la consulta ingresando el periodo de fechas</span>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pr" role="tabpanel">
                        <div id="gridInfoProdLP"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="offset-sm-3 col-sm-2">
            <a asp-action="info" asp-controller="almacen" asp-area="gestion" id="btnVolver" class="btn btn-sm btn-danger" title="VOLVER"><i class="bx bx-left-arrow bx-sm"></i><span> Voler</span></a>
        </div>
        <div class="col-sm-2">
            <a asp-action="rpr" asp-controller="almacen" asp-area="gestion" type="button" id="btnInfoProd" class="btn btn-sm btn-secondary"><i class="bx bx-info-circle bx-sm "></i><span> ir a RPR</span></a>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        //funcionalidad busqueda avanzada
        var productoBase = null; //se hidrata en busquedas.

        var funcionBusquedaAvanzada = false;
        var buscarProveedorUrl = "@Url.Action("Buscar", "proveedor", new { area = "gestion" })";
        var buscarRubroUrl = "@Url.Action("Buscar", "rubro", new { area = "gestion" })";
        var busquedaProdBaseUrl = "@Url.Action("BusquedaBase", "producto", new { area = "gestion" })";
        var busquedaAvanzadaUrl = "@Url.Action("BusquedaAvanzada", "producto", new { area = "gestion" })";


        //urls de grillas
        var infoProdStkDUrl = "@Url.Action("InfoProductoStkD", "infoprod", new { area = "PocketPpal" })";
        var infoProdBoxUrl = "@Url.Action("InfoProductoStkBoxes", "infoprod", new { area = "PocketPpal" })";
        var infoProdStkAUrl = "@Url.Action("InfoProductoStkA", "infoprod", new { area = "PocketPpal" })";
        var infoProdMovUrl = "@Url.Action("InfoProductoMovStk", "infoprod", new { area = "PocketPpal" })";
        var infoProdLPUrl = "@Url.Action("InfoProductoLP", "infoprod", new { area = "PocketPpal" })";

    </script>

    <script src="~/js/app/busquedas.js" type="text/javascript"></script>
    <script src="~/js/app/InfoProd.js" type="text/javascript"></script>
}