@model AutorizacionPendienteDto

@{
    Layout = "~/areas/gestion/views/shared/_LayoutGestion.cshtml";
    var buscar = new BusquedaProducto();
    //var cota = (int)ViewBag.FechaCotaJS;
    var callback = Url.Action("ResguardarAutorizacionProveedor", "rpr", new { area = "pocketppal", rp = Model.Rp });
}

<div class="container">
    <partial name="_rprCabecera" model="@Model" />
    <partial name="~/areas/gestion/views/producto/_ctrbuscarproducto.cshtml" model="@buscar" />
    <partial name="~/areas/gestion/views/producto/_productoDetalle.cshtml" model="true"/>

    <div class="row">
        <div class="col-sm-12">
            <div id="divRprGrid"></div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="d-flex justify-content-center">
            <a asp-action="producto" asp-controller="infoprod" asp-area="pocketppal" asp-route-callback="@callback" class="btn btn-info btn-sm m-2"><i class="bx bx-ms bx-info-circle"></i></a>
            <a asp-action="CargaUL" asp-controller="rpr" asp-area="PocketPpal" id="btnContinuarRpr" class="btn btn-success btn-sm m-2" style="display:none;"><i class="bx bx-ms bx-right-arrow-alt"></i></a>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        //funcionalidad busqueda avanzada
        var fecha = new Date();
        //var cotaVto = formatoFechaYMD(sumarFecha(fecha, cota));
        var ocultarTrash = false;
        var productoBase = null; //se hidrata en busquedas.
        var funcionBusquedaAvanzada = false;
        var busquedaProdBaseUrl = "@Url.Action("BusquedaBase", "producto", new { area = "gestion" })";
        var validarEstado = true;
        //de funcionalidad RPR2
        var reguardarProductoEnListaUrl = "@Url.Action("ReguardarProductoEnLista", "RPR", new { area = "PocketPpal" })";
        var PresentarProductosSeleccionadosUrl = "@Url.Action("PresentarProductosSeleccionados", "rpr", new { area = "PocketPpal" })";
        var EliminarProductoUrl = "@Url.Action("EliminarProducto", "rpr", new { area = "PocketPpal" })";
        var AcumularProductoUrl = "@Url.Action("AcumularProducto", "rpr", new { area = "PocketPpal" })";
        var RemplazarProductoUrl = "@Url.Action("RemplazarProducto", "rpr", new { area = "PocketPpal" })";
        var VolverAnteriorUrl = "@Url.Action("index", "rpr", new { area = "PocketPpal" })";
        var homeRPRUrl = "@Url.Action("rpr", "almacen", new { area = "gestion" })";
        
    </script>
    <script src="~/js/app/busquedas.js" type="text/javascript"></script>
    <script src="~/js/app/rpr/rpr.js" type="text/javascript"></script>
    <script src="~/js/app/rpr/infoRpr.js" type="text/javascript"></script>

}
