@model RPRAutorizacionPendienteDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/areas/gestion/views/shared/_LayoutGestion.cshtml";
    var buscar = new BusquedaProducto();
}

<div class="container">
    <partial name="_rprCabecera" model="@Model" />
    <partial name="~/areas/gestion/views/producto/_ctrbuscarproducto.cshtml" model="@buscar" />
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group input-group-sm">
                <span class="input-group-text">ID</span>
                <input type="text" class="form-control " id="P_id" readonly />
                <span class="input-group-text">Desc</span>
                <input type="text" class="form-control " id="Descipcion" readonly />
                <span class="input-group-text">Rubro</span>
                <input type="text" id="Rubro" class="form-control " readonly />
            </div>
        </div>
    </div>
    <div class="row" id="divInputs">
        <div class="col-sm-12">
            <div class="input-group input-group-sm">
                <span class="input-group-text">FVto:</span>
                <input type="date" class="form-control inputEditable" name="fvto" id="fvto" disabled />
                <span class="input-group-text">Un.xBulto:</span>
                <input type="text" class="form-control inputEditable" name="up" id="up" disabled />
            </div>
        </div>   
        <div class="col-sm-12">
            <div class="input-group input-group-sm">                
                <span class="input-group-text">Bultos:</span>
                <input type="text" class="form-control inputEditable" name="box" id="box" min="0" disabled />
                <span class="input-group-text">Unidad:</span>
                <input type="text" class="form-control inputEditable" name="unid" id="unid" min="0" disabled />
                <button type="button" id="btnCargarProd" class="btn btn-success" disabled><i class="bx bx-plus-circle"></i> </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="divRprGrid"></div>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-3 col-sm-6">
            <button id="btnVolverRpr" class="btn btn-info btn-sm"><i class="bx bx-md bx-arrow-back"></i><span> Volver</span></button>
            <a asp-action="CargaUL" asp-controller="rpr" asp-area="PocketPpal" id="btnContinuarRpr" class="btn btn-danger btn-sm" style="display:none;"><i class="bx bx-md bx-right-arrow"></i><span> Continuar</span></a>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        //funcionalidad busqueda avanzada
        var ocultarTrash = false;
        var productoBase = null; //se hidrata en busquedas.
        var funcionBusquedaAvanzada = false;
        var busquedaProdBase = "@Url.Action("BusquedaBase", "producto", new { area = "gestion" })";
        var validarEstado = true;
        //de funcionalidad RPR2
        var reguardarProductoEnListaUrl = "@Url.Action("ReguardarProductoEnLista", "RPR", new { area = "PocketPpal" })";
        var PresentarProductosSeleccionadosUrl = "@Url.Action("PresentarProductosSeleccionados", "rpr", new { area = "PocketPpal" })";
        var EliminarProductoUrl = "@Url.Action("EliminarProducto", "rpr", new { area = "PocketPpal" })";
        var AcumularProductoUrl = "@Url.Action("AcumularProducto", "rpr", new { area = "PocketPpal" })";
        var RemplazarProductoUrl = "@Url.Action("RemplazarProducto", "rpr", new { area = "PocketPpal" })";
        var homeRPRUrl = "@Url.Action("index", "rpr", new { area = "PocketPpal" })";
    </script>
    <script src="~/js/app/busquedas.js" type="text/javascript"></script>
    <script src="~/js/app/rpr.js" type="text/javascript"></script>
    <script src="~/js/app/infoRpr.js" type="text/javascript"></script>

}
