@model AutorizacionPendienteDto

@{
    Layout = "~/areas/gestion/views/shared/_LayoutGestion.cshtml";
    var callback = Url.Action("CargaUL", "rpr", new { area = "pocketppal" });

}
<div class="container">
    <partial name="_rprCabecera" model="@Model" />
    <div class="row">
        @* <div class="col-sm-6">
            <div class="input-group input-group-sm">
                <span class="input-group-text">Depósito</span>
                @Html.DropDownList("DepoId", null, "Seleccione...", new { @class = "form-control" })
            </div>
        </div> *@
        <div class="col-sm-6">
            <div class="input-group input-group-sm">
                <span class="input-group-text">UL:</span>
                @if (Model.EsModificacion)
                {
                    <input type="text" maxlength="16" id="ul_Id" class="form-control text-danger fw-bolder" value="@Model.Ul" readonly/>
                }
                else
                {
                    <input type="text" maxlength="16" id="ul_Id" class="form-control" />
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="divRprGrid"></div>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-3 col-sm-6">
        </div>
    </div>
    <div class="row mb-3">
        <div class="d-flex justify-content-center">
            <a asp-action="producto" asp-controller="infoprod" asp-area="pocketppal" asp-route-callback="@callback" class="btn btn-info btn-sm m-2"><i class="bx bx-ms bx-info-circle"></i></a>
            <button type="button" id="btnConfirmarRPR" esMod="@Model.EsModificacion" class="btn btn-success btn-sm m-2"><i class="bx bx-ms bx-right-arrow-alt"></i></button>             
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var ocultarTrash = true;  
        var PresentarProductosSeleccionadosUrl = "@Url.Action("PresentarProductosSeleccionados", "rpr", new { area = "PocketPpal" })";
        var ConfirmarRPRUrl = "@Url.Action("ConfirmarRPR", "rpr", new { area = "PocketPpal" })";
        var NroAuto = "@Model.Rp";
        var homeUrl = "@Url.Action("index", "home", new { area = "" })";
    </script>
    <script src="~/js/app/rpr/rpr.js" type="text/javascript"></script>
    <script src="~/js/app/rpr/rpr3.js" type="text/javascript"></script>

}