@using static gc.infraestructura.Helpers.GridHelper
@model GridCoreSmart<ConsOrdPagosDto>

@{
    var alt = true;
    string clase = string.Empty;
    string sortDirInv = Model.SortDir.Equals("ASC") ? "DESC" : "ASC";
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive text-nowrap  table-wrapper-500">
            <table class="table table-sm mb-0 table-hover table-wrapper-fixed-head" id="tbGridOpProv">
                <thead class="table-dark">
                    <tr class="header">
                        <th class="text-sm-center" scope="col">OP N°</th>
                        <th class="text-sm-center" scope="col">TIPO</th>
                        <th class="text-sm-center" scope="col">FECHA</th>
                        <th class="text-sm-center" scope="col">IMPORTE</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaDatos)
                    {
                        if (alt) { clase = "alt"; alt = false; } else { clase = string.Empty; alt = true; }
                        <tr class="@clase" onclick="SeleccionarPeriodo(this,'tbGridOpProv')">
                            <td class="@Model.ObtenerClase(item.Op_compte)">@Model.FormatearDato(item.Op_compte,FormatDato.Ninguno)</td>
                            <td class="@Model.ObtenerClase(item.Opt_desc)">@Model.FormatearDato(item.Opt_desc, FormatDato.Ninguno)</td>
                            <td class="@Model.ObtenerClase(item.Op_fecha)">@Model.FormatearDato(item.Op_fecha, FormatDato.Fecha)</td>
                            <td class="@Model.ObtenerClase(item.Op_importe)">@Model.FormatearDato(item.Op_importe, FormatDato.Monto)</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>       
    </div>
</div>