@using static gc.infraestructura.Helpers.GridHelper
@model GridCoreSmart<ConsCompTotDto>

@{
    var dataMod = new ConsCompTotDto();
    var alt = true;
    string clase = string.Empty;
    string sortDirInv = Model.SortDir.Equals("ASC") ? "DESC" : "ASC";
    decimal ft = 0; //FACTURA + NOTA DE DEBITO ()
    decimal nc = 0; //NOTA DE CREDITO
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive text-nowrap  table-wrapper-500">
            <table class="table table-sm mb-0 table-hover table-wrapper-fixed-head" id="tbGridCmpteTot">
                <thead class="table-dark">
                    <tr class="header">
                        <th class="text-sm-center" scope="col">MES</th>
                        <th class="text-sm-center" scope="col">NETO</th>
                        <th class="text-sm-center" scope="col">TOTAL</th>
                        <th class="text-sm-center" scope="col">Dif.Mes Ant</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaDatos ?? Enumerable.Empty<ConsCompTotDto>())
                    {
                        if (alt) { clase = "alt"; alt = false; } else { clase = string.Empty; alt = true; }
                        ft += item.Cm_total;
                        nc += item.Nc_cm_total;
                        <tr class="@clase" onclick="selectReg(this,'tbGridCmpteTot')" ondblclick="SeleccionarPeriodo(this,'tbGridCmpteTot')">
                            <td class="@Model.ObtenerClase(item.Periodo)">@Model.FormatearDato(item.Periodo, FormatDato.Ninguno)</td>
                            <td class="@Model.ObtenerClase(item.Cm_neto)">@Model.FormatearDato(item.Cm_neto, FormatDato.Monto)</td>
                            <td class="@Model.ObtenerClase(item.Cm_total)">@Model.FormatearDato(item.Cm_total, FormatDato.Monto)</td>
                            <td class="@Model.ObtenerClase(item.Dif_m_ant)">@Model.FormatearDato(item.Dif_m_ant, FormatDato.Monto)</td>
                        </tr>
                    }
                    @{
                        nc = nc * -1;
                    }
                </tbody>
            </table>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group input-group-sm ">
                    <span class="input-group-text" style="width:100px;">Total FT + ND</span>
                    <input class="form-control text-right" style="text-align:end;" readonly value="$ @ft" />
                </div>
                <div class="input-group input-group-sm text-right">
                    <span class="input-group-text" style="width:100px;">Total NC</span>
                    <input class="form-control" style="text-align:end;" readonly value="$ @nc" />
                </div>
            </div>
        </div>
    </div>
</div>