@model GridCore<ConsVtoDto>

@{
    var alt = true;
    string clase = string.Empty;
    string sortDirInv = Model.SortDir.Equals("ASC") ? "DESC" : "ASC";
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive text-nowrap  table-wrapper-500">
            <table class="table table-sm mb-0 table-hover table-wrapper-fixed-head" id="tbGridVto">
                <thead class="table-dark">
                    <tr class="header">
                        <th scope="col">FECHA</th>
                        <th scope="col">N° MOV.</th>
                        <th scope="col">TIPO COMPTE</th>
                        <th scope="col">N° COMPTE</th>
                        <th scope="col">CONCEPTO</th>
                        <th scope="col">CUOTA</th>                        
                        <th scope="col">ESTADO</th>
                        <th scope="col">VENCIMIENTO</th>
                        <th scope="col">Importe Ori</th>
                        <th scope="col">Importe</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaDatos)
                    {
                        if (alt) { clase = "alt"; alt = false; } else { clase = string.Empty; alt = true; }

                        <tr class="@clase" >
                            <td class="text-sm-center">@item.Cv_fecha_carga.ToShortDateString()</td>
                            <td class="text-sm-start">@item.Dia_movi</td>
                            <td class="text-sm-end">@item.Tco_desc</td>
                            <td class="text-sm-start">@item.Cm_compte</td>
                            <td class="text-sm-start">@item.Cv_concepto</td>
                            <td class="text-sm-start">@item.Cm_compte_cuota</td>
                            <td class="text-sm-end">@item.Cv_estado</td>
                            <td class="text-sm-end">@item.Cv_fecha_vto</td>
                            <td class="text-sm-end">@item.Cv_importe_ori</td>
                            <td class="text-sm-end">@item.Cv_importe</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>