@using static gc.infraestructura.Helpers.GridHelper

@model GridCoreSmart<ConsCompDetDto>

@{
    var dataMod = new ConsCompDetDto();
    var alt = true;
    string clase = string.Empty;
    string sortDirInv = Model.SortDir.Equals("ASC") ? "DESC" : "ASC";
    string provId = Model.DatoAux01; //hay que poner una ViewBag
    decimal ft_neto = 0;
    decimal ft_iva = 0;
    decimal ft_tot = 0;
    decimal nc_neto = 0;
    decimal nc_iva = 0;
    decimal nc_tot = 0;
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive text-nowrap  table-wrapper-500">
            <table class="table table-sm mb-0 table-hover table-wrapper-fixed-head" id="tbGridCmpteDet">
                <thead class="table-dark">
                    <tr class="header">
                        <th class="text-sm-center" scope="col">FECHA</th>
                        <th class="text-sm-center" scope="col">N° Cmpte</th>
                        <th class="text-sm-center" scope="col">Neto</th>
                        <th class="text-sm-center" scope="col">IVA</th>
                        <th class="text-sm-center" scope="col">TOTAL</th>
                        @if(!provId.Equals('P')){
                            <th class="text-sm-center" scope="col">N° DOC</th>
                            <th class="text-sm-center" scope="col">Cmpte ORI</th>
                        }
                        else{
                            <th class="text-sm-center" scope="col">N° Or.Pago</th>
                            <th class="text-sm-center" scope="col">Cmpte ORI</th>
                        }

                        <th class="text-sm-center" scope="col">CARGADO</th>
                        <th class="text-sm-center" scope="col">USUARIO</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaDatos)
                    {
                        if (alt) { clase = "alt"; alt = false; } else { clase = string.Empty; alt = true; }
                        if(item.Cm_total<0){
                            //sumatorias de nc
                            nc_neto += item.Cm_neto;
                            nc_iva += item.Cm_iva;
                            nc_tot += item.Cm_total;
                        }else{
                            // ft+nd
                            ft_neto += item.Cm_neto;
                            ft_iva += item.Cm_iva;
                            ft_tot += item.Cm_total;
                        }
                        <tr class="@clase" onclick="selectReg(this,'tbGridCmpteDet')">
                            <td class="@Model.ObtenerClase(item.Cm_fecha)">@Model.FormatearDato(item.Cm_fecha,FormatDato.Fecha)</td>
                            @{
                                string cmpt = $"({item.Tco_id}) {item.Cm_compte}";
                            }
                            <td class="@Model.ObtenerClase('c')">@Model.FormatearDato(cmpt,FormatDato.Ninguno)</td>
                            <td class="@Model.ObtenerClase(item.Cm_neto)">@Model.FormatearDato(item.Cm_neto, FormatDato.Monto)</td>
                            <td class="@Model.ObtenerClase(item.Cm_iva)">@Model.FormatearDato(item.Cm_iva, FormatDato.Monto)</td>
                            <td class="@Model.ObtenerClase(item.Cm_total)">@Model.FormatearDato(item.Cm_total, FormatDato.Monto)</td>
                            @if(provId.Equals('P')){
                                <td class="@Model.ObtenerClase(item.Op_compte)">@Model.FormatearDato(item.Op_compte, FormatDato.Ninguno)</td>
                                <td class="@Model.ObtenerClase('c')">@Model.FormatearDato(cmpt, FormatDato.Ninguno)</td>
                            }
                            else{
                                <td class="@Model.ObtenerClase(item.Doc_compte)">@Model.FormatearDato(item.Doc_compte, FormatDato.Ninguno)</td>
                                cmpt = $"({item.Tco_id_ori}){item.Cm_compte_ori}";
                                <td class="@Model.ObtenerClase('c')">@Model.FormatearDato(cmpt, FormatDato.Ninguno)</td>
                            }
                            <td class="@Model.ObtenerClase(item.Cm_fecha_carga)">@Model.FormatearDato(item.Cm_fecha_carga, FormatDato.FechaCompleta)</td>
                            <td class="@Model.ObtenerClase(item.Usu_id)">@Model.FormatearDato(item.Usu_id, FormatDato.Ninguno)</td>
                        </tr>
                    }
                    @{
                        nc_neto *= -1;
                        nc_iva *= -1;
                        nc_tot *= -1;
                    }
                </tbody>
            </table>           
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:100px;">TOTAL FT + ND</span>
                    <input type="text" class="form-control" style="text-align:end;" readonly value="$ @ft_neto" />
                    <input type="text" class="form-control" style="text-align:end;" readonly value="$ @ft_iva" />
                    <input type="text" class="form-control" style="text-align:end;" readonly value="$ @ft_tot" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:100px;">TOTAL NC</span>
                    <input type="text" class="form-control" style="text-align:end;" readonly value="$ @nc_neto" />
                    <input type="text" class="form-control" style="text-align:end;" readonly value="$ @nc_iva" />
                    <input type="text" class="form-control" style="text-align:end;" readonly value="$ @nc_tot" />
                </div>
            </div>
        </div>
    </div>
</div>