@using static gc.infraestructura.Helpers.GridHelper
@model GridCoreSmart<ConsVtoDto>

@{
    var alt = true;
    string clase = string.Empty;
    string sortDirInv = Model.SortDir.Equals("ASC") ? "DESC" : "ASC";
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive text-nowrap  table-wrapper-500">
            <table class="table table-sm mb-0 table-hover table-wrapper-fixed-head" id="tbGridVto">
                <thead class="table-dark">
                    <tr class="header">
                        <th class="text-sm-center" scope="col">FECHA</th>
                        <th class="text-sm-center" scope="col">N° MOV.</th>
                        <th class="text-sm-center" scope="col">TIPO COMPTE</th>
                        <th class="text-sm-center" scope="col">N° COMPTE</th>
                        <th class="text-sm-center" scope="col">CONCEPTO</th>
                        <th class="text-sm-center" scope="col">CUOTA</th>
                        <th class="text-sm-center" scope="col">ESTADO</th>
                        <th class="text-sm-center" scope="col">VENCIMIENTO</th>
                        <th class="text-sm-center" scope="col">Importe Ori</th>
                        <th class="text-sm-center" scope="col">Importe</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaDatos)
                    {
                        if (alt) { clase = "alt"; alt = false; } else { clase = string.Empty; alt = true; }

                        <tr class="@clase" >
                            <td class="@Model.ObtenerClase(item.Cv_fecha_carga)">@Model.FormatearDato(item.Cv_fecha_carga,FormatDato.Fecha)</td>
                            <td class="@Model.ObtenerClase(item.Dia_movi)">@Model.FormatearDato(item.Dia_movi,FormatDato.Ninguno)</td>
                            <td class="@Model.ObtenerClase(item.Tco_desc)">@Model.FormatearDato(item.Tco_desc, FormatDato.Ninguno)</td>
                            <td class="@Model.ObtenerClase(item.Cm_compte)">@Model.FormatearDato(item.Cm_compte, FormatDato.Ninguno)</td>
                            <td class="@Model.ObtenerClase(item.Cv_concepto)">@Model.FormatearDato(item.Cv_concepto, FormatDato.Ninguno)</td>
                            <td class="@Model.ObtenerClase('c')">@Model.FormatearDato(item.Cm_compte_cuota, FormatDato.Ninguno)</td>
                            <td class="@Model.ObtenerClase('c')">@Model.FormatearDato(item.Cv_estado, FormatDato.Ninguno)</td>
                            <td class="@Model.ObtenerClase(item.Cv_fecha_vto)">@Model.FormatearDato(item.Cv_fecha_vto, FormatDato.FechaHora)</td>
                            <td class="@Model.ObtenerClase(item.Cv_importe_ori)">@Model.FormatearDato(item.Cv_importe_ori, FormatDato.Monto)</td>
                            <td class="@Model.ObtenerClase(item.Cv_importe)">@Model.FormatearDato(item.Cv_importe, FormatDato.Monto)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>