@using static gc.infraestructura.Helpers.GridHelper
@model GridCoreSmart<ConsRecepcionProveedorDetalleDto>

@{
    var alt = true;
    string clase = string.Empty;
    string sortDirInv = Model.SortDir.Equals("ASC") ? "DESC" : "ASC";
    string grupo = string.Empty;
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive text-nowrap  table-wrapper-300">
            <table class="table table-sm mb-0 table-hover table-wrapper-fixed-head" id="tbGridRpProvDet">
                <thead class="table-dark">
                    <tr class="header">
                        <th class="text-sm-center" scope="col">Código</th>
                        <th class="text-sm-center" scope="col">Producto</th>
                        <th class="text-sm-center" scope="col">Orden de</th>
                        <th class="text-sm-center" scope="col">Unidad de</th>
                        <th class="text-sm-center bg-primary" scope="col" colspan="3">Factura/Remito</th>
                        <th class="text-sm-center bg-secondary" scope="col" colspan="3">Recepción</th>

                    </tr>
                    <tr class="header">
                        <th scope="col" colspan="2"></th>
                        <th scope="col">Compra</th>
                        <th scope="col">Presentacion</th>
                        <th scope="col" class="text-sm-center bg-primary">Bultos</th>
                        <th scope="col" class="text-sm-center bg-primary">Cant.Sltas</th>
                        <th scope="col" class="text-sm-center bg-primary">Cantidad</th>
                        <th scope="col" class="text-sm-center bg-secondary">Bultos</th>
                        <th scope="col" class="text-sm-center bg-secondary">Cant.Sueltas</th>
                        <th scope="col" class="text-sm-center bg-secondary">Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaDatos)
                    {
                        if (alt) { clase = "alt"; alt = false; } else { clase = string.Empty; alt = true; }
                        
                        <tr class="@clase">
                            <td class="@Model.ObtenerClase(item.P_id)">@Model.FormatearDato(item.P_id,FormatDato.Ninguno)</td>
                            <td class="@Model.ObtenerClase(item.P_desc)">@Model.FormatearDato(item.P_desc, FormatDato.Ninguno)</td>
                            <td class="@Model.ObtenerClase(item.Oc_compte)">@Model.FormatearDato(item.Oc_compte, FormatDato.Ninguno)</td>
                            <td class="@Model.ObtenerClase(item.Rpd_unidad_pres)">@Model.FormatearDato(item.Rpd_unidad_pres, FormatDato.Monto)</td>
                            <td class="@Model.ObtenerClase(item.Rpd_bulto_compte)">@Model.FormatearDato(item.Rpd_bulto_compte, FormatDato.Monto)</td>
                            <td class="@Model.ObtenerClase(item.Rpd_unidad_suelta_compte)">@Model.FormatearDato(item.Rpd_unidad_suelta_compte, FormatDato.Monto)</td>
                            <td class="@Model.ObtenerClase(item.Rpd_cantidad_compte)">@Model.FormatearDato(item.Rpd_cantidad_compte, FormatDato.Monto)</td>
                            <td class="@Model.ObtenerClase(item.Rpd_bulto_recibidos)">@Model.FormatearDato(item.Rpd_bulto_recibidos, FormatDato.Monto)</td>
                            <td class="@Model.ObtenerClase(item.Rpd_unidad_suelta)">@Model.FormatearDato(item.Rpd_unidad_suelta, FormatDato.Monto)</td>
                            <td class="@Model.ObtenerClase(item.Rpd_Cantidad)">@Model.FormatearDato(item.Rpd_Cantidad, FormatDato.Monto)</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>