@using System.Text
@using static gc.infraestructura.Constantes.Constantes
@model GridCore<ABMRepartidorDto>

@{
    var alt = true;
    string clase = string.Empty;
    string color = string.Empty;
    string sortDirInv = Model.SortDir.Equals("ASC") ? "DESC" : "ASC";
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive text-nowrap  table-wrapper">
            <table class="table table-sm mb-0 table-hover table-wrapper-fixed-head" id="tbGridRepartidor">
                <thead class="table-dark">
                    <tr class="header">
                        <th scope="col">Id</th>
                        <th scope="col">Denominación</th>
                        <th scope="col">Activo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaDatos)
                    {
                        string block;
                        if (alt) { clase = "alt"; alt = false; } else { clase = ""; alt = true; }
                        if (item.rp_activo.Equals('N'))
                        {
                            block = "NO";
                            color = EstadoColor.NoActivo;
                        }
                        else
                        {
                            block = "SI";
                            color = EstadoColor.Activo;
                        }
                        <tr class="@clase" onclick="selectRegRepartidor(this,'tbGridRepartidor')">
                            <!--ondblclick="selectAbmRegDbl(this,'tbGridProd')"-->
                            <td class="text-sm-center" style="border-left: 5px solid @color;text-align: left;">@item.rp_id</td>
                            <td class="text-sm-start">@item.rp_nombre</td>
                            <td class="text-sm-center">@block</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row m-3">
            <table style="width:300px;text-align:center">
                <tr><td colspan="2" class="text-md-center"><strong>ESTADOS</strong></td></tr>
                <tr>
                    <td style="background-color: @EstadoColor.Activo;color:#FFFFFF;font-weight:600;width:150px;">ACTIVO</td>
                    <td style="background-color: @EstadoColor.NoActivo;color:#FFFFFF;font-weight:600;width:150px;">NO ACTIVO</td>
                </tr>
            </table>
        </div>
    </div>
</div>