@model GridCore<TiListaProductoDto>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var alt = true;
    string clase = string.Empty;
    string sortDirInv = Model.SortDir.Equals("ASC") ? "DESC" : "ASC";
    int cont = 0;
}

<div class="table-responsive table-wrapper">
    <table class="table mb-0 " id="tbAuPend">
        <thead>
            <tr class="header table-dark">
                <th style="display:none;"></th>
                <th scope="col">Rubro</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaDatos)
            {
                cont++;
                if (alt) { clase = "alt"; alt = false; } else { clase = string.Empty; alt = true; }

                <tr class="@clase">
                    <td style="display:none;">@cont</td>
                    <td>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-column">
                                <div class="p-0">@item.P_id @item.P_desc | Pedido: @item.Pedido</div>
                                <div class="p-0">Box @item.Box_id Rub @item.Rub_id</div>
                                <div class="p-0"><strong>Cantidad: @item.Pedido</strong></div>
                            </div>
                            <div class="d-flex align-items-sm-center">
                                <button type="button" class="btn btn-sm btn-success"><i class="bx bx-barcode"></i></button>
                            </div>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>