
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model GridCore<BoxRubProductoDto>
@{
    var alt = true;
    string clase = string.Empty;
    string sortDirInv = Model.SortDir.Equals("ASC") ? "DESC" : "ASC";
    int cont = 0;
}
<div class="table-responsive table-wrapper">
    <table class="table table-sm mb-0 table-hover table-wrapper-fixed-head" id="tbAuPend">
        <thead>
            <tr class="header table-dark">
                <th style="display:none;"></th>
                <th scope="col" style="width:33%">Rubro</th>
              
                <th scope="col" style="width:33%">Estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaDatos)
            {
                cont++;
                if (alt) { clase = "alt"; alt = false; } else { clase = string.Empty; alt = true; }

                <tr class="@clase" onclick="seleccionarRegistroTIRubro(this)">
                    <td style="display:none;">@cont</td>
                    <td>@item.Rub_desc
                        @Html.Hidden("rTi" + cont,item.Ti)
                        @Html.Hidden("rrub_id" + cont, item.Rub_Id)
                        @Html.Hidden("rrub_desc" + cont, item.Rub_desc)
                        @Html.Hidden("rrubg_id" + cont, item.Rubg_Id)
                        @Html.Hidden("rrubg_desc" + cont, item.Rubg_desc)
                        @Html.Hidden("rconteo" + cont, item.Conteo)
                    </td>
             
                    <td>@item.Conteo</td>
                </tr>
            }
        </tbody>
    </table>
</div>