@model GridCore<TiListaProductoDto>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var alt = true;
    string clase = string.Empty;
    string sortDirInv = Model.SortDir.Equals("ASC") ? "DESC" : "ASC";
    int cont = 0;
}

<div class="table-responsive table-wrapper">
    <table class="table mb-0  table-hover" id="tbListaProd">
        <thead>
            <tr class="header table-dark">
                <th style="display:none;"></th>
                <th scope="col">Rubro</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaDatos)
            {
                cont++;
                if (alt) { clase = "alt"; alt = false; } else { clase = string.Empty; alt = true; }

                <tr class="@clase" tiprod="@item.P_id">
                    <td style="display:none;">@cont</td>
                    <td>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-column">
                                <div class="p-0">@item.P_id @item.P_desc | <strong>Pedido: @item.Pedido</strong></div>
                                <div class="p-0">Box @item.Box_id Rub @item.Rub_id</div>
                                <div class="p-0"><strong>Cantidad: @item.Colectado</strong></div>
                            </div>
                            <div class="d-flex align-items-sm-center">
                                <a asp-action="TIValidaProducto" asp-controller="trint" asp-area="pocketppal" asp-route-pId="@item.P_id" class="btn btn-sm btn-success btnBarcode"><i class="bx bx-barcode"></i></a>
                                @if (!string.IsNullOrEmpty(item.Nota) && !string.IsNullOrWhiteSpace(item.Nota))
                                {
                                    <button type="button" class="btn btn-sm btn-warning btnNota" onclick="mostrarMensaje('@item.Nota')"><i class="bx bx-note"></i></button>
                                }
                                @if (item.Colectado > 0)
                                {
                                    <button type="button" class="btn btn-sm btn-danger" onclick="limpiarProductoCarrito('@item.P_id','@item.Box_id')"><i class="bx bx-eraser"></i></button>
                                }

                            </div>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>