@model AutorizacionTIDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/areas/gestion/views/shared/_LayoutGestion.cshtml";
    
    var buscar = new BusquedaProducto();
    // var cota = (int)ViewBag.FechaCotaJS;
}
<partial name="_tiNroAutorizacion" model="@Model.Ti" />
<div class="row">
    <div class="col-sm-12">
        <div class="input-group input-group-sm">
            <span class="input-group-text">BOX:</span>
            <input type="text" class="form-control inputEditable" id="txtBox" />
            <button type="button" class="btn btn-success btn-sm" id="btnValBox"><i class="bx bx-check-circle bx-sm"></i></button>
            <div class="form-check form-check-inline form-switch m-2 ">
                <input class="form-check-input" type="checkbox" name="EstadoActivo" id="chkDesarma" checked disabled />
                <label class="form-check-label" for="chkDesarma">Desarma</label>
            </div>            
        </div>
    </div>
</div>
<partial name="~/areas/gestion/views/producto/_ctrBuscarProducto.cshtml" model="@buscar" />
<partial name="~/areas/gestion/views/producto/_productoDetalle.cshtml" />

@section scripts {
    <script type="text/javascript">
        //funcionalidad busqueda avanzada
        var productoBase = null; //se hidrata en busquedas.
        var autorizacionActual = null;
       
        var funcionBusquedaAvanzada = false;
        var busquedaProdBaseUrl = "@Url.Action("BusquedaBase", "producto", new { area = "gestion" })";
        var validarBoxIngresadoUrl = "@Url.Action("ValidarBoxIngresado","trint",new{area="pocketppal"})";
        var validarProductoIngresadoUrl = "@Url.Action("ValidarProductoIngresado", "trint", new { area = "pocketppal" })";
        var ObtenerAutorizacionActualUrl = "@Url.Action("ObtenerAutorizacionActual", "trint", new { area = "pocketppal" })";
        var ResguardarProductoCarritoUrl = "@Url.Action("ResguardarProductoCarrito", "trint", new { area = "pocketppal" })";
        var proximoProductoUrl = "@Url.Action("TICargaCarrito", "trint", new { area = "pocketppal" })";
    </script>
    <script src="~/js/app/busquedas.js" type="text/javascript"></script>
    @* <script src="~/js/app/rpr/rprab.js" type="text/javascript"></script> *@
    <script src="~/js/app/ti/tivalida.js" type="text/javascript"></script>
}