@model GridCore<RPRAutoComptesPendientesDto>
@{
}
@{
    Layout = "~/views/shared/_Layout.cshtml";
}

<div class="card">
    <row>
        <input type="text" id="rp_id" style="visibility:hidden" />
        <div style="float:left">
            <h5 class="card-header">RPR Autorizaciones</h5>
        </div>
        <div class="demo-inline-spacing" style="float:right;margin-top: 20px;margin-right: 25px;">
            <button type="button" class="btn btn-primary" id="btnNuevaAut">
                <span class="tf-icons bx bx-plus-circle me-1"></span>Nuevo Aut.
            </button>
            <button type="button" class="btn btn-secondary">
                <span class="tf-icons bx bx-edit me-1"></span>Mod. Aut.
            </button>
            <button type="button" class="btn btn-success">
                <span class="tf-icons bx bxs-binoculars me-1"></span>Ver
            </button>
        </div>
    </row>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered table-hover">
                <thead class="table-secondary">
                    <tr>
                        <th>N° Auto</th>
                        <th>Cuenta</th>
                        <th>Turno</th>
                        <th>Nota</th>
                        <th>Factura</th>
                        <th>Fecha</th>
                        <th>Monto</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaDatos)
                    {
                        <tr>
                            <td>@item.Rp</td>
                            <td>@item.Cta_denominacion</td>
                            <td>@item.Fecha</td>
                            <td>@item.Nota</td>
                            <td>@item.Cm_compte</td>
                            <td>@item.Cm_fecha</td>
                            <td>@item.Cm_importe</td>
                            <td>@item.Rpe_desc</td>
                        </tr>    
                    }
                    @* <tr>
                        <td>
                            <i class="bx bxl-angular bx-sm text-danger me-3"></i>
                            <span class="fw-medium">Angular Project</span>
                        </td>
                        <td>Albert Cook</td>
                        <td>
                            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" aria-label="Lilian Fuller" data-bs-original-title="Lilian Fuller">
                                    <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle">
                                </li>
                                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" aria-label="Sophia Wilkerson" data-bs-original-title="Sophia Wilkerson">
                                    <img src="../assets/img/avatars/6.png" alt="Avatar" class="rounded-circle">
                                </li>
                                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" aria-label="Christina Parker" data-bs-original-title="Christina Parker">
                                    <img src="../assets/img/avatars/7.png" alt="Avatar" class="rounded-circle">
                                </li>
                            </ul>
                        </td>
                        <td><span class="badge bg-label-primary me-1">Active</span></td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr> *@
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var nuevaAutorizacionUrl = "@Url.Action("NuevaAutorizacion", "compras", new { area = "compras" })";
    </script>
    <script src="~/js/app/areas/compras/compras.js" type="text/javascript"></script>
}