@model GridCore<RPROrdenDeCompraDto>
@{
}

<input type="text" id="ocCompteSelected" style="display:none;" />
<div class="table-responsive table-wrapper">
	<table class="table table-bordered table-hover" id="tbOCxCuenta">
		<thead class="table-dark">
			<tr class="header">
				<th scope="col" class="table-fontsize" style="width:20%;">N° OC</th>
				<th scope="col" class="table-fontsize" style="width:20%">Fecha</th>
				<th scope="col" class="table-fontsize" style="width:20%">Sucursal</th>
				<th scope="col" class="table-fontsize" style="width:20%">Generada</th>
				<th scope="col" class="table-fontsize" style="width:20%">Estado</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.ListaDatos)
			{
				<tr onclick="selectOCRow(this)">
					<td class="table-fontsize">@item.oc_compte</td>
					<td class="table-fontsize">@item.oc_fecha</td>
					<td class="table-fontsize">@item.depo_nombre</td>
					<td class="table-fontsize">@item.oce_desc</td>
					<td class="table-fontsize">@item.adm_nombre</td>
				</tr>
			}
		</tbody>
	</table>
</div>
