@model GridCore<RPRComptesDeRPDto>

<div class="table-responsive table-wrapper" style="max-width: 100%;">
	<table class="table table-bordered table-hover" id="tbComptesDeRP">
		<thead class="table-dark">
			<tr class="header">
				<th style="width:0%; display:none;">TipoId</th>
				<th scope="col" style="width:25%" class="align-center">Tipo</th>
				<th scope="col" style="width:25%" class="align-center">N° Comprobante</th>
				<th scope="col" style="width:25%" class="align-center">Fecha</th>
				<th scope="col" style="width:25%" class="align-center">Importe</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.ListaDatos)
			{
				<tr onclick="selectCompteDeRPRow(this)">
					<td style="display:none;">@item.Tipo</td>
					<td class="align-left">@item.TipoDescripcion</td>
					<td class="align-center">@item.NroComprobante</td>
					<td class="align-center">@item.Fecha</td>
					<td class="align-right">@item.Importe</td>
				</tr>
			}
		</tbody>
	</table>
</div>