@model GridCoreSmart<RPROrdenDeCompraDetalleDto>
@{
}
<style>
	thead th {
		position: sticky;
		top: 0px;
	}
</style>
<div class="table-responsive table-wrapper">
	<table class="table table-bordered table-hover" id="tbDetalleDeOC">
		<thead class="table-dark">
			<tr class="header">
				<th><input name="select_all" value="1" type="checkbox"></th>
				<th scope="col" class="table-fontsize col-header-x-small align-center" style="width:10%;">ID</th>
				<th scope="col" class="table-fontsize col-header-x-small align-center" style="width:30%;" title="Descripción">Desc.</th>
				<th scope="col" class="table-fontsize col-header-x-small align-center" style="width:10%;">ID Prov</th>
				<th scope="col" class="table-fontsize col-header-x-small align-center" style="width:8%;" title="Unidades por Bulto">UxB</th>
				<th scope="col" class="table-fontsize col-header-x-small align-center" style="width:8%;" title="Bultos">Btos</th>
				<th scope="col" class="table-fontsize col-header-x-small align-center" style="width:12%;" title="Unidades">Uds.</th>
				<th scope="col" class="table-fontsize col-header-x-small align-center" style="width:12%;" title="Cantidad">Cant.</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.ListaDatos)
			{
				var nombre = "chk" + item.p_id;
				<tr onclick="selectOCDetalleRow(this)">
					<td><input type="checkbox" name=@nombre /></td>
					<td class="table-fontsize align-center tiny-row">@item.p_id</td>
					<td class="table-fontsize align-left tiny-row">@item.p_desc</td>
					<td class="table-fontsize align-center tiny-row">@item.p_id_prov</td>
					<td class="table-fontsize align-right tiny-row">@item.ocd_unidad_x_bulto</td>
					<td class="table-fontsize align-right tiny-row">@item.ocd_bultos</td>
					<td class="table-fontsize align-right tiny-row">@item.ocd_unidad_pres</td>
					<td class="table-fontsize align-right tiny-row">@item.ocd_cantidad</td>
				</tr>
			}
		</tbody>
	</table>
</div>