@model GridCoreSmart<RPROrdenDeCompraDto>
@{
}
<style>
	thead th {
		position: sticky;
		top: 0px;
	}
</style>
<input type="text" id="ocCompteSelected" style="display:none;" />
<div class="table-responsive table-wrapper-200">
	<table class="table table-bordered table-hover" id="tbOCxCuenta">
		<thead class="table-dark">
			<tr class="header">
				<th scope="col" class="table-fontsize col-header-x-small align-center" style="width:20%;">N° OC</th>
				<th scope="col" class="table-fontsize col-header-x-small align-center" style="width:20%">Fecha</th>
				<th scope="col" class="table-fontsize col-header-x-small align-center" style="width:20%">Sucursal</th>
				<th scope="col" class="table-fontsize col-header-x-small align-center" style="width:20%">Generada</th>
				<th scope="col" class="table-fontsize col-header-x-small align-center" style="width:20%">Estado</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.ListaDatos)
			{
				<tr onclick="selectOCRow(this)">
					<td class="table-fontsize align-center tiny-row">@item.oc_compte</td>
					<td class="table-fontsize align-center tiny-row">@item.oc_fecha</td>
					<td class="table-fontsize tiny-row">@item.adm_nombre</td>
					<td class="table-fontsize align-center tiny-row">@item.oc_fecha</td>
					<td class="table-fontsize tiny-row">@item.oce_desc</td>
					
				</tr>
			}
		</tbody>
	</table>
</div>
