@model GridCore<AutoComptesPendientesDto>
@{
}
@{
	Layout = "~/views/shared/_Layout.cshtml";
}

<div class="card">
	<input type="text" id="idRPSelected" style="display:none;" />
	<row>
		<input type="text" id="rp_id" style="visibility:hidden" />
		<div style="float:left">
			<h5 class="card-header">RPR Autorizaciones</h5>
		</div>
		<div class="demo-inline-spacing" style="float:right;margin-top: 20px;margin-right: 55px;">
			<a asp-action="NuevaAut" asp-controller="Compra" asp-area="Compras" class="btn btn-primary fixed-width-150" id="btnNuevaAut">
				<span class="tf-icons bx bx-plus-circle me-1"></span>Nuevo Aut.
			</a>
			<a href="#" id="btnModificarAut" class="btn btn-secondary fixed-width-150"><span class="tf-icons bx bx-edit me-1">Mod. Aut.</span></a>
			<a href="#" id="btnVer" class="btn btn-success fixed-width-150"><span class="tf-icons bx bxs-binoculars me-1">Ver</span></a>
		</div>
	</row>
	<div class="card-body">
		<div class="table-responsive text-nowrap table-wrapper">
			<table class="table table-bordered table-hover" id="tbListaAutorizaciones">
				<thead class="table-dark">
					<tr>
						<th class="align-center">N° Auto</th>
						<th class="align-center">Cuenta</th>
						<th class="align-center">Turno</th>
						<th class="align-center">Nota</th>
						<th class="align-center">Factura</th>
						<th class="align-center">Fecha</th>
						<th class="align-center">Monto</th>
						<th class="align-center">Estado</th>
						<th style="width:0%; display:none;">rp_id</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.ListaDatos)
					{
						<tr onclick="selectRPRow(this)">
							<td class="align-center">@item.Rp</td>
							<td class="align-left">@item.Cta_denominacion</td>
							<td class="align-center">@item.Fecha?.ToString("dd/MM/yyyy hh:mm")</td>
							<td class="align-left">@item.Nota</td>
							<td class="align-center">@item.Cm_compte</td>
							<td class="align-center">@item.Cm_fecha.ToString("dd/MM/yyyy")</td>
							<td class="align-right">@item.Cm_importe</td>
							<td class="align-center">@item.Rpe_desc</td>
							<td style="display:none;">@item.Rp_hidden</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

@section scripts {
	<script type="text/javascript">
		var ModificarAutorizacionRPUrl = "@Url.Action("NuevaAut", "compra", new { area = "Compras" })";
		var VerAutorizacionRPUrl = "@Url.Action("VerAut", "compra", new { area = "Compras" })";
	</script>
	<script src="~/js/app/areas/compras/rprAutorizacionesLista.js"></script>
}
