@model RPRDetalleComprobanteDeRP
@{
	Layout = "~/views/shared/_Layout.cshtml";
	BusquedaProducto busquedaProducto = new();
}

<style>
	fieldset {
		margin: 8px;
		border: 1px solid silver;
		padding: 8px;
		border-radius: 4px;
	}
</style>

<div class="card">
	<row>
		<div style="float:left;width:100%;padding-top: 20px;padding-left: 40px;">
			<div class="input-group">
				@Html.Hidden("cta_id", Model.cta_id)
				@Html.Hidden("tco_id", Model.CompteSeleccionado.Tipo)
				@Html.Hidden("cm_compte", Model.CompteSeleccionado.NroComprobante)
				@Html.Hidden("nota", Model.Nota)
				@Html.Hidden("turno", Model.FechaTurno)
				@Html.Hidden("depo_id", Model.Depo_id)
				@Html.Hidden("poner_curso", Model.ponerEnCurso)
				@Html.Hidden("Rp", Model.CompteSeleccionado.Rp)
				<div class="col-8">
					<span>@Model.Leyenda</span>
				</div>
				<div class="col-4" style="text-align: right;padding-right: 30px;">
					<button type="button" class="btn btn-success" style="margin-left:5px;" id="btnAceptarComprobanteRP">
						<span class="tf-icons bx bx-check-circle">Aceptar</span>
					</button>
					<button type="button" class="btn btn-primary" style="margin-left:5px;" id="btnRegresarDesdeComprobanteRP">
						<span class="tf-icons bx bx-left-arrow-circle">Regresar</span>
					</button>
				</div>
				
			</div>
		</div>
	</row>
	<row style="padding-left:35px;">
		<div class="col-8" style="float:left">
			<div class="input-group">
				<span class="input-group-text">Tipo: </span>
				<input type="text" id="txtTipoEnComprobanteRP" class="form-control" readonly asp-for="@Model.CompteSeleccionado.TipoDescripcion" />
				<span class="input-group-text">N°: </span>
				<input type="text" id="txtNroCompteEnComprobanteRP" class="form-control" readonly asp-for="@Model.CompteSeleccionado.NroComprobante" />
				<span class="input-group-text">Fecha: </span>
				<input type="text" id="txtFechaEnComprobanteRP" class="form-control" readonly asp-for="@Model.CompteSeleccionado.Fecha" />
				<span class="input-group-text">Monto: </span>
				<input type="text" id="txtMontoEnComprobanteRP" class="form-control" readonly asp-for="@Model.CompteSeleccionado.Importe" />
			</div>
		</div>
	</row>
	<row>
		<div class="container">
			<div class="row">
				<div class="col-7">
					<fieldset>
						<legend>
							<h5>Detalle de Productos</h5>
						</legend>
						<div class="container" style="padding:0px;">
							<partial name="~/areas/ControlComun/views/producto/_ctrBuscarProducto.cshtml" model="@busquedaProducto" />
							<div class="row">
								<div class="input-group">
									<span class="input-group-text">ID: </span>
									<input type="text" id="txtIdProdEnComprobanteRP" class="form-control" style="width:10%;" readonly />
									<input type="text" id="txtProDescripcion" class="form-control" style="width: 40%;" readonly/>
									@* <span class="input-group-text" style="width: 30%;" id="txtProDescripcion"></span> *@
									<span class="input-group-text">UP: </span>
									<input type="text" id="txtUPEnComprobanteRP" class="form-control" />
									<span class="input-group-text">Bto: </span>
									<input type="number" id="txtBtoEnComprobanteRP" class="form-control" min="0"/>
									<span class="input-group-text">Unid: </span>
									<input type="text" id="txtUnidEnComprobanteRP" class="form-control" />
									<input type="text" id="txtUP_ID" style="display:none;" />
									<input type="text" id="txtBARRADO_ID" style="display:none;" />
								</div>
							</div>
							<div class="row" style="padding-top: 10px;">
								<div class="input-group">
									<button type="button" class="btn btn-icon btn-success" style="margin-left:5px;" id="btnAddProdEnComprobanteRP">
										<span class="tf-icons bx bx-plus-circle"></span>
									</button>
									<button type="button" class="btn btn-icon btn-danger" style="margin-left:5px;" id="btnDelProdEnComprobanteRP">
										<span class="tf-icons bx bx-trash"></span>
									</button>
									<button type="button" class="btn btn-success" style="margin-left:5px;" id="btnAddOCProdEnComprobanteRP">
										<span class="tf-icons bx bx-plus-circle"> OC</span>
									</button>
								</div>
							</div>
						</div>
						<div id="divDetalleDeProductos" style="padding-top:10px;">
						</div>
					</fieldset>
				</div>
				<div class="col-5">
					<div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="chkOCdeOtrasSuc" checked="">
							<label class="form-check-label" for="defaultCheck3"> OC de Otras Sucursales</label>
						</div>
					</div>
					<div>
						<fieldset>
							<legend>
								<h5>Ordenes de Compra</h5>
							</legend>
							<div id="divOrdenDeCompraXCuenta">
							</div>
						</fieldset>
					</div>
					<div>
						<fieldset>
							<legend>
								<h5 id="leyendDetalleOC">Detalle de OC</h5>
							</legend>
							<div id="divDetalleDeOrdenDeCompra">
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</row>
</div>

@section scripts {
	<script type="text/javascript">
		var p_id_selected = "";
		var CargarDetalleDeProductosEnRPUrl = "@Url.Action("CargarDetalleDeProductosEnRP", "compra", new { area = "Compras" })";
		var CargarOCxCuentaEnRPUrl = "@Url.Action("CargarOCxCuentaEnRP", "compra", new { area = "Compras" })";
		var VerDetalleDeOCRPUrl = "@Url.Action("VerDetalleDeOCRP", "compra", new { area = "Compras" })";
		var verificarDetalleCargadoURL = "@Url.Action("VerificarDetalleCargado", "compra", new { area = "Compras" })";
		var quitarItemDeDetalleDeProdURL = "@Url.Action("QuitarItemDeDetalleDeProd", "compra", new { area = "Compras" })";
		var GuardarDetalleDeComprobanteRPUrl = "@Url.Action("GuardarDetalleDeComprobanteRP", "compra", new { area = "Compras" })";
		var busquedaProdBaseUrl = "@Url.Action("BusquedaBase", "producto", new { area = "ControlComun" })";
		var VolverANuevaAutUrl = "@Url.Action("NuevaAut", "compra", new { area = "Compras" })";
	</script>
	<script src="~/js/app/areas/compras/_rprDetDeProdDeRP.js"></script>
	<script src="~/js/app/busquedas.js" type="text/javascript"></script>
	<script src="~/js/app/controlcomun/rpr.js" type="text/javascript"></script>
	<script src="~/js/app/controlcomun/infoRpr.js" type="text/javascript"></script>
}