@model BuscarCuentaDto
@{
	Layout = "~/views/shared/_Layout.cshtml";
	var depositos = Model.ComboDeposito;
}

@* <style>
	fieldset {
		margin: 8px;
		border: 1px solid silver;
		padding: 8px;
		border-radius: 4px;
	}
</style> *@

<div class="card">
	<row>
		<input type="text" id="idTipoCompteDeRPSelected" style="display:none;"/>
		<input type="text" id="nroCompteDeRPSelected" style="display:none;"/>
		@Html.Hidden("CtaId", Model.Cuenta)
		@Html.Hidden("IdTipoCompte", Model.IdTipoCompte)
		@Html.Hidden("NroCompte", Model.NroCompte)
		@Html.Hidden("DepoId", Model.Depo_id)
		@Html.Hidden("Rp", Model.rp)
		<div style="float:left">
			<fieldset>
				<legend>
					<h5>Nueva Autorización RP</h5>
				</legend>
				<div class="input-group">
					<partial name="~/areas/controlcomun/views/cuentacomercial/_ctrBuscarCC.cshtml" />
					<button type="button" class="btn btn-success" style="margin-left:5px;" id="btnAceptarAutoRP">
						<span class="tf-icons bx bx-check-circle">Aceptar</span>
					</button>
					<button type="button" class="btn btn-danger" style="margin-left:5px;" id="btnEliminarAutoRP">
						<span class="tf-icons bx bx-trash">Eliminar</span>
					</button>
					<button type="button" class="btn btn-primary" style="margin-left:5px;" id="btnRegresarASelAuto">
						<span class="tf-icons bx bx-left-arrow-circle">Regresar</span>
					</button>
				</div>
				<div id="sectionNuevaAutorizacionRP">
					<fieldset>
						<legend>
							<h5>Comprobantes de RP</h5>
						</legend>
						<row>
							<div class="col-12">
								<div class="input-group">
									<span class="input-group-text">Tipo: </span>
									<div id="divTiposComptes">
									</div>
									<span class="input-group-text">N°: </span>
									<input type="text" id="txtNroCompte" class="form-control" />
									<span class="input-group-text">Fecha: </span>
									<input type="date" id="dtpFechCompte" class="form-control" />
									<span class="input-group-text">Monto: </span>
									<input type="number" id="txtMonto" class="form-control" />
									<button type="button" class="btn btn-icon btn-success" style="margin-left:5px;" id="btnNuevoCompteDeRP">
										<span class="tf-icons bx bx-plus-circle"></span>
									</button>
									<button type="button" class="btn btn-icon btn-danger" style="margin-left:5px;" id="btnEliminarCompteDeRP">
										<span class="tf-icons bx bx-trash"></span>
									</button>
									<a href="#" id="VerDetalle" class="btn btn-icon btn-success"><span class="tf-icons bx bx-detail"></span></a>
									@* <a asp-action="VerDetalleDeComprobanteDeRP" asp-controller="compra" asp-area="Compras" asp-route-idTipoCompte="@Model.IdTipoCompte" asp-route-nroCompte="@Model.NroCompte" class="btn btn-icon btn-success"><span class="tf-icons bx bx-detail"></span></a> *@
									@* <button type="button" class="btn btn-icon btn-success" style="margin-left:5px;" id="btnVerCompteDeRP" asp-action="VerDetalleDeComprobanteDeRP" asp-controller="compra" asp-area="Compras" asp-route-tipo="@Model.IdTipoCompte" asp-route-nroComprobante="@Model.NroCompte">
										<span class="tf-icons bx bx-detail"></span>
									</button> *@
								</div>
							</div>
						</row>
						<div id="divComptesDeRPGrid">
						</div>
					</fieldset>
					<fieldset>
						<legend>
							<h5>Autorización</h5>
						</legend>
						<row>
							<div class="container">
								<div class="row">
									<div class="col-sm">
										<div class="input-group mb-3">
											<span class="input-group-text">Nota Autorización: </span>
											<input type="text" id="txtNota" *@ class="form-control" asp-for="@Model.Nota" />
										</div>
									</div>
								</div>
							</div>
						</row>
						<row>
							<div class="container">
								<div class="row">
									<div class="col-sm">
										<div class="input-group">
											<span class="input-group-text">Depósito: </span>
											@Html.DropDownList("id", depositos, "Seleccionar...", new { @id = "listaDeposito", @class = "form-control" })
										</div>
									</div>
									<div class="col-sm">
										<div class="input-group">
											<span class="input-group-text">Turno: </span>
											<input type="date" id="dtpFechaTurno" class="form-control" asp-for="@Model.FechaTurno"/>
										</div>
									</div>
									<div class="col-sm">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="" id="chkPonerEnCurso" checked="">
											<label class="form-check-label" for="defaultCheck3"> Poner en Curso</label>
										</div>
									</div>
								</div>
							</div>
						</row>
					</fieldset>
				</div>
			</fieldset>
		</div>
	</row>
</div>


@section scripts {
	<script type="text/javascript">
		var modelObj = @Html.Raw(Json.Serialize(Model));
		var tipoCuenta = "B";
		var seccionEnVista = "#sectionNuevaAutorizacionRP";
		var vistaParcial = "_rprAutoCargaComptes";
		var CargarComptesDeRPUrl = "@Url.Action("CargarComprobantesDeRP", "compra", new { area = "Compras" })";
		var ActualizarComptesDeRPUrl = "@Url.Action("ActualizarComprobantesDeRP", "compra", new { area = "Compras" })";
		var verificarDetalleCargadoURL="@Url.Action("VerificarDetalleCargado", "compra", new { area = "Compras" })";
		var VerDetalleDeCompteDeRPUrl = "@Url.Action("VerDetalleDeComprobanteDeRP", "compra", new { area = "Compras" })";
		var GuardarDetalleDeComprobanteRPUrl="@Url.Action("GuardarDetalleDeComprobanteRP", "compra", new { area = "Compras" })";
		var buscarCuentaUrl = "@Url.Action("BuscarCuentaComercial", "compra", new { area = "Compras" })";
		var buscarTiposComptesUrl="@Url.Action("ComboTiposComptes", "compra", new { area = "Compras" })";
		var volverAListaDeAutorizacionesUrl="@Url.Action("RPRAutorizacionesLista", "compra", new { area = "Compras" })";
		var eliminarComprobanteRPRUrl="@Url.Action("RPREliminarComprobante", "compra", new { area = "Compras" })";
	</script>
	<script src="~/js/app/controlcomun/busquedacuentacomercial.js"></script>
}