@model RPRVerAutoDto
@{
	Layout = "~/views/shared/_Layout.cshtml";
	var depositos = Model.ComboDeposito;
}
<div class="card">
	<row>
		@Html.Hidden("Rp", Model.Rp)
		@Html.Hidden("DepoId", Model.Depo_id)
		<div style="float:left; width: 100%;">
			<fieldset>
				<h5>RPR Autorización</h5>
				<row>
					<div class="container">
						<div class="row">
							<div class="col-9">
								<div class="input-group">
									<span>@Model.Leyenda</span>
								</div>
							</div>
							<div class="col-3">
								<div class="input-group">
									<span class="input-group-text">Depósito: </span>
									@Html.DropDownList("id", depositos, "Seleccionar...", new { @id = "listaDeposito", @class = "form-control" })
								</div>
							</div>
						</div>
					</div>
				</row>
				<row>
					<div class="container">
						<div class="row">
							<div id="divVerComptesDeRP" class="col-8">
								<div class="table-responsive table-wrapper">
									<table class="table table-bordered table-hover" id="tbVerComptesDeRP">
										<thead class="table-dark">
											<tr class="header">
												<th style="width:0%; display:none;">TipoId</th>
												<th style="width:0%; display:none;">NroCompte</th>
												<th scope="col" style="width:50%" class="align-center">Tipo</th>
												<th scope="col" style="width:25%" class="align-center">Fecha</th>
												<th scope="col" style="width:25%" class="align-center">Importe</th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in Model.Comprobantes)
											{
												<tr onclick="selectVerComptesDeRPRow(this)">
													<td style="display:none;">@item.Tipo</td>
													<td style="display:none;">@item.NroComprobante</td>
													<td>@item.TipoDescripcion @item.NroComprobante</td>
													<td class="align-center">@item.Fecha</td>
													<td class="align-right">@item.Importe</td>
												</tr>
											}
										</tbody>
									</table>
								</div>
							</div>
							<div class="col-4" style="text-align: right;align-content: center;">
								<button type="button" class="btn btn-success" style="margin-left:5px;" id="btnConfirmarRP" title="Confirmar">
									<span class="bx bx-check-circle bx-xs"></span>
								</button>
								<button type="button" class="btn btn-primary" style="margin-left:5px;" id="btnActualizar" title="Actualizar">
									<span class="bx bx-refresh-cw bx-xs"></span>
								</button>
								<button type="button" class="btn btn-danger" style="margin-left:5px;" id="btnRegresarAAutorizacionesRP" title="Regresar">
									<span class="bx bx-skip-previous bx-xs"></span>
								</button>
							</div>
						</div>
					</div>
				</row>
			</fieldset>
			<div class="nav-align-top mb-4">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item" role="presentation">
						<button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-home" aria-controls="navs-top-home" aria-selected="true">
							<span id="tabOne">Detalle de comprobante</span>
						</button>
					</li>
					<li class="nav-item" role="presentation">
						<button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-profile" aria-controls="navs-top-profile" aria-selected="false" tabindex="-1">
							<span id="tabTwo">Conteos</span>
						</button>
					</li>
					<li class="nav-item" role="presentation">
						<button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-panda" aria-controls="navs-top-profile" aria-selected="false" tabindex="-1">
							<span id="tabTwo">Conteos x UL</span>
						</button>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade active show" id="navs-top-home" role="tabpanel">
						<div id="divDetalleVerCompte"></div>
					</div>
					<div class="tab-pane fade" id="navs-top-profile" role="tabpanel">
						<div id="divDetalleVerConteos"></div>
						<div style="padding-top: 15px;" id="divDetalleVerConteosSeleccionado"></div>
					</div>
					<div class="tab-pane fade" id="navs-top-panda" role="tabpanel">
						<div class="row">
							<div class="col-6" id="divULxRPR">
								<div class="table-responsive table-wrapper">
									<table class="table table-bordered table-hover" id="tbULxRPR">
										<thead class="table-dark">
											<tr class="header">
												<th style="width:0%; display:none;">tipo</th>
												<th style="width:0%; display:none;">id</th>
												<th scope="col" style="width:33%" class="align-center">UL</th>
												<th scope="col" style="width:33%" class="align-center">Usuario</th>
												<th scope="col" style="width:33%" class="align-center">Estado</th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in Model.ConteosxUL)
											{
												<tr onclick="selectULxRPRRow(this)">
													<td style="display:none;">@item.tipo</td>
													<td style="display:none;">@item.id</td>
													<td class="align-center">@item.ul_id</td>
													<td class="align-center">@item.usu_apellidoynombre</td>
													<td class="align-center">@item.ule_desc</td>
												</tr>
											}
										</tbody>
									</table>
								</div>
							</div>
							<div class="col-6" id="divULxRPRDetalle">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</row>
</div>

@section scripts {
	<script type="text/javascript">
		var volverAListaDeAutorizacionesUrl = "@Url.Action("RPRAutorizacionesLista", "compra", new { area = "Compras" })";
		var buscarDetalleVerCompteUrl = "@Url.Action("ObtenerDetalleVerCompte", "compra", new { area = "Compras" })";
		var buscarDetalleVerConteosUrl = "@Url.Action("ObtenerDetalleVerConteos", "compra", new { area = "Compras" })";
		var actualizarComptesUrl = "@Url.Action("ObtenerVerComptesDeRP", "compra", new { area = "Compras" })";
		var buscarDetalleVerConteoSeleccionadoUrl = "@Url.Action("BuscarDetalleVerConteoSeleccionado", "compra", new { area = "Compras" })";
		var confirmarRPRUrl = "@Url.Action("ConfirmarRPR", "compra", new { area = "Compras" })";
		var buscarDetalleULxRPRUrl = "@Url.Action("BuscarDetalleULxRPR", "compra", new { area = "Compras" })";
	</script>
	<script src="~/js/app/areas/compras/rprVerAutorizacion.js"></script>
}