@model GridCoreSmart<RemitoGenDto>
@{
	Layout = "~/views/shared/_Layout.cshtml";
}

<div class="card">
	<row>
		<input type="text" id="rp_id" style="visibility:hidden" />
		<div style="float:left">
			<div class="card-header">
				<h5>Remitos Transferidos Pendientes</h5>
			</div>
		</div>
		<div class="demo-inline-spacing" style="float:right;margin-top: 60px;margin-right: 55px;">
			<button id="btnAutorizar" class="btn btn-primary fixed-width-130" onclick="autorizarRemito();" disabled><span class="tf-icons bx bxs-edit me-1">Autorizar</span></button>
			<a href="#" id="btnVer" class="btn btn-success fixed-width-130" onclick="verRemito();return false;"><span class="tf-icons bx bxs-binoculars me-1">Ver</span></a>
		</div>
	</row>
	<div class="card-body">
		<div class="table-responsive text-nowrap table-wrapper">
			<table class="table table-bordered table-hover" id="tbListaRemitosTransferidos">
				<thead class="table-dark">
					<tr>
						<th style="width:15%;" class="align-center">N° Remito</th>
						<th style="width:15%;" class="align-center">TR N°</th>
						<th style="width:40%;" class="align-center">Sucursal que Envía</th>
						<th style="width:15%;" class="align-center">Fecha</th>
						<th style="width:15%;" class="align-center">Estado</th>
						<th style="width:0%; display:none;">ree_id</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.ListaDatos)
					{
						<tr onclick="selectRemitoRow(this)">
							<td class="align-center">@item.re_compte</td>
							<td class="align-center">@item.ti</td>
							<td class="align-left">@item.adm_nombre</td>
							<td class="align-center">@item.re_fecha.ToString("dd/MM/yyyy")</td>
							<td class="align-center">@item.ree_desc</td>
							<td style="display:none;">@item.ree_id</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

@section scripts {
	<script type="text/javascript">
		var remSeleccionado = "";
		var remQuienEnvia = "";
		var ree_id = "";
		var RSetearEstadoDeRemitoUrl = "@Url.Action("SetearEstadoDeRemito", "remito", new { area = "Compras" })";
		var RActualizarListadoDeRemitoUrl = "@Url.Action("RemitosTransferidosLista", "remito", new { area = "Compras" })";
		var RVerDetalleDeConteosDeRemitoUrl = "@Url.Action("VerConteosLista", "remito", new { area = "Compras" })";
	</script>
	<script src="~/js/app/areas/remitos/remitosTransferidosLista.js"></script>
}