@using gc.infraestructura.Dtos.Asientos
@{
    Layout = "~/views/shared/_Layout.cshtml";

    var filtro = new QueryAsiento() { Modelo = ModeloFilter.ASIENTO_TEMPORAL, EsTemporal = true };
}
@section styles {
    <link rel="stylesheet" href="~/css/simplePagination.css" />
    <link rel="stylesheet" href="~/lib/jstree/themes/default/style.min.css" />
    <!-- Agregar esto al <head> de la página o en un archivo CSS si no existe ya -->
    <style>
        #tbGridAsiento tbody tr.selectedEdit-row {
            background-color: #e7f3ff !important;
            box-shadow: inset 0 0 0 1px #0d6efd;
            font-weight: bold;
        }

        #tbGridAsiento tbody tr {
            cursor: pointer;
        }
    </style>
}

<div class="container">
    <input type="text" id="IdSelected" style="display:none;" />
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="d-flex justify-content-sm-around">
                <button id="btnFiltro" class="btn btn-primary btn-sm mt-1 me-1" type="button" data-bs-toggle="collapse" data-bs-target="#divFiltro" aria-expanded="true" aria-controls="divFiltro">
                    <i class="bx bx-filter bx-xs"></i>
                </button>
                <button class="btn btn-primary btn-sm mt-1 me-1" type="button" id="btnDetalle" data-bs-toggle="collapse" data-bs-target="#divDetalle" aria-expanded="true" aria-controls="divDetalle">
                    <i class="bx bx-arrow-to-bottom bx-xs"></i>
                </button>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="d-flex justify-content-sm-center">
                <button id="btnAbmAceptar" class="btn btn-success btn-sm mt-1 me-1" type="button" title="Aceptar" disabled>
                    <i class="bx bx-check-circle bx-xs"></i>
                </button>

                <button id="btnAbmCancelar" class="btn btn-danger btn-sm mt-1 me-1" type="button" title="Cancelar">
                    <i class="bx bx-x-circle bx-xs"></i>
                </button>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="d-flex justify-content-sm-center">
                <!-- Botón Imprimir -->
                <button type="button" class="btn btn-light btn-sm mt-1 me-1" id="btnImprimir" title="Imprimir">
                    <i class="bx bx-printer"></i>
                </button>
                <!-- Botón Pasar Conta -->
                <button type="button" class="btn btn-warning btn-sm mt-1 me-1" id="btnPasarConta" title="Pasar a Contabilidad">
                    <i class="bx bx-transfer"></i>
                </button>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="d-flex justify-content-sm-center">

                <button id="btnAbmNuevo" class="btn btn-primary btn-sm mt-1 me-1" type="button" title="Alta Asiento" disabled>
                    <i class="bx bx-check-circle bx-xs"></i>
                </button>
                <button id="btnAbmModif" class="btn btn-success btn-sm mt-1 me-1" type="button" title="Editar Asiento" disabled>
                    <i class="bx bx-edit-alt bx-xs"></i>
                </button>
                <button id="btnAbmElimi" class="btn btn-danger btn-sm mt-1 me-1" type="button" title="Dar de baja el asiento" disabled>
                    <i class="bx bx-x-circle bx-xs"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="collapse" id="divFiltro" style="">
    <partial name="_filtroAsiento" model="filtro" />
    @Html.Hidden("pagEstado", false)
</div>
<div class="collapse" id="divDetalle" style="">
    <partial name="_n01TabsAsiento" />
</div>

<div class="row">
    <div id="divGrilla">
        <p style="background-color:gray">
            <h5>No se han especificado datos aún.</h5>
        </p>
    </div>
</div>



<!--modal para presentar el plan de cuenas-->
<partial name="~/Areas/Asientos/Views/Shared/_selectorPlanCuentas.cshtml" />

@section scripts {
    <script type="text/javascript">
        const asientoTemporal = "@filtro.EsTemporal.ToString().ToLower()"==="true";
        var primerArranque = true;
        var homeAsientosUrl = "@Url.Action("index", "AsientoTemporal", new { area = "Asientos" })";
        var buscarAsientosUrl="@Url.Action("BuscarAsientos", "AsientoTemporal", new { area = "Asientos" })";
        var buscarMetadataURL = "@Url.Action("ObtenerDatosPaginacion", "AsientoTemporal", new { area = "Asientos" })";
        var buscarAsientoUrl= "@Url.Action("buscarAsiento", "AsientoTemporal", new { area = "Asientos" })";
        var nuevoAsientoUrl="@Url.Action("nuevoAsiento", "AsientoTemporal", new { area = "Asientos" })";
        var pasarAContabilidadUrl = '@Url.Action("PasarAContabilidad", "AsientoTemporal", new { area = "Asientos" })';

            // URLs para las llamadas AJAX - Se configurarán desde la vista
        var buscarPlanCuentasUrl = "@Url.Action("buscar", "abmplancuenta", new { area = "abms" })";
        var buscarCuentaUrl = "@Url.Action("buscarCuenta", "abmplancuenta", new { area = "abms" })";

    </script>
    <script src="~/lib/jstree/jstree.min.js"></script>
    <script src="~/js/mask/jquery.inputmask.min.js"></script>
    <script src="~/js/plugins/jquery.simplePagination.js"></script>

    <script src="~/js/app/areas/abms/abmsettings.js"></script>
    <script src="~/js/app/areas/abms/abmcommons.js"></script>

    <script src="~/js/app/areas/asientos/selectorCuentas.js"></script>
    <script src="~/js/app/areas/asientos/asientos.js"></script>


}