@model GridCore<ProductoListaDto>

@{
    var dataMod = new ProductoListaDto();
    var alt = true;
    string clase = string.Empty;
    // string sortDirInv = Model.SortDir.Equals("ASC") ? "DESC" : "ASC";
    string sort = Model.Sort;
}


<div class="table-responsive text-nowrap  table-wrapper-modal">
    <table class="table table-sm mb-0 table-hover table-wrapper-fixed-head" id="tbGridProd">
        <thead class="table-dark">
            <tr class="header">
                <th scope="col">
                    @if (sort.Equals("p_id", StringComparison.InvariantCultureIgnoreCase) && Model.SortDir.Equals("desc"))
                    {
                        <button class="btn btn-sm btn-secondary btn-grid btn-block" sortDir="desc" sort="p_id" onclick="ordenarColumna(this);"><span>ID </span><i class="bx  bx-chevron-up-circle btn-xs"></i> </button>
                    }
                    else
                    {
                        <button class="btn btn-sm btn-secondary btn-grid btn-block" sortDir="asc" sort="p_id" onclick="ordenarColumna(this);"><span>ID </span><i class="bx  bx-chevron-down-circle btn-xs"></i> </button>
                    }
                </th>
                <th scope="col">
                    @if (sort.Equals("p_desc", StringComparison.InvariantCultureIgnoreCase) && Model.SortDir.Equals("desc"))
                    {
                        <button class="btn btn-sm btn-secondary btn-grid btn-block" sortDir="desc" sort="p_desc" onclick="ordenarColumna(this);"><span>Desc </span><i class="bx  bx-chevron-up-circle btn-xs"></i> </button>
                    }
                    else
                    {
                        <button class="btn btn-sm btn-secondary btn-grid btn-block" sortDir="asc" sort="p_desc" onclick="ordenarColumna(this);"><span>Desc </span><i class="bx  bx-chevron-down-circle btn-xs"></i> </button>
                    }
                </th>
                <th scope="col">
                    @if (sort.Equals("p_id_barrado", StringComparison.InvariantCultureIgnoreCase) && Model.SortDir.Equals("desc"))
                    {
                        <button class="btn btn-sm btn-secondary btn-grid btn-block" sortDir="desc" sort="p_id_barrado" onclick="ordenarColumna(this);"><span>EAN </span><i class="bx  bx-chevron-up-circle btn-xs"></i> </button>
                    }
                    else
                    {
                        <button class="btn btn-sm btn-secondary btn-grid btn-block" sortDir="asc" sort="p_id_barrado" onclick="ordenarColumna(this);"><span>EAN </span><i class="bx  bx-chevron-down-circle btn-xs"></i> </button>
                    }
                </th>
                <th scope="col">
                    @if (sort.Equals("p_id_prov", StringComparison.InvariantCultureIgnoreCase) && Model.SortDir.Equals("desc"))
                    {
                        <button class="btn btn-sm btn-secondary btn-grid btn-block" sortDir="desc" sort="p_id_prov" onclick="ordenarColumna(this);"><span>PROV </span><i class="bx  bx-chevron-up-circle btn-xs"></i> </button>
                    }
                    else
                    {
                        <button class="btn btn-sm btn-secondary btn-grid btn-block" sortDir="asc" sort="p_id_prov" onclick="ordenarColumna(this);"><span>PROV </span><i class="bx  bx-chevron-down-circle btn-xs"></i> </button>
                    }
                </th>
                <th scope="col">
                    @if (sort.Equals("p_activo", StringComparison.InvariantCultureIgnoreCase) && Model.SortDir.Equals("desc"))
                    {
                        <button class="btn btn-sm btn-secondary btn-grid btn-block" sortDir="desc" sort="p_activo" onclick="ordenarColumna(this);"><span>E </span><i class="bx  bx-chevron-up-circle btn-xs"></i> </button>
                    }
                    else
                    {
                        <button class="btn btn-sm btn-secondary btn-grid btn-block" sortDir="asc" sort="p_activo" onclick="ordenarColumna(this);"><span>E </span><i class="bx  bx-chevron-down-circle btn-xs"></i> </button>
                    }
                </th>
               @*  <th scope="col">
                    @if (sort.Equals("p_pcosto", StringComparison.InvariantCultureIgnoreCase) && Model.SortDir.Equals("desc"))
                    {
                        <button class="btn btn-sm btn-secondary btn-grid btn-block" sortDir="desc" sort="p_pcosto" onclick="ordenarColumna(this);"><span>PRECIO </span><i class="bx  bx-chevron-up-circle btn-xs"></i> </button>
                    }
                    else
                    {
                        <button class="btn btn-sm btn-secondary btn-grid btn-block" sortDir="asc" sort="p_pcosto" onclick="ordenarColumna(this);"><span>PRECIO </span><i class="bx  bx-chevron-down-circle btn-xs"></i> </button>
                    }
                </th>
                <th scope="col">
                    @if (sort.Equals("ps_stk", StringComparison.InvariantCultureIgnoreCase) && Model.SortDir.Equals("desc"))
                    {
                        <button class="btn btn-sm btn-secondary btn-grid btn-block" sortDir="desc" sort="ps_stk" onclick="ordenarColumna(this);"><span>STOCK </span><i class="bx  bx-chevron-up-circle btn-xs"></i> </button>
                    }
                    else
                    {
                        <button class="btn btn-sm btn-secondary btn-grid btn-block" sortDir="asc" sort="ps_stk" onclick="ordenarColumna(this);"><span>STOCK </span><i class="bx  bx-chevron-down-circle btn-xs"></i> </button>
                    }
                </th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaDatos)
            {
                if (alt) { clase = "alt"; alt = false; } else { clase = string.Empty; alt = true; }

                <tr class="@clase" onclick="selectReg(this)" ondblclick="selectRegDbl(this)">
                    <td class="text-sm-center">@item.P_id</td>
                    <td class="text-sm-start">@item.P_desc</td>
                    <td class="text-sm-center">@item.P_id_barrado</td>
                    <td class="text-sm-center">@item.P_id_prov</td>
                    <td class="text-sm-center">@item.P_activo </td>
@*                     <td class="text-sm-end">@item.P_pcosto</td>
                    <td class="text-sm-end">@item.Ps_stk</td> *@
                </tr>
            }
        </tbody>
    </table>
</div>
