@model GridCore<ProductoNCPIDto>
@{
}
<style>
	thead th {
	position: sticky;
	top: 0px;
	}
</style>
<div class="table-responsive table-wrapper-full-width" id="containerListaProducto">
	<table class="table table-bordered table-hover" id="tbListaProducto">
		<thead class="table-dark">
			<tr>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Código</th>
				<th style="width:20%;" class="col-header-small align-center tiny-row">Descripción</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Cod. Prov</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">PI Pend</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">OC Pend</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Stock Suc</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Stock Tot</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Unidad Pres.</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Unidad Pallet</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Precio Costo</th>
				<th style="width:0.1%;" class="col-header-small align-center tiny-row">Carro</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.ListaDatos)
			{
				var nombre = "a" + item.p_id;
				<tr onclick="selectListaProductoRow(this)">
					<td class="align-center tiny-row">@item.p_id</td>
					<td class="align-left tiny-row" style="text-overflow:ellipsis;">@item.p_desc</td>
					@* 					@if (item.p_activo == "D")
					{
						<td class="align-left tiny-row" style="text-overflow:ellipsis;">@item.p_desc<span style="float:right;" title="Producto discontínuo"><i class="bx bx-dislike"></i></span></td>
					}
					else
					{
						<td class="align-left tiny-row" style="text-overflow:ellipsis;">@item.p_desc</td>
					} *@
					<td class="align-center tiny-row">@item.p_id_prov</td>
					@if (item.pi_pendiente == 0)
					{
						<td class="align-right tiny-row"></td>
					}
					else
					{
						<td class="align-right tiny-row" style="font-weight:bold;">@item.pi_pendiente</td>
					}
					@if (item.oc_pendiente == 0)
					{
						<td class="align-right tiny-row"></td>
					}
					else
					{
						<td class="align-right tiny-row" style="font-weight:bold;" >@item.oc_pendiente</td>
					}
					<td class="align-right tiny-row">@item.stk_suc</td>
					<td class="align-right tiny-row">@item.stk</td>
					<td class="align-right tiny-row">@item.p_unidad_pres</td>
					<td class="align-right tiny-row">@item.p_unidad_palet</td>
					<td class="align-right tiny-row">@item.costo</td>
					@if (item.p_activo == "D")
					{
						<td><a class="btn btn-xs btn-outline-secondary" id=@nombre data-interaction="@item.p_id" onclick="actualizarProducto(this);" title="Producto discontinuo">
								<i class="bx bx-cart-alt" style="line-height: 1.0;font-size: 1rem;"></i>
							</a>
						</td>
					}
					else
					{
						<td>
							<a class="btn btn-xs btn-outline-success" id=@nombre data-interaction="@item.p_id" onclick="actualizarProducto(this);">
								<i class="bx bx-cart-alt" style="line-height: 1.0;font-size: 1rem;"></i>
							</a>
						</td>
					}
				</tr>
			}
		</tbody>
	</table>
	@* <div class="row">
		<div class="offset-md-3 col-md-6">
			<div id="divPaginacion" class="">
			</div>
		</div>
	</div> *@
</div>

@section scripts {
	<script type="text/javascript">
		var pedido = "";
		var pIdEditado = "";
		var rowIndex = 0;
	</script>
}