@model ProductoParaOcModel
@{
}
<style>
	thead th {
		position: sticky;
		top: 0px;
	}
</style>
<div class="table-responsive table-wrapper-full-width" id="containerListaProductoOC">
	<table class="table table-bordered table-hover" id="tbListaProductoOC">
		<thead class="table-dark">
			<tr>
				<th><input name="select_all" value="1" type="checkbox"></th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Código</th>
				<th style="width:20%;" class="col-header-small align-center tiny-row">Descripción</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Cod. Prov</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Stock Suc</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Stock Tot</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Unidad Pres.</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Pedido Bultos</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Pedido Cantidad</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Precio Lista</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">D1</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">D2</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">D3</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">D4</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">DPA</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Boni</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Pedido +Boni</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Precio Costo</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Total Costo</th>
				<th style="width:5%;" class="col-header-small align-center tiny-row">Total Pallet</th>
				<th style="width:0.1%;" class="col-header-small align-center tiny-row">Carro</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.ListaOC.ListaDatos)
			{
				var nombre = "chk" + item.P_Id;
				<tr onclick="selectListaProductoRowOC(this)">
					<td><input type="checkbox" name=@nombre /></td>
					<td class="align-center tiny-row">@item.P_Id</td>
					<td class="align-center tiny-row" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" title="@item.P_Desc">@item.P_Desc</td>
					<td class="align-center tiny-row">@item.P_Id_Prov</td>
					<td class="align-center tiny-row">@item.Stk_Suc</td>
					<td class="align-center tiny-row">@item.Stk</td>
					<td class="align-center tiny-row">@item.P_Unidad_Pres</td>
					<td class="align-center tiny-row content-editable-td" contenteditable='true' onfocusin="focusOnTd(this);" id="Bultos">@item.Bultos</td>
					<td class="align-center tiny-row">@item.Cantidad</td>
					<td class="align-center tiny-row content-editable-td" contenteditable='true' onfocusin="focusOnTd(this);" id="P_Plista">@item.P_Plista</td>
					<td class="align-center tiny-row content-editable-td" contenteditable='true' onfocusin="focusOnTd(this);" id="P_Dto1">@item.P_Dto1.ToString("0.#")</td>
					<td class="align-center tiny-row content-editable-td" contenteditable='true' onfocusin="focusOnTd(this);" id="P_Dto2">@item.P_Dto2.ToString("0.#")</td>
					<td class="align-center tiny-row content-editable-td" contenteditable='true' onfocusin="focusOnTd(this);" id="P_Dto3">@item.P_Dto3.ToString("0.#")</td>
					<td class="align-center tiny-row content-editable-td" contenteditable='true' onfocusin="focusOnTd(this);" id="P_Dto4">@item.P_Dto4.ToString("0.#")</td>
					<td class="align-center tiny-row content-editable-td" contenteditable='true' onfocusin="focusOnTd(this);" id="P_Dto_Pa">@item.P_Dto_Pa.ToString("0.#")</td>
					<td class="align-center tiny-row content-editable-td" contenteditable='true' onfocusin="focusOnTd(this);" id="P_Boni">@item.P_Boni</td>
					<td class="align-center tiny-row">@item.Pedido_Mas_Boni</td>
					<td class="align-center tiny-row">@item.P_Pcosto.ToString("0.##")</td>
					<td class="align-center tiny-row">@item.P_Pcosto_Total.ToString("0.##")</td>
					<td class="align-center tiny-row">@item.Paletizado.ToString("0.##")</td>
					<td><a class="btn btn-xs btn-outline-dark" data-interaction="@item.P_Id" onclick="quitarProductoEnOC(this);"> <i class="bx bxs-trash"></i></a></td>
				</tr>
			}
		</tbody>
	</table>
</div>
<div class="row">
	<div class="col-8">
	</div>
	<div class="col-4">
		<div class="input-group input-group-sm mt-1">
			<span class="input-group-text fixed-lbl-for-abm-100">Totales: </span>
			<input type="text" asp-for="Total_Costo" class="form-control" style="text-align: right;" disabled/>
			<input type="text" asp-for="Total_Pallet" class="form-control" style="text-align: right;" disabled />
		</div>
	</div>
</div>
<div class="row">
	<div class="col-4">
	</div>
	<div class="col-8">
		<div class="input-group input-group-sm mt-1">
			<span class="input-group-text fixed-lbl-for-abm-50">Dto1: </span>
			<input type="number" asp-for="Dto1" class="form-control" style="text-align: right;" min="0.1" max="50"/>
			<span class="input-group-text fixed-lbl-for-abm-50">Dto2: </span>
			<input type="number" asp-for="Dto2" class="form-control" style="text-align: right;" min="0.1" max="50" />
			<span class="input-group-text fixed-lbl-for-abm-50">Dto3: </span>
			<input type="number" asp-for="Dto3" class="form-control" style="text-align: right;" min="0.1" max="50" />
			<span class="input-group-text fixed-lbl-for-abm-50">Dto4: </span>
			<input type="number" asp-for="Dto4" class="form-control" style="text-align: right;" min="0.1" max="50" />
			<span class="input-group-text fixed-lbl-for-abm-50">DPA: </span>
			<input type="number" asp-for="Dpa" class="form-control" style="text-align: right;" min="0.1" max="50" step="0.1"/>
			<button id="btnAplicar" class="btn btn-dark btn-sm" style="margin-left:5px;margin-right: 5px;" type="button" title="Aplicar" onclick="AplicarSeteoMasivo();">
				<i class="bx bx-check-circle bx-xs"></i>
			</button>
			<div class="form-check form-check-inline form-switch" style="margin: 5px;">
				<input class="form-check-input" type="checkbox" name="FleteAPagar" id="chkFleteAPagar" />
				<label class="form-check-label" for="chkFleteAPagar">Flete a Pagar %</label>
			</div>
			<input type="number" asp-for="Flete" class="form-control" style="text-align: right;" min="0.1" max="50" step="0.1" />
		</div>
	</div>
</div>

@section scripts {
	<script type="text/javascript">
	</script>
	<script src="~/js/app/areas/ordendecompra/initocgrid.js"></script>
}