@model GridCoreSmart<InfoProdIExSemanaDto>
@{
}
<div class="table-responsive text-nowrap table-wrapper-200-full">
	<table class="table table-bordered table-hover" id="tbInfoProdIExSemana">
		<thead class="table-dark">
			<tr>
				<th rowspan="2" class="col-header-x-small align-center">Semana</th>
				<th colspan="3" class="col-header-x-small align-center">Ingresos</th>
				<th colspan="3" class="col-header-x-small align-center">Egresos</th>
			</tr>
			<tr>
				<th style="width:12%;" class="col-header-x-small align-center">Compra</th>
				<th style="width:12%;" class="col-header-x-small align-center">Ing RI</th>
				<th style="width:15%;" class="col-header-x-small align-center">Ing Otros</th>
				<th style="width:12%;" class="col-header-x-small align-center">Ventas</th>
				<th style="width:12%;" class="col-header-x-small align-center">Egr RI</th>
				<th style="width:15%;" class="col-header-x-small align-center">Egr Otros</th>
			</tr>
		</thead>
		<tbody>
			@if (Model != null && Model.ListaDatos != null)
			{
				@foreach (var item in Model.ListaDatos)
				{
					<tr onclick="selectListaInfoProdIExSemanaRow(this)">
						<td class="align-center tiny-row">@item.desde.ToString("dd/MM/yy")-@item.hasta.ToString("dd/MM/yy")</td>
						<td class="align-center tiny-row">@item.e_compra</td>
						<td class="align-center tiny-row">@item.e_ri</td>
						<td class="align-center tiny-row">@item.e_otros</td>
						<td class="align-center tiny-row">@item.s_ventas</td>
						<td class="align-center tiny-row">@item.s_ri</td>
						<td class="align-center tiny-row">@item.s_otros</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>