@model GridCore<InfoProdIExMesDto>
@{
}
<div class="table-responsive text-nowrap table-wrapper-200-full">
	<table class="table table-bordered table-hover" id="tbInfoProdIExMes">
		<thead class="table-dark">
			<tr>
				<th rowspan="2" class="col-header-x-small align-center">Período</th>
				<th colspan="3" class="col-header-x-small align-center">Ingresos</th>
				<th colspan="3" class="col-header-x-small align-center">Egresos</th>
			</tr>
			<tr>
				<th style="width:15%;" class="col-header-x-small align-center">Compras</th>
				<th style="width:15%;" class="col-header-x-small align-center">Ing RI</th>
				<th style="width:16%;" class="col-header-x-small align-center">Ing Otros</th>
				<th style="width:15%;" class="col-header-x-small align-center">Ventas</th>
				<th style="width:15%;" class="col-header-x-small align-center">Egr RI</th>
				<th style="width:16%;" class="col-header-x-small align-center">Egr Otros</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.ListaDatos)
			{
				<tr onclick="selectListaInfoProdIExMesRow(this)">
					<td class="align-center tiny-row">@item.periodo-@item.mes</td>
					<td class="align-center tiny-row">@item.e_compra</td>
					<td class="align-center tiny-row">@item.e_ri</td>
					<td class="align-center tiny-row">@item.e_otros</td>
					<td class="align-center tiny-row">@item.s_ventas</td>
					<td class="align-center tiny-row">@item.s_ri</td>
					<td class="align-center tiny-row">@item.s_otros</td>
				</tr>
			}
		</tbody>
	</table>
</div>