@model GridCoreSmart<gc.infraestructura.Dtos.Productos.InfoProdStkA>
@{
}
<div class="table-responsive text-nowrap table-wrapper-200-full">
	<table class="table table-bordered table-hover" id="tbInfoProdStkA">
		<thead class="table-dark">
			<tr>
				<th style="width:10%;" class="col-header-x-small align-center">ID</th>
				<th style="width:40%;" class="col-header-x-small align-center">Sucursal</th>
				<th style="width:10%;" class="col-header-x-small align-center">Stk</th>
				<th style="width:20%;" class="col-header-x-small align-center">Proy. Vtas. Mes</th>
				<th style="width:20%;" class="col-header-x-small align-center">Proy. Vtas. Día</th>

			</tr>
		</thead>
		<tbody>
			@if (Model != null && Model.ListaDatos != null)
			{
				@foreach (var item in Model.ListaDatos)
				{
					<tr onclick="selectListaInfoProdStkD(this)">
						<td class="align-center tiny-row">@item.Adm_id</td>
						<td class="align-left tiny-row">@item.Adm_nombre</td>
						<td class="align-center tiny-row">@item.Ps_stk</td>
						<td class="align-center tiny-row">@item.Proy_vtas</td>
						<td class="align-center tiny-row">@item.Proy_vtas_dia</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>