@model ResumenOCModel
@{
	var suc_entrega = Model.SucursalEntrega;
}
<div class="row">
	<div class="col-md-4">
		<div class="row mt-1">
			<div class="input-group input-group-sm">
				<span class="input-group-text fixed-lbl-for-abm-100">Entrega:</span>
				@Html.TextBoxFor(t => t.FechaEntrega, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control activable inputEditable", @onchange = "onChangeFechaEntrega(this);" })
				@Html.DropDownListFor(m => m.AdmId, suc_entrega, "Seleccionar...", new { @id = "listaSucEntrega", @class = "form-control activable", @onchange = "onChangeListaSucEntrega(this);" })
			</div>
		</div>
		<div class="row mt-1" style="margin-left: 0px;">
			<div class="form-check form-check-inline form-switch mb-2">
				<input class="form-check-input activable" type="checkbox" asp-for="PagoAnticipado" value="" id="chkPagoAnticipado">
				<label class="form-check-label" for="chkPagoAnticipado"> Pago Anticipado</label>
			</div>
		</div>
		<div class="row mt-1">
			<div class="input-group input-group-sm">
				<span class="input-group-text fixed-lbl-for-abm-100">Pago a plazo:</span>
				@Html.TextBoxFor(t => t.PagoPlazo, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control activable inputEditable", @onchange = "onChangePagoPlazo(this);" })
			</div>
		</div>
		<div class="row mt-1">
			<div class="input-group input-group-sm">
				<span class="input-group-text fixed-lbl-for-abm-10">Observaciones:</span>
				<input type="text" asp-for="Obs" class="form-control activable inputEditable" />
			</div>
		</div>
		<div class="row mt-1" style="margin-left: 0px;">
			<div class="form-check form-check-inline form-switch mb-2">
				<input class="form-check-input activable" type="checkbox" asp-for="DejarOCActiva" value="" id="chkDejarOCActiva">
				<label class="form-check-label" for="chkDejarOCActiva" style="color: red;"> DEJAR OC ACTIVA (NO podrá modificarla)</label>
			</div>
		</div>
	</div>
	<div class="col-md-4" id="divGridConcepto">
		<div class="row mt-1">
			<div class="card">
				<div class="card-body mt-1-ctm">
					<div class="table-responsive text-nowrap table-wrapper-300-full-width">
						<table class="table table-sm mb-0 table-hover" id="tbGridConcepto">
							<thead class="table-dark">
								<tr class="header">
									<th class="col-header-small align-left">Concepto</th>
									<th class="col-header-small align-right">Importe</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model.ResumenGrilla.ListaDatos)
								{
									<tr>
										<td class="align-left">@item.Concepto</td>
										<td class="align-right font-bold">@item.Importe</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>