@using static gc.infraestructura.Constantes.Constantes
@model OrdenDeCompraCargaDto
@{
	Layout = "~/views/shared/_Layout.cshtml";
	var filtro = new QueryFilters()
			{
				Rel01 = new List<string>(),
				Rel02 = new List<string>(),
				Rel03 = new List<ComboGenDto>(),
				Modelo = ModeloFilter.ORDEN_DE_COMPRA,
				Opt1 = false,
				Opt2 = false,
				Opt3 = false,
				Opt4 = false,
				Opt5 = false,
			};
}
@section styles {
	<link rel="stylesheet" href="~/css/simplePagination.css" />
}

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="d-flex justify-content-sm-around">
				<button id="btnFiltro" class="btn btn-primary btn-sm mt-1 me-1" type="button" data-bs-toggle="collapse" data-bs-target="#divFiltro" aria-expanded="true" aria-controls="divFiltro">
					<i class="bx bx-filter bx-xs"></i>
				</button>

				<button class="btn btn-primary btn-sm mt-1 me-1" type="button" id="btnDetalle" data-bs-toggle="collapse" data-bs-target="#divDetalle" aria-expanded="true" aria-controls="divDetalle">
					<i class="bx bx-arrow-to-bottom bx-xs"></i>
				</button>
			</div>
		</div>
		<div class="col-md-2">
			<div class="d-flex justify-content-sm-center">
				<button id="btnAbmAceptar" class="btn btn-success btn-sm mt-1 me-1" type="button" title="Aceptar" disabled>
					<i class="bx bx-check-circle bx-xs"></i>
				</button>

				<button id="btnAbmCancelar" class="btn btn-danger btn-sm mt-1 me-1" type="button" title="Cancelar" disabled>
					<i class="bx bx-x-circle bx-xs"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="collapse" id="divFiltro" style="">
		<partial name="_filtroBase" model="filtro" />
		@Html.Hidden("pagEstado", false);
	</div>
	<div class="collapse" id="divDetalle" style="">
		<div class="row">
			<div class="col-md-5">
				<div class="input-group input-group-sm mt-1" id="divProveedorSeleccionado">
					<span class="input-group-text fixed-lbl-for-abm-70">Cuenta: </span>
					<input type="text" id="CtaID" class="form-control" style="max-width: 100px;text-align: right;" disabled />
					<input type="text" id="CtaDesc" class="form-control" disabled />
				</div>
			</div>
			<div class="col-md-7">
				<div class="input-group input-group-sm mt-1">
					<span class="input-group-text fixed-lbl-for-abm-100">Lim. Semanal: </span>
					<input type="text" asp-for="Lim_Mensual" class="form-control align-right" style="background-color: darkturquoise; color: black;" disabled/>
					<span class="input-group-text fixed-lbl-for-abm-100">OC Emitidas: </span>
					<input type="text" asp-for="OC_Emitidas" class="form-control align-right" style="background-color: darkseagreen; color: black;" disabled />
					<span class="input-group-text fixed-lbl-for-abm-100">Tope de Emisión: </span>
					<input type="text" asp-for="Tope_Emision" class="form-control align-right" style="background-color: chocolate; color: black;" disabled />
				</div>
			</div>
		</div>
		<ul class="nav nav-tabs mt-2" role="tablist" id="tabsOrdenDeCompra">
			<li class="nav-item" role="presentation" id="tabProductos">
				<button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-home" aria-controls="navs-top-home" aria-selected="true" id="btnTabProductos">
					Productos
				</button>
			</li>
			<li class="nav-item" role="presentation" id="tabNuevaOC">
				<button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-profile" aria-controls="navs-top-profile" aria-selected="false" tabindex="-1" id="btnTabNuevaOC">
					Nueva OC
				</button>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane fade show active" id="navs-top-home" role="tabpanel">
				<div id="divListaProducto">
				</div>
			</div>
			<div class="tab-pane fade" id="navs-top-profile" role="tabpanel">
				<div id="divListaProductoNuevaOC">
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script type="text/javascript">
		var tipoDeOperacion = "OC";
		var totalRegs = 0;
		var pagRegs = 0;
		var pags = 0;
		var pagina = 1;
		var search = "";
		var funcCallBack = "BuscarProductos";
		var pIdSeleccionado = "";
		var ctaIdSelected = "";
		var ctaDescSelected = "";
		var ocIdSelected = "";
		var buscarFamiliaDesdeProveedorSeleccionadoUrl = "@Url.Action("BuscarFamiliaDesdeProveedorSeleccionado", "ordendecompra", new { area = "Compras" })";
		var buscarOCDesdeProveedorSeleccionadoUrl = "@Url.Action("CargarOCDesdeProveedorSeleccionado", "ordendecompra", new { area = "Compras" })";
		var autoComRel01Url = "@Url.Action("BuscarProvs", "ordendecompra", new { area = "Compras" })";
		var autoComRel02Url = "@Url.Action("BuscarRubros", "ordendecompra", new { area = "Compras" })";
		var autoComRel03Url = "@Url.Action("BuscarFlias", "ordendecompra", new { area = "Compras" })";
		var autoComRel04Url = "@Url.Action("BuscarOCPendientes", "ordendecompra", new { area = "Compras" })";
		var buscarMetadataURL = "@Url.Action("ObtenerDatosPaginacion", "ordendecompra", new { area = "Compras" })";
		var BuscarProductosURL = "@Url.Action("BuscarProductos", "ordendecompra", new { area = "Compras" })";
		var BuscarProductosTabOCURL = "@Url.Action("BuscarProductosTabOC", "ordendecompra", new { area = "Compras" })";
		var AgregarProductoEnOcURL = "@Url.Action("AgregarProductoEnOC", "ordendecompra", new { area = "Compras" })";
		var QuitarProductoEnOcURL = "@Url.Action("QuitarProductoEnOc", "ordendecompra", new { area = "Compras" })";
		var ObtenerTopesDeOcURL = "@Url.Action("ObtenerTopesDeOc", "ordendecompra", new { area = "Compras" })";
	</script>
	<script src="~/js/plugins/jquery.simplePagination.js"></script>
	<script src="~/js/app/areas/ordendecompra/ordendecompra.js"></script>
}
