@model GridCore<LimiteStkDto>

@{
    var dataMod = new LimiteStkDto();
    var alt = true;
    string clase = string.Empty;
    string sortDirInv = Model.SortDir.Equals("ASC") ? "DESC" : "ASC";
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive text-nowrap  table-wrapper-200">
            <table class="table table-sm mb-0 table-hover table-wrapper-fixed-head" id="tbGridLim">
                <thead class="table-dark">
                    <tr class="header">
                        <th scope="col">Sucursal</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Stk Min</th>
                        <th scope="col">Stk Max</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaDatos)
                    {
                        if (alt) { clase = "alt"; alt = false; } else { clase = string.Empty; alt = true; }

                        <tr class="@clase" onclick="selectReg(this,'tbGridLim')" ondblclick="selectAbmRegDbl(this,'tbGridLim')">
                            <td class="text-sm-center">@item.adm_id</td>
                            <td class="text-sm-start">@item.adm_lista</td>
                            <td class="text-sm-end">@item.p_stk_min</td>
                            <td class="text-sm-end">@item.p_stk_max</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>