@model GridCoreSmart<ProductoBarradoDto>

@{
    var dataMod = new ProductoBarradoDto();
    var alt = true;
    string clase = string.Empty;
    string sortDirInv = Model.SortDir.Equals("ASC") ? "DESC" : "ASC";
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive text-nowrap  table-wrapper-300">
            <table class="table table-sm mb-0 table-hover table-wrapper-fixed-head" id="tbGridBarr">
                <thead class="table-dark">
                    <tr class="header">
                        <th scope="col">Barrado</th>
                        <th scope="col">T.Barra</th>
                        <th scope="col">Un.Pres.</th>
                        <th scope="col">Un.Bto</th>
                        <th scope="col">Bto.Piso</th>
                        <th scope="col">Piso.Plt</th>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaDatos)
                    {
                        if (alt) { clase = "alt"; alt = false; } else { clase = string.Empty; alt = true; }
                        <!--ondblclick="selectAbmRegDbl(this,'tbGridBarr')"-->
                        <tr class="@clase" onclick="selectRegProd(this,'tbGridBarr')" >
                            <td class="text-sm-center">@item.p_id_barrado</td>
                            <td class="text-sm-start">@item.tba_desc</td>
                            <td class="text-sm-end">@item.p_unidad_pres</td>
                            <td class="text-sm-end">@item.p_unidad_x_bulto</td>
                            <td class="text-sm-end">@item.p_bulto_x_piso</td>
                            <td class="text-sm-end">@item.p_piso_x_pallet</td>                           
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>