@using System.Text
@model GridCore<ProductoListaDto>

@{
    var dataMod = new ProductoListaDto();
    var alt = true;
    StringBuilder clase = new StringBuilder();
    string sortDirInv = Model.SortDir.Equals("ASC") ? "DESC" : "ASC";
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive text-nowrap  table-wrapper">
            <table class="table table-sm mb-0 table-hover table-wrapper-fixed-head" id="tbGridProd">
                <thead class="table-dark">
                    <tr class="header">

                        <th scope="col">@nameof(dataMod.P_id)</th>
                        <th scope="col">@nameof(dataMod.P_desc)</th>
                        <th scope="col">@nameof(dataMod.Cta_id)</th>
                        <th scope="col">@nameof(dataMod.Cta_denominacion)</th>
                        <th scope="col">@nameof(dataMod.Cta_lista)</th>
                        <th scope="col">@nameof(dataMod.Rub_id)</th>
                        <th scope="col">@nameof(dataMod.Rub_desc)</th>
                        <th scope="col">@nameof(dataMod.Rub_lista)</th>
                        <th scope="col">@nameof(dataMod.P_activo)</th>
                        <th scope="col">@nameof(dataMod.P_activo_des)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaDatos)
                    {
                        clase.Clear();
                        if (alt) { clase.Append( "alt"); alt = false; } else { alt = true; }
                        switch (item.P_activo)
                        {
                            case "N":
                                clase.Append(" estilo-N");
                                break;
                            case "D":
                                clase.Append(" estilo-D");
                                break;
                            default:
                                clase.Append(" estilo-S");
                                break;
                        }

                        <tr class="@clase.ToString()" onclick="selectReg(this)" ondblclick="selectAbmRegDbl(this)">
                            <td class="text-sm-center" >@item.P_id</td>
                            <td class="text-sm-start">@item.P_desc</td>
                            <td class="text-sm-end">@item.Cta_id</td>
                            <td class="text-sm-start">@item.Cta_denominacion</td>
                            <td class="text-sm-start">@item.Cta_lista</td>
                            <td class="text-sm-end">@item.Rub_id</td>
                            <td class="text-sm-start">@item.Rub_desc</td>
                            <td class="text-sm-start">@item.Rub_lista</td>
                            <td class="text-sm-center">@item.P_activo</td>
                            <td class="text-sm-start">@item.P_activo_des</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>