@model GridCore<ProductoBarradoDto>

@{
    var dataMod = new ProductoBarradoDto();
    var alt = true;
    string clase = string.Empty;
    string sortDirInv = Model.SortDir.Equals("ASC") ? "DESC" : "ASC";
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive text-nowrap  table-wrapper">
            <table class="table table-sm mb-0 table-hover table-wrapper-fixed-head" id="tbGridProd">
                <thead class="table-dark">
                    <tr class="header">
                        <th scope="col">@nameof(dataMod.P_Id_barrado)</th>
                        <th scope="col">@nameof(dataMod.Tba_Desc)</th>
                        <th scope="col">@nameof(dataMod.P_Unidad_Pres)</th>
                        <th scope="col">@nameof(dataMod.P_Unidad_X_Bulto)</th>
                        <th scope="col">@nameof(dataMod.P_Bulto_X_Piso)</th>
                        <th scope="col">@nameof(dataMod.P_Piso_X_Pallet)</th>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaDatos)
                    {
                        if (alt) { clase = "alt"; alt = false; } else { clase = string.Empty; alt = true; }

                        <tr class="@clase" onclick="selectReg(this,'tbGridLim')">
                            <td class="text-sm-center">@item.P_Id_barrado</td>
                            <td class="text-sm-start">@item.Tba_Desc</td>
                            <td class="text-sm-end">@item.P_Unidad_Pres</td>
                            <td class="text-sm-start">@item.P_Unidad_X_Bulto</td>
                            <td class="text-sm-start">@item.P_Bulto_X_Piso</td>
                            <td class="text-sm-end">@item.P_Piso_X_Pallet</td>                           
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>