@using System.Text
@using static gc.infraestructura.Constantes.Constantes
@model GridCore<ProductoListaDto>

@{
    var dataMod = new ProductoListaDto();
    var alt = true;
    string clase = string.Empty;
    string color = string.Empty;
    string sortDirInv = Model.SortDir.Equals("ASC") ? "DESC" : "ASC";
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive text-nowrap  table-wrapper">
            <table class="table table-sm mb-0 table-hover table-wrapper-fixed-head" id="tbGridProd">
                <thead class="table-dark">
                    <tr class="header">

                        <th scope="col">@nameof(dataMod.P_id)</th>
                        <th scope="col">@nameof(dataMod.P_desc)</th>
                        <th scope="col">@nameof(dataMod.Cta_id)</th>
                        <th scope="col">@nameof(dataMod.Cta_denominacion)</th>
                        <th scope="col">@nameof(dataMod.Cta_lista)</th>
                        <th scope="col">@nameof(dataMod.Rub_id)</th>
                        <th scope="col">@nameof(dataMod.Rub_desc)</th>
                        <th scope="col">@nameof(dataMod.Rub_lista)</th>
                        <th scope="col">@nameof(dataMod.P_activo)</th>
                        <th scope="col">@nameof(dataMod.P_activo_des)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaDatos)
                    {
                        if (alt) { clase = "alt"; alt = false; } else { clase = ""; alt = true; }
                        switch (item.P_activo)
                        {
                            case "N":
                                color = EstadoColor.NoActivo;
                                break;
                            case "D":
                                color = EstadoColor.Discontinuo;
                                break;
                            default:
                                color = EstadoColor.Activo;
                                break;
                        }
                        <tr class="@clase" onclick="selectRegProd(this,'tbGridProd')" ondblclick="selectAbmRegDbl(this,'tbGridProd')">
                            <td class="text-sm-center" style="border-left: 5px solid @color;text-align: left;">@item.P_id</td>
                            <td class="text-sm-start">@item.P_desc</td>
                            <td class="text-sm-end">@item.Cta_id</td>
                            <td class="text-sm-start">@item.Cta_denominacion</td>
                            <td class="text-sm-start">@item.Cta_lista</td>
                            <td class="text-sm-end">@item.Rub_id</td>
                            <td class="text-sm-start">@item.Rub_desc</td>
                            <td class="text-sm-start">@item.Rub_lista</td>
                            <td class="text-sm-center">@item.P_activo</td>
                            <td class="text-sm-start">@item.P_activo_des</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row m-3">
            <table style="width:100px;text-align:center">
                <tr><td colspan="3" class="text-md-center"><strong>PRODUCTOS</strong></td></tr>
                <tr>
                    <td style="background-color: @EstadoColor.Activo;color:#FFFFFF;font-weight:600;display:block;">ACTIVO</td>
                    <td style="background-color: @EstadoColor.NoActivo;color:#FFFFFF;font-weight:600;display:block;">NO ACTIVO</td>
                    <td style="background-color: @EstadoColor.Discontinuo;color:#FFFFFF;font-weight:600;display:block;">DISCONTINUO</td>
                </tr>
            </table>
        </div>
    </div>
</div>