@model ProductoDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var list = new List<ComboGenDto> { new ComboGenDto { Id = "S", Descripcion = "ACTIVO" }, new ComboGenDto { Id = "N", Descripcion = "NO ACTIVO" }, new ComboGenDto { Id = "D", Descripcion = "DISCONTINUO" } };
    var listAct = new SelectList(list, "Id", "Descripcion");
}

<div class="row">
    <div class="col-md-7">

        @Html.HiddenFor(x => x.p_balanza_id)

        @Html.HiddenFor(x => x.p_actu)


        <!--Linea 01-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">ID </span>
                    <input type="text" asp-for="p_id" class="form-control" disabled style="width:50px;margin-right:20px;" />
                    <span class="input-group-text">Estado</span>
                    @Html.DropDownListFor(x => x.p_activo, listAct, "Sel.", new { @class = "form-control", style = "width:50px;", disabled = "disabled" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">Un.Med: </span>
                    @Html.DropDownListFor(x => x.up_id, null, "Selecciona...", new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
        <!--Linea 02-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">Marca </span>
                    <input type="text" asp-for="p_m_marca" class="form-control inputEditable" disabled />
                </div>
            </div>
            <div class="col-sm-2">
                <div class="input-group input-group-sm">
                    <div class="form-check form-check-inline form-switch mb-2">
                        <input class="form-check-input" type="checkbox" asp-for="PBalanza" disabled />
                        <label class="form-check-label" for="pBalanza">Balanza</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">Días Vto </span>
                    <input type="number" min="0" class="form-control inputEditable_r" asp-for="p_balanza_dvto" disabled />
                </div>
            </div>

            <div class="col-sm-2">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">Peso </span>
                    <input type="number" min="0" class="form-control inputEditable_r" asp-for="p_peso" disabled />
                </div>
            </div>

        </div>
        <!--Linea 03-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">Desc.</span>
                    <input type="text" asp-for="p_m_desc" class="form-control inputEditable" disabled />
                </div>
            </div>
            <div class="col-sm-2">
                <div class="input-group input-group-sm">
                    <div class="form-check form-check-inline form-switch mb-2">
                        <input class="form-check-input" type="checkbox" asp-for="PConVto" disabled />
                        <label class="form-check-label" for="pConVto">Vto Stk</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">Días Vto </span>
                    <input type="number" min="0" class="form-control inputEditable_r" asp-for="p_con_vto_min" disabled />
                </div>
            </div>
        </div>

        <!--Linea 04-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">Capac.</span>
                    <input type="text" asp-for="p_m_capacidad" class="form-control inputEditable" style="width:50px;" disabled />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <div class="form-check form-check-inline form-switch mb-2">
                        <input class="form-check-input" type="checkbox" asp-for="PAltaRotacion" disabled />
                        <label class="form-check-label" for="pAltaRot">Alta Rotación</label>
                    </div>
                </div>
            </div>
        </div>
        <!--Linea 05-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">ID Prov.</span>
                    <input type="text" asp-for="p_id_prov" class="form-control inputEditable" style="width:50px;" disabled />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-check form-check-inline form-switch mb-2">
                    <input class="form-check-input " type="checkbox" asp-for="PMatPri" disabled />
                    <label class="form-check-label" for="pMatPri">Materia Prima</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-check form-check-inline form-switch mb-2">
                    <input class="form-check-input" type="checkbox" asp-for="PElaboracion" disabled />
                    <label class="form-check-label" for="pElabora">Elaboración Propia</label>
                </div>
            </div>
        </div>
        <!--Linea 06-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">Prov.</span>
                    <input type="text" asp-for="cta_lista" class="form-control inputEditable" disabled />
                    @Html.HiddenFor(x => x.cta_id)
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-check form-check-inline form-switch mb-2">
                    <input class="form-check-input" type="checkbox" asp-for="AdmMayExcluye" disabled />
                    <label class="form-check-label" for="admMayExcl" id="lbRel01">Excluye Minorista</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-check form-check-inline form-switch mb-2">
                    <input class="form-check-input" type="checkbox" asp-for="AdmMinExcluye" disabled />
                    <label class="form-check-label" for="admMinExcl" id="lbRel01">Excluye Mayorista</label>
                </div>
            </div>

        </div>
        <!--Linea 07-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">Familia</span>
                    @Html.DropDownListFor(x => x.pg_id, null, "Seleccionar...", new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-check form-check-inline form-switch mb-2">
                    <input class="form-check-input" type="checkbox" asp-for="PiAutoExluye" disabled />
                    <label class="form-check-label" for="piAutoExcl">Excluye PI Auto</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-check form-check-inline form-switch mb-2">
                    <input class="form-check-input" type="checkbox" asp-for="OcAutoExluye" disabled />
                    <label class="form-check-label" for="pNoSe">Excluye OC Auto</label>
                </div>
            </div>
        </div>
        <!--Linea 08-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">Rubro</span>
                    <input type="text" asp-for="rub_lista" class="form-control inputEditable" disabled />
                    @Html.HiddenFor(x => x.rub_id)
                </div>
            </div>
            <div class="col-sm-2">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">IVA</span>
                    @Html.DropDownListFor(x => x.iva_situacion, null, "Selecciona...", new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            <div class="col-sm-2">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">Ali.IVA</span>
                    @Html.DropDownListFor(x => x.iva_alicuota, null, "Selecciona...", new { @class = "form-control align-center", disabled = "disabled" })
                </div>
            </div>
            <div class="col-sm-2">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">II:</span>
                    <input type="number" min="0" max="50" asp-for="in_alicuota" class="form-control inputEditable_r" disabled style="width:50px;" />
                </div>
            </div>
        </div>
        <!--Linea 09-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">LPxD</span>
                    @Html.DropDownListFor(x => x.lp_id_default, null, "Selecciona...", new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            
        </div>
        <!--Linea 10-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">EAN</span>
                    <input type="text" asp-for="p_id_barrado_ean" class="form-control inputEditable" disabled />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">UxP</span>
                    <input type="text" asp-for="p_unidad_pres_ean" class="form-control inputEditable_r barr" disabled />
                    <span class="input-group-text" style="width:50px;">UxB</span>
                    <input type="text" asp-for="p_unidad_x_bulto_ean" class="form-control inputEditable_r barr" disabled />
                    <span class="input-group-text" style="width:50px;">BxP</span>
                    <input type="text" asp-for="p_bulto_x_piso_ean" class="form-control inputEditable_r barr" disabled />
                    <span class="input-group-text" style="width:50px;">PxP</span>
                    <input type="text" asp-for="p_piso_x_pallet_ean" class="form-control inputEditable_r barr" disabled />
                </div>
            </div>
        </div>
        <!--Linea 11-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">DUN</span>
                    <input type="text" asp-for="p_id_barrado_dun" class="form-control inputEditable" disabled />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">UxP</span>
                    <input type="text" asp-for="p_unidad_pres_dun" class="form-control inputEditable_r barr" disabled />
                    <span class="input-group-text" style="width:50px;">UxB</span>
                    <input type="text" asp-for="p_unidad_x_bulto_dun" class="form-control inputEditable_r barr" disabled />
                    <span class="input-group-text" style="width:50px;">BxP</span>
                    <input type="text" asp-for="p_bulto_x_piso_dun" class="form-control inputEditable_r barr" disabled />
                    <span class="input-group-text" style="width:50px;">PxP</span>
                    <input type="text" asp-for="p_piso_x_pallet_dun" class="form-control inputEditable_r barr" disabled />
                </div>
            </div>
        </div>
        <!--Linea 12-->
        <div class="row mt-1">
            <div class="col-sm-12">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">Obs:</span>
                    <input type="text" asp-for="p_obs" class="form-control inputEditable" disabled />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row mt-1">
            <div id="divBarrado"></div>
        </div>
        <div class="row mt-1">
            <div id="divSucursal"></div>
        </div>
    </div>
</div>
