@model ProductoDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var list = new List<ComboGenDto> { new ComboGenDto { Id = "S", Descripcion = "S" }, new ComboGenDto { Id = "N", Descripcion = "N" }, new ComboGenDto { Id = "D", Descripcion = "D" } };
    var listAct = new SelectList(list, "Id", "Descripcion");

    //reglas iniciales
    //-BALANZA
    string balDis = "";
    bool balVal = false;
    if (Model.Up_Id.Equals("07"))
    {
        balDis = "disabled";
    }
    else
    {
        if (Model.P_Balanza.Equals("S"))
        {
            balVal = true;
        }
    }

}

<div class="row">
    <div class="col-md-8">
        <!--Linea 01-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">ID </span>
                    <input type="text" asp-for="P_Id" class="form-control" disabled style="width:50px;margin-right:20px;" />
                    <span class="input-group-text">Activo</span>
                    @Html.DropDownListFor(x => x.P_Activo, listAct, "Sel.", new { @class = "form-control", style = "width:50px;", disabled = "disabled" })
                   @*  <div class="form-check">
                        <!--form-check-inline form-switch-->
                        <input class="form-check-input tristate" type="checkbox" id="p_activo" />
                        <label class="form-check-label" for="p_activo">Activo</label>
                    </div> *@
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">Un.Med: </span>
                    @Html.DropDownListFor(x => x.Up_Id, null, "Selecciona...", new { @class = "form-control", disabled = "disabled"  })
                </div>
            </div>
        </div>
        <!--Linea 02-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">Marca </span>
                    <input type="text" asp-for="P_M_Marca" class="form-control" disabled />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <div class="form-check form-check-inline form-switch mb-2">
                        <input class="form-check-input" type="checkbox" name="pBalanza" value='@Model.P_Balanza=="S"' id="pBalanza"  />
                        <label class="form-check-label" for="pBalanza">Balanza</label>
                    </div>
                    <span class="input-group-text">Días Vto </span>
                    <input type="number" min="0" class="form-control" asp-for="P_Balanza_Dvto" disabled />
                    <span class="input-group-text">Peso </span>
                    <input type="number" min="0" class="form-control" asp-for="P_Peso" disabled/>
                </div>
            </div>
        </div>
        <!--Linea 03-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">Desc.</span>
                    <input type="text" asp-for="P_Desc" class="form-control" disabled/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <div class="form-check form-check-inline form-switch mb-2">
                        <input class="form-check-input" type="checkbox" name="pConVto" value='@Model.P_Con_Vto' id="pConVto" />
                        <label class="form-check-label" for="pConVto">Vto Stk</label>
                    </div>
                    <span class="input-group-text">Días Vto </span>
                    <input type="number" min="0" class="form-control" asp-for="P_Con_Vto_Min" disabled />
                </div>
            </div>
        </div>
        <!--Linea 04-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">Capac.</span>
                    <input type="text" asp-for="P_M_Capacidad" class="form-control" style="width:50px;" disabled/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <div class="form-check form-check-inline form-switch mb-2">
                        <input class="form-check-input" type="checkbox" name="pAltaRot" value='@Model.P_Alta_Rotacion=="S"' id="pAltaRot" />
                        <label class="form-check-label" for="pAltaRot">Alta Rotación</label>
                    </div>
                </div>
            </div>
        </div>
        <!--Linea 05-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">ID Prov.</span>
                    <input type="text" asp-for="P_Id_Prov" class="form-control" style="width:50px;" disabled/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-check form-check-inline form-switch mb-2">
                    <input class="form-check-input" type="checkbox" asp-for="PMatPri" />
                    <label class="form-check-label" for="pMatPri">Materia Prima</label>
                </div>
                <div class="form-check form-check-inline form-switch mb-2">
                    <input class="form-check-input" type="checkbox" asp-for="PElaboracion" />
                    <label class="form-check-label" for="pElabora">Elaboración Propia</label>
                </div>
            </div>
        </div>
        <!--Linea 06-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">Prov.</span>
                    <input type="text" asp-for="Cta_Lista" class="form-control" disabled/>
                    @Html.HiddenFor(x => x.Cta_Id)
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-check form-check-inline form-switch mb-2">
                    <input class="form-check-input" type="checkbox" name="admMayExcl" value='@Model.Adm_May_Excluye=="S"' id="admMayExcl" />
                    <label class="form-check-label" for="admMayExcl" id="lbRel01">Excluye Minorista</label>
                </div>
                <div class="form-check form-check-inline form-switch mb-2">
                    <input class="form-check-input" type="checkbox" name="admMinExcl" value='@Model.Adm_Min_Excluye=="S"' id="admMinExcl" />
                    <label class="form-check-label" for="admMinExcl" id="lbRel01">Excluye Mayorista</label>
                </div>
            </div>
        </div>
        <!--Linea 07-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">Familia</span>
                    @Html.DropDownListFor(x => x.Pg_Id, null, "Seleccionar...", new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-check form-check-inline form-switch mb-2">
                    <input class="form-check-input" type="checkbox" name="piAutoExcl" value='@Model.Pi_Auto_Excluye=="S"' id="piAutoExcl" />
                    <label class="form-check-label" for="piAutoExcl">Excluye PI Auto</label>
                </div>
                <div class="form-check form-check-inline form-switch mb-2">
                    <input class="form-check-input" type="checkbox" name="pNoSe" value='@Model.Lp_Id_Default=="S"' id="pNoSe" />
                    <label class="form-check-label" for="pNoSe">Excluye OC Auto</label>
                </div>
            </div>
        </div>
        <!--Linea 08-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">Rubro</span>
                    <input type="text" asp-for="Rub_Lista" class="form-control" disabled />
                    @Html.HiddenFor(x => x.Rub_Id)
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">IVA</span>
                    @Html.DropDownListFor(x => x.Iva_Situacion, null, "Selecciona...", new { @class = "form-control", disabled="disabled"})

                    <span class="input-group-text" style="width:50px;">Ali.IVA</span>
                    @Html.DropDownListFor(x => x.Iva_Alicuota, null, "Selecciona...", new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
        <!--Linea 09-->
        <div class="row mt-1">
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">LPxD</span>
                    @Html.DropDownListFor(x => x.Lp_Id_Default, null, "Selecciona...", new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">II:</span>
                    <input type="text" asp-for="In_Alicuota" class="form-control" disabled style="width:50px;" />
                </div>
            </div>
        </div>
        <!--Linea 10-->
        <div class="row mt-1">
            <div class="col-sm-12">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" style="width:50px;">Obs:</span>
                    <input type="text" asp-for="P_Obs" class="form-control" disabled />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row mt-1">
            <div id="divBarrado"></div>
        </div>
        <div class="row mt-1">
            <div id="divSucursal"></div>
        </div>
    </div>
</div>